[2019-03-08 02:01] Piedone opened #33 "Q# compilation fails if user name contains accented characters"
Similarly to #48 compilation also throws errors if your username is "Zoltán", most possibly due to an accented character being there. However, I'm not sure; I just know that this fails, while a user account named "Qsharp" works.

Specifically when I try to build the samples I get errors of this sort for all projects:

There are a few with error code -2 too:

Should this rather go to https://quantu

[2019-03-13 21:25] jclapis opened #458 "Escape sequences in string literals are not interpreted"
According to [the documentation for strings](https://docs.microsoft.com/en-us/quantum/language/expressions?view=qsharp-preview#string-expressions) in Q#, we should be able to write whitespace characters like \r\n and \t by using a backslash as the escape character, just like C# strings. I tried writing a few of these strings and called [Message()](https://docs.microsoft.com/en-us/qsharp/api/prelud

[2019-04-08 20:39] Strilanc opened #30 "Augment slice notation with an alternative that excludes the stop index"
My Q# programs are filled with unnecessary `-1`s because the slice `a..b` includes `b` instead of stopping at `b-1`. I recommend [copying ruby](http://ruby-doc.org/core-2.1.3/Range.html) and adding the alternative `a...b` to exclude `b`.

It would also be useful to have "open slices" like `a..` and `..b`. For example, `array[a..]` would be equivalent to `array[a..Length(array)-1]`.

[2019-07-11 17:12] Strilanc opened #29 "Allow function overloading"
When writing arithmetic functions, it seems common to have variants specialized to `int`, `BigInt`, and `LittleEndian`. It's confusing to have to remember different names for these functions, instead of just having one standard name with disambiguation via the type system.

[2019-07-11 17:19] Strilanc opened #31 "Make custom inline arithmetic operators possible"
A major source of boilerplate and typos and readability issues in my Q# programs is having to write things like this:

[code]

Instead of this:

[code]

Or this:

[code]

instead of this:

[code]

I would find it very useful if there were some mechanism to fix that. There are many possible ways to do so. For example, a pattern matching system:

[code]

[2019-07-11 17:20] jclapis opened #32 "Whitespace characters aren't escaped properly in Message()"
According to [the documentation for strings](https://docs.microsoft.com/en-us/quantum/language/expressions?view=qsharp-preview#string-expressions) in Q#, we should be able to write whitespace characters like \r\n and \t by using a backslash as the escape character, just like C# strings. I tried writing a few of these strings and called [Message()](https://docs.microsoft.com/en-us/qsharp/api/prelud

[2019-07-11 18:25] bettinaheim commented on #30
I am happy to say that as of Q# 0.8, open ranges are supported as contextual expressions for array slicing. We will update our docs shortly. This is the PR adding the documentation of the new capability to our docs: https://github.com/MicrosoftDocs/quantum-docs-pr/pull/459.

@Strilanc Let me know if you have any questions or other thoughts, and welcome to the Q# compiler repo! :)

[2019-07-11 18:26] #30 closed

[2019-07-11 18:33] bettinaheim opened #36 "Ranges with exclusive end"
This issue has been create based on the issue originally filed by @Strilanc: https://github.com/microsoft/qsharp-compiler/issues/30

"My Q# programs are filled with unnecessary -1s because the slice a..b includes b instead of stopping at b-1. I recommend copying ruby and adding the alternative a...b to exclude b."

[2019-07-11 18:35] bettinaheim commented on #36
Note that changes to the Q# language are subject to our language design process. At this point we are not ready for contributions implementing this feature yet. This issue will migrate to the appropriate repository in the near future and be discussed there.

[2019-07-11 18:47] bettinaheim commented on #31
Thank you for your input!
We are considering providing support for (de-facto) operator overloading in the future. Such a support could potentially be achieved via the infrastructure needed for other language features we are considering - e.g. type specializations. A patten matching mechanism is certainly interesting to look into as well. In any case, it will likely take some time before we can pot

[2019-07-11 18:47] bettinaheim commented on #31
Note that changes to the Q# language are subject to our language design process. At this point we are not ready for contributions implementing this feature yet. This issue will migrate to the appropriate repository in the near future and will be processed there.

[2019-07-11 18:52] bettinaheim commented on #29
We have temporarility moved this issue to the compiler repository for tracking.
This issue will migrate to the appropriate repository in the near future and will be processed there.
At this point we are not ready for contributions implementing this feature yet.

[2019-07-11 20:06] bettinaheim commented on #33
Thank you for reporting & welcome to the Q# compiler repo!
We'll take a look, but it might take some time with a lot of exciting things going on, like the creation of this public repo. :) With everything being open source now, there is of course always a chance that someone from the community might lend us a helping hand!

[2019-07-12 21:58] bettinaheim opened #40 "Docs gen fails if previously generated docs file exist in the same folder"
**Describe the bug**

Running documentation generation twice in a row causes the second execution to fail due to a "key already exists" exception.

**To Reproduce**

1. Call the command line compiler specifying --doc "someFolder" (should build fine)
2. Do the same things again without deleting "someFolder" (fails)

**Expected behavior**

I think the best thing would be to just silently replace any

[2019-07-12 23:25] alan-geller commented on #40
This might need some diagnosis as well as a (probably simple) code fix. Doc gen output files are always opened with mode Create, which should truncate and overwrite if the file exists and create a new file if the file doesn't exist.
One diagnostic tip is to provide a log file name to DoIgnoringExceptions in the Utils.cs file; this will write file-related exceptions (which can include file not foun

[2019-07-15 18:07] cgranade opened #42 "Provide additional help when unknown identifier caused by missing open statement"
**Is your feature request related to a problem? Please describe.**
When compiling Q# (either as a part of a project, or through IQ#), if an unknown identifier error is caused by forgetting an open statement, it would be great if that could be hinted at in the error message itself. This information is already available through code actions, but that may not be obvious when refactoring a larger proj

[2019-07-15 18:51] tcNickolas commented on #42
It would also be useful to just mention the non-existing name instead of referring to it as "that name"; for Q# projects we can see IntelliSense underlining the name or double-click on the error message to navigate to it, but in Jupyter Notebooks there are only line/character numbers which are rather inconvenient.

[2019-07-15 21:47] cgranade commented on #42
That's a good point, @tcNickolas, totally agreed. I've modified the desired solution in my feature request accordingly.

[2019-07-15 22:26] bettinaheim commented on #42
Thanks, both for filing!
I tagged it as a bug, since this is a quick and easy thing for anybody to pick up without requiring further discussions on how to best do this. The corresponding infrastructure is already there, since that exact information is used for code actions on unknown identifiers.
For anyone picking this up, I can give more precise info if desired.

[2019-07-15 23:44] bettinaheim opened #43 "Support for conjugation statements"
We would like to define on one hand syntactic sugar that allows to more conveniently express what currenently needs to be expressed as call to the combinators With, WithA, WithC, WithAC [defined in our libraries](https://github.com/microsoft/QuantumLibraries/blob/e6885b1949f485c669a7eeebb2bd878af29d796c/Standard/src/Canon/Combinators/With.qs). On the other hand, the pattern is relevant for optimiz

[2019-07-16 16:46] bettinaheim commented on #43
Working on it here: https://github.com/microsoft/qsharp-compiler/tree/beheim/withStatements

[2019-07-16 16:57] bettinaheim opened #44 "Support for Code Completion"
The Q# integration into Visual Studio via the extension in this repository currently does not provide any code completion suggestions while typing, while the native completion for text documents is available in VS Code. The goal is for the language server to provide completion suggestions informed by the compiler.

[2019-07-16 17:17] bettinaheim commented on #44
Since this is a larger endeavor, I create a feature branch to PR against: https://github.com/microsoft/qsharp-compiler/tree/features/codeCompletion

[2019-07-16 18:46] bettinaheim opened #45 "Constant Folding"
We gradually want to incorporate some of the compilation steps and optimizations usually done for classical programming languages (opposed to quantum programming languages) into the Q# compiler. While our focus is naturally on different aspects of a program when compiling and optimizing for execution on a quantum processor, we still need some of the classical infrastructure as well.
In particular,

[2019-07-16 18:48] bettinaheim opened #46 "Operation Inlining"
We gradually want to incorporate some of the compilation steps and optimizations usually done for classical programming languages (opposed to quantum programming languages) into the Q# compiler. While our focus is naturally on different aspects of a program when compiling and optimizing for execution on a quantum processor, we still need some of the classical infrastructure as well.
In particular,

[2019-07-16 18:49] bettinaheim opened #47 "Loop Unrolling"
We gradually want to incorporate some of the compilation steps and optimizations usually done for classical programming languages (opposed to quantum programming languages) into the Q# compiler. While our focus is naturally on different aspects of a program when compiling and optimizing for execution on a quantum processor, we still need some of the classical infrastructure as well.
In particular,

[2019-07-16 18:55] bettinaheim commented on #47
Since this task is part of a larger piece containing the first steps to set up some infrastructure for a full compilation process, I set up a feature branch to PR again here: https://github.com/microsoft/qsharp-compiler/tree/features/classicalCompilerOptimizations
Such a feature branch may contain parts of a task and/or experimental implementations with the intent to eventually merge it back to ma

[2019-07-16 18:55] bettinaheim commented on #46
Since this task is part of a larger piece containing the first steps to set up some infrastructure for a full compilation process, I set up a feature branch to PR again here: https://github.com/microsoft/qsharp-compiler/tree/features/classicalCompilerOptimizations
Such a feature branch may contain parts of a task and/or experimental implementations with the intent to eventually merge it back to ma

[2019-07-16 18:56] bettinaheim commented on #45
Since this task is part of a larger piece containing the first steps to set up some infrastructure for a full compilation process, I set up a feature branch to PR again here: https://github.com/microsoft/qsharp-compiler/tree/features/classicalCompilerOptimizations
Such a feature branch may contain parts of a task and/or experimental implementations with the intent to eventually merge it back to ma

[2019-07-16 19:05] bettinaheim opened #48 "Indentation in Visual Studio"
When adding a new line to a code file, the editor usually inserts a suitable indentation for that line. It would be nice to improve the default behavior for Q# in Visual Studio in that regard.
See the comment(s) below for more details.

[2019-07-17 21:57] marshallsa opened #50 "Operations with the same specialization defined twice cause a language server error"
**Describe the bug**

When an operation has the same specialization defined twice, the language server has an error:

[code]

**To Reproduce**

This Q# file causes the error:

[code]

**Expected behavior**

The duplicate specialization should still have a red squiggly underline like it does now, but there shouldn't be a Q# language server error message.

**Screenshots**

**System information**

-

[2019-07-17 22:22] marshallsa opened #51 "openExternal is not defined for vscode.env in the Visual Studio Code extension"
**Describe the bug**

Visual Studio Code says that `openExternal` isn't defined:

[code]

When I open the extension in debug mode it also pops up a message saying there's an error, and I have to click "Debug Anyway" to continue.

**To Reproduce**

1. Open the VSCodeExtension folder in Visual Studio Code
2. Open src/dotnet.ts or try to open the extension in debug mode

**Expected behavior**

The ex

[2019-07-18 14:37] cgranade commented on #51
This sounds like it could be a type checker bug, as we recently bumped the engine version. Does the issue persist if you rerun `npm install` in the extension package directory?

[2019-07-18 18:04] marshallsa commented on #51
Oh, I had to run bootstrap.ps1 again before I ran `npm install`, but then it started working. Sorry about that!

[2019-07-18 18:04] #51 closed

[2019-07-18 18:18] cgranade commented on #51
No worries at all, happy I could help!

[2019-07-20 04:03] bettinaheim opened #54 "Stackoverflow for large files (20000+ lines of code)"
File based on a bug reported to directly to me:

**Describe the bug**
The compiler fails with a stackoverflow for long files (more than 20000 lines of code).

**To Reproduce**
Source code to reproduce the problem was provided via the appropriate channels.

**System information**
irrelevant

[2019-07-20 04:06] bettinaheim commented on #54
Should be fixed with https://github.com/microsoft/qsharp-compiler/pull/55.

[2019-07-20 22:53] bettinaheim opened #57 "VS Code extension build failing on Mac"
**Describe the bug**

Running Build-Dependencies.ps1 on Mac fails with an error "/bin/mkdir: illegal option -- P" and subsequent CopyContainerItemToLeafErrors when copying the published language server into the bin folder.

**To Reproduce**

Run Build-Dependencies.ps1 on Mac.

**System information**

- Mac/Linus OS

[2019-07-21 00:29] bettinaheim commented on #54
Should be addressed.

[2019-07-21 00:29] #54 closed

[2019-07-21 00:31] bettinaheim commented on #57
Should be addressed with https://github.com/microsoft/qsharp-compiler/pull/56.

[2019-07-21 00:31] #57 closed

[2019-07-21 16:07] bettinaheim opened #58 "VS Code extension won't package powershell is not a recognized command"
**Describe the bug**
For packaging the VS Code extension, package.json relies on the existence of the "powershell" command for the prepublish step.

**Expected behavior**
It would be nice if the packaging worked on systems where powershell is installed but needs to be invoked via "pwsh".

**System information**
Mac OS

[2019-07-21 18:52] #58 closed

[2019-07-21 20:05] #48 closed

[2019-07-22 22:24] ScottCarda opened #61 "Array Range Ellipsis Syntax Suggestions"
We want to add code action that will simplify array index range expressions.

Examples:
"ary[0..2..Length(ary)-1]" **would become** "ary[...2...]"
"ary[Length(ary)-1..-2..0]" **would become** "ary[...-2...]"
"ary[5..2..Length(ary)-1]" **would become** "ary[5..2...]"
"ary[0..2..5]" **would become** "ary[...2..5]"
"ary[5..Length(ary)-1]" **would become** "ary[5...]"
"ary[0..5]" **would become** "ary

[2019-07-22 22:25] davidOSUL opened #62 "Bootstrap script is not signed"
**Describe the bug**
When running the bootstrap script, powershell will issue an error saying it cannot be run because the script is not digitally signed
**To Reproduce**

Clone the repo and try to run the bootstrap script on a machine with execution policy set to remotesigned

**Expected behavior**
script runs as normal because it is signed

**Workaround**
Run PS as admin and run "set-executionpo

[2019-07-22 22:27] ScottCarda commented on #61
The branch I am working on this issue is:
https://github.com/ScottCarda/qsharp-compiler/tree/sccarda/arryRangeCA

[2019-07-22 22:29] cgranade commented on #62
Thanks for the report! If I understand right, this should only affect Windows systems, as PowerShell on non-Windows platforms doesn't use AuthentiCode signing? As an alternative workaround, `Unblock-File` should remove the zone information from the bootstrap script so that it can run under `RemoteSigned` and lower polices.

[2019-07-22 22:43] miwertz opened #64 "Code action for deprecated unit type"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

-- "()" being used for type and value

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

-- show code action that replaces the deprecated unit type "()" with "Unit"

**Describe alternatives y

[2019-07-22 23:14] ryan-moreno opened #65 "Code action for deprecated "not", "and", and "or""

[2019-07-22 23:23] tmcrain opened #66 "[hack] Adding textDocument\foldingRange support for the language server"
**Is your feature request related to a problem? Please describe.**
Being able to collapse long docstrings/adjacent single line comments/adjacent open statements into single lines can greatly improve readability (prime example: [Quantum Katas, Basic Gates task](https://github.com/microsoft/QuantumKatas/blob/master/BasicGates/Tasks.qs)).

**Describe the solution you'd like**
Support for the [textDoc

[2019-07-23 06:05] cgranade opened #68 "Treat Range as a built-in UDT"
**Is your feature request related to a problem? Please describe.**
The `Range` type effectively acts as a UDT, in that it consists of three `Int` values. Unlike UDTs, however, `Range` values cannot be unpacked in destructuring assignments, and its items cannot be accessed using `::`. This motivates the need for the `RangeStart`, `RangeStep`, and `RangeEnd` functions.

**Describe the solution you'd

[2019-07-23 16:12] bettinaheim commented on #68
I'd like to properly discuss this and possible implications once we migrate to a design repo. I don't think there is any rush with this one, so I'll just leave this here in the meantime.

[2019-07-23 17:01] cgranade commented on #68
Makes perfect sense! I just wanted to file this one so we don't forget, and to give a place to start the discussion.

[2019-07-23 22:17] ryan-moreno opened #71 "Code Action only works once"
I can only use one code action each time I open VS Code. The second time and beyond it does not work.

Steps to reproduce the behavior:
1. open QuantumKatas/Teleportation in VSCode
2. Add namespace Foo with a function Bar
3. Add namespace FooTwo with a function Bar
4. open both Foo and FooTwo within namespace Quantum.Kata.Teleportation
5. Call Bar
6. Select the code action to change it to Foo.Bar

[2019-07-23 22:23] cgranade commented on #71
Thanks for the report! Would you be willing to provide us the extension output logs? That would be really helpful in diagnosing the problem. To bring up the logs, press Ctrl+Shift+U and select "Q# Language Extension" in the dropdown menu (see screenshot below).

![image](https://user-images.githubusercontent.com/31516/61751606-be6eb180-ad5d-11e9-93e8-ff8ac8ffba12.png)

Thank you!

[2019-07-23 22:33] ryan-moreno commented on #71
[Info  - 3:29:58 PM] workspace folder: /Users/Ryan/Projects/QuantumKatas/Teleportation
Discovered Q# project '/Users/Ryan/Projects/QuantumKatas/Teleportation/Teleportation.csproj'.
Loading project '/Users/Ryan/Projects/QuantumKatas/Teleportation/Teleportation.csproj'.
Done loading project '/Users/Ryan/Projects/QuantumKatas/Teleportation/Teleportation.csproj'

[2019-07-24 01:17] ryan-moreno opened #74 "[Hack] Code Actions for moving auto specializations into callables"
A code action should be provided if a user uses

adjoint auto;
controlled auto; or
adjoint controlled auto;

so that these specializations are moved into the callable. For example:
Operation Foo () : Unit  is { //blah}

[2019-07-24 01:17] ScottCarda opened #75 "Code Action - Remove Unreachable Code"
We want to add a code action that removes unreachable code.

[2019-07-24 01:18] ScottCarda commented on #75
The branch I am working on this issue is:
https://github.com/ScottCarda/qsharp-compiler/tree/sccarda/RemoveUnexecutedCode

[2019-07-24 02:13] tmcrain commented on #66
On hold until the Visual Studio SDK is updated to >= 16.1.3121, which depends on [this issue](https://github.com/microsoft/vscode-languageserver-node/issues/491#issuecomment-514449681) being fixed.

[2019-07-24 02:51] bettinaheim commented on #71
@cgranade This was discovered during the hackathon - it doesn't look like it's a server problem per se - the same setup works fine on other OS/Editor combinations. I'll have to see if I can reproduce it on another machine such that we can poinpoint more.

[2019-07-24 03:41] zholobov opened #77 "[MacOS] Visual Studio Code extension does not install .NET Core template"
**Describe the bug**

No Q# template is installed in .NET Core SDK after Visual Studio Code QDK extension is installed under MacOS.

**To Reproduce**

Steps to reproduce the behavior:
1. Under macOS Mojave 10.14.6…
1. Install VS Code 1.36.1
2. Install .NET Core SDK 2.2
3. Run VS Code and install extension https://marketplace.visualstudio.com/items?itemName=quantum.quantum-devkit-vscode
4. Note tha

[2019-07-24 04:15] bettinaheim commented on #77
Thanks for reporting!
Yes, I believe we are indeed not currently packaging these (the corresponding nuget is on https://github.com/microsoft/qsharp-runtime) - we'll take a look into what options there are.

[2019-07-24 04:34] sw23 opened #78 "Code action suggesting replacement for array item updates"
Arrays in Q# are immutable, meaning array items cannot be updated once defined.  See [Local Variables](https://docs.microsoft.com/en-us/quantum/techniques/local-variables?view=qsharp-preview#mutability) for more details.

As a result, the following code results in a compilation error:
[code]
Instead, a [Copy-and-Update Expression](https://docs.microsoft.com/en-us/quantum/language/expressions?view=

[2019-07-24 04:34] bettinaheim commented on #75
The corresponding PR is https://github.com/microsoft/qsharp-compiler/pull/76.

[2019-07-24 04:38] bettinaheim commented on #66
@tmcrain Is there a branch with the WIP? Also, let me know if you feel like picking up something else. :)

[2019-07-24 04:41] bettinaheim commented on #64
The corresponding PR is https://github.com/microsoft/qsharp-compiler/pull/73.

[2019-07-24 04:43] bettinaheim commented on #61
This is temporarily on hold until I (or someone else ;) ) can get around to extend the SymbolInfo to contain nested expressions and the corresponding filter method to implement the closed match for Hover etc.

[2019-07-24 05:40] bettinaheim commented on #77
See also https://github.com/microsoft/qsharp-compiler/pull/79

[2019-07-24 13:54] bettinaheim opened #80 "Code Action for looping over IndexRange"
For a for loop over the indices of an array 'arr'
for (i in 0 .. Length(arr)-1) {
    // code
}
it would be nice if there was a code action (i.e. the little light-bulbs popping up) that a) makes the edit to
for (i in IndexRange(arr)) {
    // code
}
and b) inserts the corresponding open directive for IndexRange if needed.

**Describe the solution you'd like**
A code action following the same patte

[2019-07-24 18:04] ScottCarda commented on #80
I can take a look at this.

[2019-07-24 23:51] jviszlai opened #81 "Parsing for Q# attributes"
With an end goal of supporting attributes in Q#, the compiler should first be able parse the syntax of attributes and store some information about the identifier and arguments.
For example:
[code]

[2019-07-25 16:47] marshallsa commented on #71
I can reproduce this on my Mac with the same version numbers: VS Code 1.36.1, QDK 0.8.19071701 on macOS 10.14.5.

[2019-07-25 16:51] ScottCarda commented on #80
The branch I am using to work on this issue is:
https://github.com/ScottCarda/qsharp-compiler/commits/sccarda/LoopRangeSimplifyCodeAction

[2019-07-25 21:54] ScottCarda commented on #80
The corresponding PR is https://github.com/microsoft/qsharp-compiler/pull/84.

[2019-07-26 17:28] vadym-kl commented on #78
This looks like a great code action, maybe you could also support it for `arr[i] = 1` in addition to `set arr[i] = 1`. It could be quite common ( this is my subjective opinion) for people who are just learning Q# to just want to write `arr[i] = 1` for array assignment if they are already familiar with C#, Java, C or other similar languages.

If there were a code action expanding `arr[i][j] = 1` in

[2019-07-26 17:36] bettinaheim commented on #81
@jviszlai Could you please link to the branch where you are working on this?
Let me know how things are going and if you have any questions and/or need help!

[2019-07-26 20:57] msoeken opened #86 "Cannot parse smallest possible int64 value"
**Describe the bug**

The smallest possible int64 value `-9223372036854775808` cannot be parsed into a Q# `Int` type.

**To Reproduce**

A test case to trigger the bug is described in this branch:

https://github.com/msoeken/qsharp-compiler/blob/msoeken/minint-bug/src/QsCompiler/Tests.Compiler/SyntaxTests.fs#L171

**Expected behavior**

The parser returns an `Int` value with the smallest integer v

[2019-07-26 21:47] bettinaheim commented on #86
Hehe, yes, indeed, I parse the sign separately... That's one edge case to overlook. Thanks for pointing it out!

[2019-07-27 02:52] jviszlai commented on #81
Sure!
Working on this here: https://github.com/jviszlai/qsharp-compiler/tree/features/attributes
I made a PR that addresses most of the parts of this issue I was thinking of, but let me know if there's other parts I should work on: https://github.com/microsoft/qsharp-compiler/pull/82

[2019-07-27 16:12] #86 closed

[2019-07-27 16:14] bettinaheim commented on #77
We've added VS Code commands (Ctl+Shift+P) to install the Q# project templates and create Q# projects. I will close this issue with that. Feel free to open another one if you need anything else.

[2019-07-27 16:14] #77 closed

[2019-07-27 16:15] #50 closed

[2019-07-29 11:53] bettinaheim commented on #78
The corresponding PR is https://github.com/microsoft/qsharp-compiler/pull/91.

[2019-07-29 13:14] bettinaheim commented on #81
Awesome, thanks! I'll take a look shortly - I will first aggregate all the code action PRs, and then dive into this one.

[2019-07-29 18:37] cgranade opened #93 "Multifolder workspace support for VS Code"
**Is your feature request related to a problem? Please describe.**
The current version of the VS Code extension is optimized for single-folder workspaces, and in several places assumes that the active workspace contains exactly one folder. This makes it difficult to use the extension in some scenarios, such as that discussed in microsoft/quantumkatas#150.

**Describe the solution you'd like**
The

[2019-08-01 03:14] bettinaheim opened #97 "Generate Debug Symbols"
We need to figure out how to provide proper debug support. In particular, we need to look into generating debug symbols. Right now, the debug support in VS works via relying onto the debug support for the generated C# code. This becomes less and less reliable as we do more complex rewrites (like e.g. generating unique symbol names as we inline code blocks).

[2019-08-01 03:16] bettinaheim commented on #97
The time line for this may be fairly long, as it is a larger piece and currently not staffed. Hence the help wanted. :)

[2019-08-01 03:20] bettinaheim opened #98 "IR specification"
We need to formally define an IR format to compile into to facilitate a broader use. The expectation is that similarly to the compiler extensibility for transformations on top of the library format (see SyntaxTree.fs) today, it should be possible to plug into the compiler at this stage as well.

[2019-08-04 00:56] bettinaheim opened #100 "Add switch to short-cut all processing related to tracking edited content"
The compiler as it is set up right now is geared towards performing well enough for design time builds during editing. This requires quite a bit of infrastructure and processing during compilation to determine which parts of the compilation need to be recompiled. I meant to add a switch to skip this processing in the case where we just do a command line build, but never got around to it.

[2019-08-04 02:03] bettinaheim commented on #93
@cgranade I happened to see a branch with some commits that look like you might be working on this? If so, could you please indicate that here to avoid confusion, especially since it's marked as help-wanted. Could you please comment with a link to the branch where you are working, and occasional status updates in case people want to join would be great as well!

[2019-08-04 02:12] bettinaheim opened #101 "Once excluded statements with muliple blocks are not re-included into the compilation"
**Describe the bug**

For statement consisting of multiple blocks, mistyping one of headers causes the statement to be permanently excluded from compilation until the file is saved, allowing the editor to recover.

**To Reproduce**

Within an operation, type e.g.
sepeat {
    let a = 10;
}
until (true);

Hover info for `a` is not showing any type info, since it's never compiled due to the mistyped

[2019-08-04 02:15] bettinaheim commented on #101
I happen to come across this when testing a new feature, and just quickly fixed it. See PR #102

[2019-08-04 02:40] bettinaheim opened #103 "Incorrect range information for resolved types"
**Describe the bug**
Syntax highlighting, and in particular also renaming shows that the range information for resolved user defined types is incorrect if a user defined type occurs as inner type.

**To Reproduce**
See e.g. the syntax highlighting for ProtocolMessage in the Superdense coding kata, e.g. in ComposeProtocol.

**System information**
Irrelevant, affects the (non-beta) extensions versio

[2019-08-04 02:42] bettinaheim commented on #103
While checking the behavior for some new contributions, I came accross this and just quickly fixed it.

[2019-08-04 02:57] #101 closed

[2019-08-04 03:02] bettinaheim commented on #43
See https://github.com/microsoft/qsharp-compiler/pull/99 for the implementation.

[2019-08-04 03:15] #103 closed

[2019-08-05 03:40] cgranade commented on #93
Good point, @bettinaheim. I've been working on the rather badly misnamed [`cgranade/vscode-launch-jupyter`](https://github.com/microsoft/qsharp-compiler/tree/cgranade/vscode-launch-jupyter) branch, as I was refactoring to make it easier to add in new calls out to .NET Global Tools and got a bit carried away. So far, I'm working on trying to find a bug with how the language client opens up the TCP/

[2019-08-06 20:50] bettinaheim opened #105 "Support for qsproj files"
We need to have a proper project system setup for Q# such that we can compiler and ship both Q# libraries and executable.

[2019-08-09 04:49] marshallsa opened #109 "Trying to use an open range on a non-array type causes a compiler exception"
**Describe the bug**

Trying to use an open range expression (`x[1...]`) when `x` is not an array type (e.g., `Qubit` instead of `Qubit[]`) causes the compiler to throw an exception and the Visual Studio Code extension says the language server encountered an error.

[code]

**To Reproduce**

Try this code with the language server running:

[code]

**Expected behavior**

This code is invalid, so it

[2019-08-09 19:11] bettinaheim commented on #109
Thanks for reporting! Should be a quick fix.

[2019-08-10 01:00] bettinaheim opened #110 "Investigate Project System"
Investiage whether it makes sense to have our own project files and what that would entail regarding both the command line build and the integration into VS via the CPS.

[2019-08-12 03:33] bettinaheim commented on #109
Addressed with PR https://github.com/microsoft/qsharp-compiler/pull/111.

[2019-08-12 23:18] yurysudz opened #112 "TypedExpression.ExtractAll misses a case or two"
**Describe the bug**

The extension method TypedExpression.ExtractAll in DataStructures doesn't seem to handle all cases, in particular, the CopyAndUpdate expression kind.

**To Reproduce**

Calling ExtractAll on a CopyAndUpdate expression does not apply the extractor function to sub-expressions.

**System information**

- Microsoft.Quantum.Compiler version 0.8.1907.1701

**Additional context**

G

[2019-08-14 00:43] cgranade opened #113 "Allow documenting named items of UDTs"
**Is your feature request related to a problem? Please describe.**
Recently, Q# gained support for UDTs with named items; e.g.: `newtype Foo = (A: Int, (B: Bool, C: Qubit))`. At the moment, these named items aren't surfaced through to API documentation, such that the names aren't easy to use.

**Describe the solution you'd like**
[code]

[2019-08-14 00:55] bettinaheim commented on #113
The only support that is needed here is in the docs parser, as long as this fits into the scheme. Do you want to take this one? :)

[2019-08-14 01:10] bettinaheim commented on #113
Looks like this does not fit into our current OPS scheme. We will need support there before we can address this. @natke could you look into this?

[2019-08-14 21:08] #109 closed

[2019-08-14 21:27] bettinaheim commented on #112
Yes, you are right - looks like that whole file needs updating... Thanks for reporting!

[2019-08-15 01:17] bettinaheim commented on #112
Fixed with PR #115.

[2019-08-15 01:17] #112 closed

[2019-08-20 17:54] bromeg opened #126 "Float data type and IntelliSense on qs code"
In the medical imaging domain; my input data is an array of complex numbers. The real and imaginary part of the complex number are float data types.
Unfortunately, using Double (what Q# offers) alters my output and that is not ok. A great suggestion would be to have the Float datatype available.

Another functionality that would be really useful is IntelliSense.
Right now, I first write code, buil

[2019-08-20 18:34] bettinaheim commented on #126
I don't know when this was originally filed and by whom. We got IntelliSense with 0.3, so that part for the request is fairly obsolete.

[2019-08-21 01:27] bettinaheim commented on #126
@bromeg I will actually close this issue - the IntelliSense part is done, and at this point I am not ready to introduce a float data type. That seems to be a precision issue in the pre- and post processing that should be addressed there.

[2019-08-21 01:27] #126 closed

[2019-08-21 01:30] bettinaheim commented on #110
The command line build seems more or less straight forward to set up. However, while we should have our own project files in the future, we need to budget a non-trivial amount of time to set them up. The VS specific setup needed is rather extensive. I'll mark this as closed, since the initial investigation is indeed concluded, and I will mark the task for working on it as currently not resourced.

[2019-08-21 01:30] #110 closed

[2019-08-21 01:34] bettinaheim commented on #105
See my comment on the task for the initial investigation (#110).
While this is something we will want to set up in the future, due to more immediate needs we currently can't resource this. Tagging as help wanted, and we can consider picking it up 6 months.

[2019-08-21 02:03] bettinaheim commented on #74
@ryan-moreno Hi Ryan!
What is the status on this? Are you still working on it? Do you need/want help?

In any case, could you please add a link to the branch where you started the work? Thanks!

[2019-08-21 02:09] bettinaheim opened #131 "Code action for deprecated syntax in operation types"
The annotation describing the characteristics of an operation type has changed from in 0.6. It would be nice to provide a code action that updates the syntax on click.

[2019-08-21 02:10] bettinaheim commented on #131
Formally filing an issue to match the PR.
This is done with PR #120

[2019-08-21 02:15] bettinaheim opened #132 "Doc Comment Template"
It would be nice to have an empty template for a doc comment pop up similar to how it is the case e.g. for C# upon typing ///.

[2019-08-21 02:17] bettinaheim commented on #132
After a quick discussion, we chose to provide this functionality via code action rather than automatically upon typing tripple-slashes. We can revise that in the future, if preferences are for a more automatic setup - happy to hear peoples preferences. :)

[2019-08-21 02:22] bettinaheim commented on #132
A code action for this functionality has been added by @kedestin in PR #121.

[2019-08-21 02:25] bettinaheim commented on #43
Merged into master with PR #128, to be released with 0.9.

[2019-08-21 02:25] #43 closed

[2019-08-21 02:27] bettinaheim commented on #64
Merged into master with PR #130.

[2019-08-21 02:28] #64 closed

[2019-08-21 02:29] bettinaheim commented on #65
Merged into master with PR #130.

[2019-08-21 02:29] #65 closed

[2019-08-21 02:29] bettinaheim commented on #75
Merged into master with PR #130.

[2019-08-21 02:29] #75 closed

[2019-08-21 02:34] bettinaheim commented on #78
The code action as filed above is merged into master with PR #130.
I'll close this issue for now. @sw23 , @vadym-kl  let me know if you are interested in picking up implementing additional support for the cases that Vadym mentioned.

[2019-08-21 02:34] #78 closed

[2019-08-21 02:34] bettinaheim commented on #80
Merged into master with PR #130.

[2019-08-21 02:34] #80 closed

[2019-08-21 02:35] bettinaheim commented on #131
Merged into master with PR #130.

[2019-08-21 02:35] #131 closed

[2019-08-21 02:35] bettinaheim commented on #132
Merged into master with PR #130.

[2019-08-21 02:35] #132 closed

[2019-08-21 19:00] sw23 commented on #78
@bettinaheim - Cool! Yeah I can update the code action to support the additional cases that @vadym-kl mentioned now that the initial one has been reviewed and almost pulled in.  Should I open a follow-on issue?

[2019-08-21 21:00] bettinaheim opened #133 "Compiler-side handling of "try-finally behavior""
Q# currently has two cases that behave like a specific try-finally pattern; qubit scopes and conjugations.
For qubits scopes, returns from within the scope are currently handled by C# on the simulator.
Since we need to be able to handle conjugations entirely on the compiler side, returns from within the apply-block are currently not supported.
We should add a proper translation on the compiler sid

[2019-08-21 21:08] bettinaheim commented on #133
This needs proper prioritization. I don't expect there is an immediate need to implement this, but ideally we should aim to have this before December.

[2019-08-21 21:35] bettinaheim commented on #78
@sw23 Awesome!
Yes, opening a new issue would be good - I'd rather close issues as the planned things get done, and open new issues for addtional capabilities. I am looking forward to those! :) Let me know if you need/want help!

[2019-08-22 05:29] sw23 opened #135 "Extend code action suggesting replacement for array item updates"
A code action for simple array update expressions was added on #78

This feature request is to extend the code action to handle more complicated cases (as identified by @vadym-kl)
- `arr[i] = 1` -> `set arr w/= i <- 1;`
- `{set }arr[i][j] = 1` -> `set arr w/= i <- ( set arr[j] w/= j <- 1 );`

[2019-08-22 05:59] Bondzio opened #136 "nob"
**Describe the bug**

Describe what the unexpected behavior or issue is.
Please file a single issue per bug instead of enumerating multiple items.

**To Reproduce**

Steps to reproduce the behavior:
1. Open or go to '...'
2. Type or click on '....'
3. See error

The more information you can provide, the more likely someone will be successful at reproducing the issue and finding a fix.

**Expected

[2019-08-22 18:12] bettinaheim commented on #136
@bondzio Looks like this might have filed accidentally before being completed?
Let me know what I can help with.

[2019-08-22 18:21] bettinaheim commented on #135
@sw23 Thank you for picking this up!
Sorry, I meant to assign that to you - will fix as soon as I get back to my desk.
I am looking forward to this contribution!

[2019-08-22 18:29] cgranade commented on #135
As a quick suggestion, I think the second code action might should be `set arr[i][j] = 1` → `set arr w/= i <- (arr[i] w/ j <- 1)`?

[2019-08-22 18:35] bettinaheim commented on #135
Chris is correct - the rhs needs to be an expression. Thanks, didn't read the description careful enough!

[2019-08-24 19:32] bettinaheim opened #141 "Allow to easily test compiler modifications"
It would be nice if there was as setup to easily test whether the compiler generates code that can be executed on various targets without having to build the compiler package each time.

[2019-08-24 19:34] bettinaheim commented on #141
I will add a subfolder in the compiler solution that contains an Q# project which upon launch will be compiled using the compiler source code and executed on the QuantumSimulator. That should be convenient for development.

[2019-08-25 06:10] bettinaheim commented on #141
Added with PR #140.

[2019-08-25 06:11] #141 closed

[2019-08-25 06:11] #136 closed

[2019-08-29 17:03] vadym-kl opened #146 "Wrong automatically generated Adjoint for within ... apply statement"
**Describe the bug**

Wrong automatically generated `Adjoint` for `within {...} apply {...}` statement.

**To Reproduce**
Compile the following `Bug.qs`:

[code]
Open generated C# file `Bug.g.cs`, and find implementation of `public override Func<QVoid, QVoid> AdjointBody`  member of `public partial class Foo : Adjointable<QVoid>, ICallable` on line 120:
[code]

**Expected behavior**
The  snippet o

[2019-08-29 23:54] bettinaheim commented on #146
Fixed a couple of hours ago - will improve that in a separate PR.

[2019-08-29 23:54] #146 closed

[2019-08-30 10:49] Chris2011 opened #148 "Adding an icon (Brand)"
**Is your feature request related to a problem? Please describe.**
The product should represent a specific brand. So for this, Q# should have a nice looking logo. Like everything else.

**Describe the solution you'd like**
So the logo could have Q# in it, like the C# logo or it could look like the rectangle TS logo. Smth like in here: https://github.com/microsoft/BosqueLanguage/issues/94

**Descri

[2019-08-30 10:49] Chris2011 commented on #148
Or is there still an icon and I missed it? 🤔

[2019-08-30 17:40] vadym-kl opened #149 "Functor support can be auto generated even if outer blocks in conjugations do not provide the necessary support"
**Describe the bug**

Controlled variant auto-generation failure when using `within {...} apply {...}` statement,
if one of the operations used in `within` block has no controlled variant.

**To Reproduce**

Create `Bug.qs` file:
[code]
Compiling causes the following error:
[code]

**Expected behavior**

File successfully compiles.

**System information**

- 0.9.1908.2906

[2019-08-30 19:04] bettinaheim commented on #149
Yes, as I said, I did a minimal fix since the bug report came in very late and I didn't want to change much code going into the release. As I commented on that issue, I will put up a smarter functor generation shortly, but I didn't want to squeeze that into the release at short notice.

[2019-08-30 19:32] vadym-kl commented on #149
I expected that `within {...} apply {...}` replicates behavior of
* [ApplyWith](https://docs.microsoft.com/qsharp/api/qsharp/microsoft.quantum.canon.applywith)
* [ApplyWithA](https://docs.microsoft.com/qsharp/api/qsharp/microsoft.quantum.canon.applywitha)
* [ApplyWithC](https://docs.microsoft.com/qsharp/api/qsharp/microsoft.quantum.canon.applywithc)
* [ApplyWithCA](https://docs.microsoft.com/qshar

[2019-09-03 00:50] bettinaheim commented on #74
I'll leave this open in case someone wants to pick this up. It would be a really good code action to have, but we won't get around working on adding any language server features in the near future.

[2019-09-03 16:43] ryan-moreno commented on #74
Hi Bettina, sorry I missed your earlier message! I've been busy with school starting again, but if no one has picked it up and I find some extra time, I'll take a look at it again. Thanks for your help getting started on it.

[2019-09-03 22:13] bettinaheim commented on #148
No, there is indeed no official logo so far.
That's definitively something to look into though, thanks for the suggestion!

[2019-09-04 03:38] #149 closed

[2019-09-10 22:25] bettinaheim opened #170 "Support for Declaration Attributes"
It would be good to support attributes in Q# for various purposes. For one, we need to option to properly deprecate library constructs. They would also facilitate additional capabilities in our unit testing package. For details, see the language specs.

[2019-09-10 22:26] bettinaheim commented on #81
With the PR to master up, I'll close this issue.

[2019-09-10 22:26] #81 closed

[2019-09-11 01:32] bettinaheim commented on #66
Looks like the blocking issue above has been fixed. :)

[2019-09-11 03:22] bettinaheim commented on #170
Added with PR #169

[2019-09-11 03:22] #170 closed

[2019-09-11 19:55] bettinaheim commented on #170
To be release with 0.9

[2019-09-11 19:56] bettinaheim commented on #44
To be release with 0.9.

[2019-09-13 18:21] talisasoto1989 opened #176 "how to get the idm working"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2019-09-13 18:22] talisasoto1989 commented on #176
[IDM full crack ](https://idmcrackdownload.org/)is used to download the music, films, audio, video, file, and different stuff from the net. When you click at the unique internet site, then this IDM routinely come across it and show you the choice for downloading. IDM download the record within the frames and increase the speed of download. If you misplaced your internet connection, then it allows

[2019-09-13 19:00] #176 closed

[2019-09-15 21:21] bettinaheim opened #178 "Do not give completion suggestions in comments"
**Describe the bug**

Currently, fallback completions are given when typing comments.

**Expected behavior**

I think it would be nicer to not give any completion suggestions in this case.

**System information**

Irrelevant

[2019-09-16 15:26] #178 closed

[2019-09-16 15:44] cgranade commented on #178
Would it be possible to make this conditional on a preference or configuration variable? Fallback completions in comments have been very helpful to me in writing API documentation comments. Thanks!

[2019-09-23 14:46] bettinaheim opened #180 "Q# library dll"
We need proper packaging for Q# libraries that contain the full syntax tree.

[2019-09-23 14:47] bettinaheim commented on #180
Working on it here: https://github.com/microsoft/qsharp-compiler/tree/beheim/dllPackaging
with the corresponding feature branch being https://github.com/microsoft/qsharp-compiler/tree/features/targeting

[2019-09-24 11:35] wsgac opened #181 "Add anonymous functions to Q#"
It is frequently convenient to express functional concepts using one-off functions or operations. For simple cases, such as an existing operation with certain arguments fixed, partial operation with `_` is sufficient. However, sometimes one wishes to express more complex computation, hence the need for anonymous functions (lambdas).

To keep the overhead to a minimum, it should probably follow the

[2019-09-24 14:02] wsgac commented on #181
Interested? Absolutely :)! Though I will sure need some guidance first. I've noticed that the Q# compiler is written in F# - I should be able to handle that. But I'd appreciate any hints about where to start.

[2019-09-24 17:02] bettinaheim opened #182 "Deprecated Attribute"
It would be good to add support for recognizing a Deprecated attribute in the compiler and give the corresponding warning during compilation.

[2019-09-24 17:51] bettinaheim commented on #181
Awesome!
This is a larger task that breaks down into a couple of main pieces:
- specification
- parsing support
- verification support
- syntax tree simplification (such that the runtime does not need to provide support for lambdas)

For language features we will want a proper spec before they are officially included in a release (i.e. merged back to master). We have a pretty good idea on how the

[2019-09-24 17:52] bettinaheim commented on #181
And here is roughly the outline that we follow for new language features:

# Proposal

TODO:
Insert a short outline for what the proposal is.

# Justification

TODO:
Explain why this modification to the Q# language is needed or desireable.
Explain both the benefit of the proposed modification as well as briefly summarize the benefits of the chosen mechanism opposed to other ways of achieving a sim

[2019-10-02 17:48] ScottCarda-MS opened #189 "Resolve Generic Callables"
A transformation needs to be added to resolve/remove generic callables from the syntax tree.

 - [X] Generic definitions should be replaced with only necessary concrete definitions.
 - [X] Calls to generics should be replaced with calls to the appropriate concrete callable.
 - [X] There should not be any calls to generics, or generic definitions remaining in the tree.
 - [x] Must avoid name collis

[2019-10-02 19:36] bettinaheim commented on #189
Since this is a larger piece of work, I set up a feature branch here: https://github.com/microsoft/qsharp-compiler/tree/features/monomorphization

[2019-10-10 23:05] bettinaheim commented on #45
Merged to master with https://github.com/microsoft/qsharp-compiler/pull/177

[2019-10-10 23:06] #45 closed

[2019-10-10 23:08] bettinaheim commented on #46
Merged into master with https://github.com/microsoft/qsharp-compiler/pull/177

[2019-10-10 23:08] #46 closed

[2019-10-10 23:09] bettinaheim commented on #47
Merged into master with https://github.com/microsoft/qsharp-compiler/pull/177

[2019-10-10 23:12] #47 closed

[2019-10-10 23:12] bettinaheim commented on #47
Merged into master with https://github.com/microsoft/qsharp-compiler/pull/177

[2019-10-13 17:14] bettinaheim commented on #180
Merged with PR #188

[2019-10-13 17:14] #180 closed

[2019-10-16 02:34] bettinaheim opened #202 "Eliminate the .net core prerequisit for extensions"
The way the VS and VS Code extensions are currently packages requires that the matching .NET Core version is installed on the user platform. This is problematic in particular because launching the server requires an exact match of the installed version. Instead, we should look into a self-contained setup for the language server used with both extensions.

[2019-10-16 02:36] bettinaheim commented on #202
Addressed with PR #199.

[2019-10-16 02:36] #202 closed

[2019-10-16 19:14] cgranade opened #203 "Support equality checking on arbitrary types"
**Is your feature request related to a problem? Please describe.**
At the moment, the `==` operator is not supported for values whose type is given by a type parameter (see screenshot from an IQ# session below). Since all types in Q# are value types, however, we should be able to support `==` between arbitrary types, including type parameters.

**Additional context**
![image](https://user-images.g

[2019-10-17 19:01] bettinaheim opened #205 "Code actions for wrong capitalization"
I would be nice if code actions were provided in the case where a keyword or known identifier is misspelled e.g. lower case instead of upper case etc.

[2019-10-17 19:01] bettinaheim commented on #205
Ping me if someone is interested in picking this up - I am happy to help.

[2019-10-21 19:17] bettinaheim commented on #182
Since this was a little more painful than I was hoping for I picked it up myself. The PR is #210.

[2019-10-22 17:19] rhpreston opened #211 "Generic function unnexpectedly returns 'QVoid' when called from another file"
**Describe the bug**

While writing unit tests for a generic-typed function, I ran into some strange behavior. The function works perfectly when called from the same file, but it seems to return a `QVoid` when called from the test suite, instead of the expected `Bool`.

**To Reproduce**

- Using Visual Studio, create a new Q# Test Project with boilerplate `TestSuiteRunner.cs`
- Create a new Q# fil

[2019-11-07 02:36] bettinaheim commented on #189
Implemented with PR #232.

[2019-11-07 02:36] #189 closed

[2019-11-07 02:36] #182 closed

[2019-11-07 02:40] bettinaheim commented on #42
Addressed with PR https://github.com/microsoft/qsharp-compiler/pull/235.

[2019-11-07 02:40] #42 closed

[2019-11-07 02:44] bettinaheim opened #237 "Code action for replacing deprecated types and callables"
The compiler gives a warning for types and callables that have been marked as deprecated (via the @Deprecated("FullNewName") attribute). It would be nice if the corresponding code action was also provided.

[2019-11-08 19:32] ScottCarda-MS opened #240 "Compiler Removes Parentheses Around 'new object' Expressions"
**Describe the bug**

The compiler will remove parentheses around expressions creating new objects with the 'new' keyword.

An example of this is `(new Int[0])[1]` is being compiled to `new Int[0][1]`.

**Expected behavior**

The compiler should not remove these important parentheses.

**System information**

NuGet package version: 0.10.1911.601

[2019-11-11 21:57] msoeken opened #243 "Optimization change false positive leads to infinite loop"
**Describe the bug**

Running `PreEvaluation.All` leads to infinite loop triggered false positive in `changed` flag in `OptimizingTransformation`

**To Reproduce**

Steps to reproduce the behavior:
1. Check out branch `msoeken/bug-optimization-loop`
2. Run test `Test.Compiler\Microsoft.Quantum.QsCompiler.Testing\OptimizationTests\trigger infinite loop`

**Expected behavior**

Transformation passes

[2019-11-11 22:13] msoeken commented on #243
The infinite loop does not occur when replacing `this.onTypeParamResolutions ex.TypeParameterResolutions` with `ex.TypeParameterResolutions` in https://github.com/microsoft/qsharp-compiler/blob/master/src/QsCompiler/Core/ExpressionTransformation.fs#L374

[2019-11-11 22:14] msoeken commented on #243
The change was added in #197.

[2019-11-12 03:28] bettinaheim commented on #243
@msoeken
Thank you for the great report pinpointing the issue!

[2019-11-12 17:07] #243 closed

[2019-11-15 02:09] codingupastorm commented on #237
Hey @bettinaheim , I'm interested in taking a look at this.

Just want to clarify - the idea is that if a deprecated method in code there will also be a code action to replace `DeprecatedMethod(` with `FullNewName(` ?

And the best place to test this is in the language server project?

Thanks!

[2019-11-15 17:00] #40 closed

[2019-12-04 20:52] cgranade opened #259 "Access modifiers for callables and types"
**Is your feature request related to a problem? Please describe.**
When developing Q# libraries, it is common to introduce small functions and operations that are not intended for direct use, but which are helpful with partial application. At the moment, these functions and operations are given names starting with `_` or ending with `Impl`, but that makes it easy to accidentally take a dependency

[2019-12-04 20:57] bettinaheim commented on #259
Thanks, @cgranade for filing this feature request! Tagging this for language impact.
As discussed, I'd love to have something like this, but it is not yet clear when we will be able to resource it.
In the meantime, it would be great to accumulate thoughts and feedback - and upvotes - from the community regarding the need(s) for this feature.

My thought so far were to make the distinction between

[2019-12-05 00:00] rhpreston opened #260 "Error activating the remote language server"
**Describe the bug**

When opening a Q# project, the following banner is displayed after a short time:

The log contains the following error:

[code]

I'm not sure what this error means, but I can confirm that the language server is disabled. This issue began occurring sometime recently, perhaps since updating to a new version of MQDK

**To Reproduce**

Steps to reproduce the behavior:
1. Open Vis

[2019-12-05 02:46] bettinaheim commented on #260
Thanks for reporting, @rhpreston!
Does the issue only occur for test projects? Does it occur for all test projects, or only for one created with the extension version listed above?

[2019-12-05 14:06] rhpreston commented on #260
It occurs for all Q# projects. I tried rolling back to previous versions of the NuGet packages but that didn't work. I also tried reinstalling the extension, but I haven't tried an old version yet. Here is my `dotnet --info`:

[code]

The only item in `ActivityLog.xml` whose source is the "Q# Language Extension" is the one copied in the issue. There are no other errors.

With luck, the new version

[2019-12-05 14:18] rhpreston commented on #260
P.S. I actually don't know how to install an old version of the QDK. Is there a downloads page somewhere?

[2019-12-07 02:27] bettinaheim commented on #260
@rhpreston
Thanks for the details! Would you mind installing the extension from [this build](https://dev.azure.com/ms-quantum-public/Microsoft%20Quantum%20(public)/_build/results?buildId=6737)?
Following the link above, you should see am "Artifacts" button in the upper right corner. If you click on it and click on qsharp-compiler, the Artifacts Explorer opens. If you click again on "qsharp-compile

[2019-12-09 01:19] rhpreston commented on #260
Updating to 0.10.1912.501 fixed the problem!

[2019-12-09 15:56] bettinaheim commented on #260
Awesome! Happy coding!

[2019-12-16 17:54] cgranade opened #267 "Documentation generation tool not resolving namespaces correctly in `# See Also` blocks."
**Describe the bug**

When generating documentation for `/// # See Also` blocks, the Q# compiler currently does not resolve identifier names for operations, functions and UDTs to their fully-qualified names. See microsoft/quantumlibraries#190 for an example.

**To Reproduce**

Generate documentation for an operation in the `Microsoft.Quantum.Arithmetic` namespace and with the following comment:

[

[2019-12-17 02:42] rhpreston commented on #260
Experiencing this issue again. Unfortunately I can't identify any change that might have caused it. @bettinaheim I tried build 0.10.1912.704 and got this output (matches the original log message):

[code]

There is no log file at the location specified above. It appears that it was never created, since there are other qsp-*.log files there from when the language server was running normally. They e

[2019-12-17 14:15] numpde commented on #267
Why is the format of `# See Also` so rigid  -- to avoid typing ` - @".."` or to promote conciseness or ...?

Regarding the issue, I don't understand the ["special treatment"](https://github.com/microsoft/qsharp-compiler/blob/master/src/QsCompiler/DocumentationParser/DocComment.cs#L188) but there is no reference to `bool lowerCase` outside of it (cf. [comments](https://github.com/microsoft/qsharp-c

[2019-12-17 21:22] cgranade commented on #267
The `/// # See Also` section is effectively a light-weight approach to generating lists of related code items but that's pretty similar to C#'s [`<seealso cref="" />` element](https://docs.microsoft.com/dotnet/csharp/programming-guide/xmldoc/seealso). This allows us to generate documentation YAML files that include the `seeAlso` list expected by docs.microsoft.com:

[code]

You can always use the

[2019-12-20 18:03] tcNickolas opened #271 "Support allocating a tuple of one qubit"
**Describe the bug**

Trying to allocate a tuple of a single qubit variable (a single qubit or one array of qubits) fails with error QS6305 "The shape of the symbol tuple is not compatible with the assigned expression of type Qubit."

It seems fitting to support allocating tuples of single variables, since it would be consistent with Q#' overall approach to tuples.

**To Reproduce**

    using ((q

[2019-12-31 10:37] bettinaheim commented on #271
Thanks for filing! I can confirm the bug and will look into it.

[2020-01-02 19:38] cgranade opened #277 "UDT named items not present in reference documentation "Syntax" block"
**Describe the bug**

The syntax block in reference documentation for UDTs does not include named items, instead providing the declaration of a UDT that can only be used by unwrapping.

**Screenshots**

The [reference documentation for `Microsoft.Quantum.Math.Complex`](https://docs.microsoft.com/en-us/qsharp/api/qsharp/microsoft.quantum.math.complex?view=qsharp-preview) does not agree with its dec

[2020-01-21 20:07] rhpreston commented on #260
One more tidbit, running the language server executable directly produces the following output:

[code]

Seems I'm missing a DLL in the temp directory.

[2020-01-23 01:11] bettinaheim commented on #259
Here is what we have converged to from the language design side.
Please let me know if you feel this won't meet your needs and if you have any questions or feedback.

- By default, everything will be visible everywhere, and there is no keyword planned for this case.
- We introduce a keyword "internal" that may directly precede (i.e. after any attached attributes) any operation, function or type de

[2020-01-23 21:57] cgranade opened #291 "Some Unicode characters accepted as Q# identifiers cause C# code generation failure."
**Describe the bug**
At the moment, some Unicode characters are accepted as Q# identifiers that are not allowed as C# identifiers, causing code generation failures.

**To Reproduce**

[code]

**Expected behavior**

The tokens `𝑓` and `𝑥` should either be accepted as identifiers, or rejected at the Q# stage, as in the following example:

![image](https://user-images.githubusercontent.com/31516/7302

[2020-01-30 02:58] bettinaheim commented on #277
@cgranade It may make more sense to tack this on docs, since I believe we will need an addition/change to our scheme to support docs for named items. Or did you have a solution within the current scheme in mind?

[2020-01-30 04:46] cgranade commented on #277
I believe this one is a bug with how we currently populate the `syntax` field of our output YAML. If so, then this is under our control, by contrast with #113.

[2020-01-31 23:55] bettinaheim opened #299 "Allow to compile Q# projects that don't contain any Q# source files"
Right now, the Q# command line compiler expects to get a list of Q# source files and will fail otherwise. It may make sense however, to allow to compile projects that do not have any source files, but merely contains references that are processed by a compiler extension. We hence probably should be more permissive and just give a warning if no source files are passed as arguments.

[2020-02-02 07:15] bettinaheim commented on #277
@cgranade Do you want to pick it up then?

[2020-02-03 19:12] ScottCarda-MS opened #304 "Code Completion for files that are not associated with a compilation unit"
**Describe the bug**

Code Completion in Visual Studio for qs files will not recognize operations in included namespaces like the Intrinsic namespace. This is with editing a qs file that is not part of a project.

**To Reproduce**

Create a qs file and open the file in Visual Studio. The file should not be in a project. Begin a namespace and open Microsoft.Quantum.Intrinsic namespace. Begin an ope

[2020-02-06 05:07] vadym-kl opened #471 "Set CopyLocalLockFileAssemblies to False for Q# projects by default"
## Isssue
Currently `CopyLocalLockFileAssemblies ` is set to `true` and dotnet copies assemblies without pdb files and documentation xml files. This means that `pdb` files are not found and debugging is limited.

## Workaround
Add a line `<CopyLocalLockFileAssemblies>false</CopyLocalLockFileAssemblies>` to the project file as shown below for the case of Test projects.
[code]

## Context
For the fo

[2020-02-06 18:57] DmitryVasilevsky opened #307 "Command line parameter --format MsBuild has no effect in response file"
**Describe the bug**

When "--format MsBuild" is specified in response file rather than on command line the error reporting is still in "Human Readable" format. Response files are widely used in MsBuild and Visual Studio fails to parse and report these errors correctly.

**To Reproduce**

1. Create response file
qsc.rsp:
--input a.qs
--format MsBuild

2. Create Q# file a.qs with errors

3. Run "do

[2020-02-07 06:24] bettinaheim commented on #307
Yes, same for -v (verbose mode). The --response-file parameter is not processed as nicely as it should. Hopefully we'll get around to do some clean up soon-ish.

[2020-02-07 06:29] bettinaheim commented on #304
@ScottCarda-MS If a souce file cannot be associated with a compilation unit (project), then almost all of the language server functionality is disabled (we can't give semantic information without knowing the context in which to interprete a file). I don't know what you were looking for here; implementing code completion that e.g. works like the completion for text files (complete everything that h

[2020-02-07 06:38] bettinaheim commented on #304
I double checked the behavior of F# and C# in this case. It looks like both make a fair amount of effort to be clever in this case (they give intellisense for things defined in that file as well as even for some well-known things, with accurate context interpretation within the limits of what is possible). Given the length of our todo list, this still seems like a more advance feature to consider

[2020-02-08 07:07] XanTheDragon opened #311 "Proposed logo to represent Q#"
One of the things I thought I'd try my hand at is providing an icon to recognize Q# by. I was directed here indirectly from one of the members of the .NET team.

Given that Q# is picking up traction, I've decided that it needs a logo, and I'd like to provide a concept. I designed a little symbol inspired by the F# icon, just modified to have a different set of colors, and more importantly, to slig

[2020-02-13 16:29] rhpreston commented on #260
Fixed itself after a recent update. Closing since I have been unable to provide any more information on this issue.

[2020-02-13 16:29] #260 closed

[2020-02-21 05:21] cgranade opened #323 "VS Code extension attempts to launch Windows language server when remoted to Linux"
**Describe the bug**

When using remote development from VS Code (win10-x64) to use a VS Online environment hosted on Linux, the Q# extension for VS Code still attempts to launch the Windows version of the language server. Notably the Linux version is still correctly downloaded.

**To Reproduce**

Create a VS Online environment and connect to it from VS Code running on Windows. Install the QDK ext

[2020-02-22 02:33] cgranade opened #327 "Values of type (Unit => Unit is Adj + Ctl) cannot be appended to (Unit => Unit is Ctl + Adj)[]"
**Describe the bug**

![image](https://user-images.githubusercontent.com/31516/75084898-71f87980-54d8-11ea-85c0-eb1b83bb559e.png)

**To Reproduce**

[code]

**Expected behavior**

That elements of `plan` should be compatible with `Example`.

**System information**

![image](https://user-images.githubusercontent.com/31516/75084914-99e7dd00-54d8-11ea-852b-d97eabef8a90.png)

[2020-02-22 22:05] #271 closed

[2020-02-22 22:05] #327 closed

[2020-02-24 23:13] KittyYeungQ opened #333 "Bug found when cloned repo is in folders with space in their names"
**Describe the bug**

Bug found while trying to build library files when cloned repo is in folders with space in their names.

**To Reproduce**

Steps to reproduce the behavior:
1. Edit a .qs file in the QuantumLibraries/Standard/src that's cloned into local folders with space in their names. In this case, "Quantum Computing" and "Doc PR" both have spaces.
2. dotnet build
3. See error

![image](ht

[2020-02-25 02:49] bettinaheim commented on #260
@rhpreston I know this comes a bit late, but I might have a suspicion - I don't really have a way to confirm it, but we'll remove the single-file wrapping for the self-containing build of the language server. If I am right that should resolve the issue where basically everything works fine until one day it doesn't, and the issue always seems to be fixed by reinstalling. Fingers crossed!

[2020-02-26 03:13] bettinaheim commented on #333
That is weird because our sanity tests specifically tests projects with spaces in the path. We'll look into it, and also why this isn't picked up by our sanity tests.

[2020-02-26 03:14] bettinaheim commented on #311
@bromeg @cpalmer2020 We really need PM support on this!

[2020-02-26 20:13] rstm-sf opened #342 "Consider using Coding Style and .editorconfig"
Hello!

Please, consider using Coding Style and [.editorconfig](https://editorconfig.org/). Because it’s unusual to see, for example, the following code

https://github.com/microsoft/qsharp-compiler/blob/9bdc21409409b8e74cde1e0a24c49fc80bb602f3/src/QsCompiler/Compiler/CompilationLoader.cs#L408-L409

[2020-02-27 17:22] marshallsa commented on #342
Thanks for the suggestion! We've discussed standardizing the coding style recently. An .editorconfig file sounds like a good idea. It looks like a lot of editors have support for it, including [Visual Studio](https://docs.microsoft.com/en-us/visualstudio/ide/editorconfig-code-style-settings-reference?view=vs-2019) and [Visual Studio Code](https://github.com/editorconfig/editorconfig-vscode).

We'r

[2020-02-27 18:47] filipw commented on #342
In C# extension in VS Code, editorconfig support is an opt in flag for OmniSharp (https://www.strathweb.com/2019/07/editorconfig-support-in-omnisharp-and-c-extension-vs-code/), we hide most of these newer features behind an opt-in flag on order to keep the base featureset is as lightweight as possible. but yes it definitely makes sense to me too!

For enforcing code style at build time you can als

[2020-02-27 18:56] cgranade commented on #342
We actually have an [editorconfig for the samples repo](https://github.com/microsoft/Quantum/blob/master/.editorconfig) for precisely this reason. We've looked into using dotnet-format with precommit before to help with code style, but to limited success.

[2020-02-27 22:08] marshallsa opened #351 "Renaming a type does not rename references inside other types"
**Describe the bug**

Renaming a type (via "Rename Symbol" in VS Code) does not rename references to it inside other underlying types, causing compilation errors.

**To Reproduce**

[code]

Try to rename `Foo` to something else. The reference to `Foo` in `ToBar`'s signature is renamed, but the reference in `Bar`'s underlying type is not:

[code]

**Expected behavior**

All references to the type s

[2020-02-28 01:03] lukka opened #354 "Project creation failed. The Q# project template may not be installed."
**Describe the bug**

Trying to create the hello world project with VSCode and the Ms Quantu Development Kit for Visual Studio.

**To Reproduce**

VSCode used:
Visual Studio Code - Insiders
Version: 1.43.0-insider (system setup)
Commit: 0eebaf9ad23748baca2afc0da425650922bc23de
Date: 2020-02-27T05:47:59.073Z
Electron: 7.1.11
Chrome: 78.0.3904.130
Node.js: 12.8.1
V8: 7.8.279.23-electron.0
OS: Window

[2020-02-28 16:52] cgranade commented on #354
Thanks for the report, @lukka! To try and help debug, would you be willing to share the log from the Q# Language Server output window (View → Output, then select "Q# Language Extension" from the drop down at the upper-right of the terminal pane) and the Developer Console (Help → Toggle Developer Tools, then select the "Console" tab at the top of the right-hand pane). Also, what version of the .NET

[2020-02-28 20:30] lukka commented on #354
@cgranade  Looks like this is the only output when i select the file:
[Info  - 12:29:42 PM] workspace folder: (Null)

[2020-02-28 22:10] cgranade commented on #354
Thanks for providing those logs, @lukka! It looks like there may be a problem with your .NET Core SDK installation itself, perhaps, that's causing it to not find `NuGet.Frameworks`? Does it work to install project templates and use them manually from the command line using the code below?

[code]

[2020-03-04 16:11] bettinaheim commented on #307
I fixed this - PR is coming soon.

[2020-03-09 23:37] marshallsa commented on #259
After some more discussion, we've decided to drop the `private` access modifier for the time being. Although private declarations are limited to the namespace they're declared in, because namespaces can be (re-)declared from within any file, a private declaration can in principle be used from anywhere in the project. We felt this was too similar to the `internal` access modifier, and too different

[2020-03-10 00:29] samarsha opened #363 "Syntax tests fail when current locale uses comma as decimal point"
**Describe the bug**

When the computer's current locale uses a comma for the decimal point, the "Expression literal tests" fail because one of the tests calls `ToString` on a double, which outputs a comma, and then tries to parse that double as Q# code, which expects a period. For example, the test fails in the German (de-DE) locale.

[code]

**To Reproduce**

Steps to reproduce the behavior:
1.

[2020-03-10 16:55] deviousasti opened #365 "Q# Language Extension on dotnet core 3.1.200-preview"
On VS 2019 Preview 5.0
Language Extension fails, leading to broken Intellisense for all packages.

[code]

![image](https://user-images.githubusercontent.com/2375486/76337791-deb7a480-631d-11ea-841d-d2ab57d186a2.png)

Has PR #359 been deployed?

[2020-03-10 22:48] bettinaheim commented on #365
@deviousasti No, #359  has not yet been released. However, if you look at the [corresponding build](https://dev.azure.com/ms-quantum-public/Microsoft%20Quantum%20(public)/_build/results?buildId=8455&view=results) and click on Artifacts, then you should be able to download the (unsigned) alpha build based on that PR.

[2020-03-11 09:37] deviousasti commented on #365
Uninstalled old package, installed new package (vsix) from build artifacts.
I'm still getting the same error.

I'm not exactly sure why qsharp is trying to use the `3.1.200-preview` in its build targets.
Interestingly, I can't seem to find this version [on Nuget](https://www.nuget.org/packages/NuGet.Frameworks/5.5.0-preview.2.6382). 5.5 is still in preview.

This is possibly related to #354

[2020-03-11 15:02] bettinaheim commented on #365
Could you run "dotnet --version" to confirm that you indeed are using 3.1.200-preview by default on your system?
I suspect you may have the preview version of Visual Studio installed and updated it recently. I believe that update would pull in this dotnet version update as well. Unfortunately, we don't support using preview versions with our extension. Downgrading 3.1.102 would resolve the issue.

[2020-03-11 18:59] deviousasti commented on #365
I switched the dotnet sdk from  3.1.200-preview to 3.1 LTS, and everything seems to be working now.
Thank you for your patience.

Closing this now.

[2020-03-11 18:59] #365 closed

[2020-03-11 19:46] marshallsa commented on #259
Also, here is an example of the syntax used to make a declaration internal:

[code]

[2020-03-13 04:02] lukka commented on #354
@cgranade

it looks like it errors out while accessing an internal nuget feed, which I have access to (but i guess the credential provider is not enabled in this scenario):

[code]

[2020-03-15 17:43] anfelor commented on #181
I could imagine working on this. Would it be sensible to just transform an anonymous function
[code]
into
[code]
where z is a placeholder for some number of variables (the types of which I could find in a context)?

On a related note, I've been unable to find a formal language spec for Q#. Is it based on some Hindler-Milner style type system or something java-like hand-rolled?

[2020-03-15 17:44] anfelor commented on #98
Would that format be the output of the Q# compiler and the input of the Q# simulator?

[2020-03-16 07:07] swernli opened #374 "Add Extensions.json and readme guidance for VSCode"
We should add a .vscode/extensions.json file to help recommend extensions for this repo. Also, while the Ionide extension is helpful for processing F# projects and the Omnisharp extension is recommended for C# projects, they have trouble playing well together. It took me a while to figure out how to get Ionide not to show errors for the C# projects that it fails to load and on the flip side how to

[2020-03-17 13:34] bettinaheim commented on #374
Sounds good! Since you've dealt with this, do you want to make a stab at it, @swernli?

[2020-03-17 15:24] swernli commented on #374
I can definitely do that!

[2020-03-17 20:55] #259 closed

[2020-03-18 04:00] marshallsa commented on #342
I'm starting to work on an [.editorconfig file in the marshallsa/editorconfig branch](https://github.com/microsoft/qsharp-compiler/blob/marshallsa/editorconfig/.editorconfig). Some mixed results so far.

First, it seems like the only way to reformat @rstm-sf's `foreach` example is to set `csharp_preserve_single_line_blocks = false`. However, this also reformats auto-properties that are defined on

[2020-03-18 17:06] #374 closed

[2020-03-18 22:37] #307 closed

[2020-03-20 22:23] swernli opened #385 ""Problems" view in VSCode sometimes has cut-off strings with invalid file path"
When using the Q# extension for VSCode, I sometimes see compilation errors in the "Problems" view with their text cut off and an invalid path, like in the screenshot below:
![image](https://user-images.githubusercontent.com/10567287/77210531-7bb4d300-6abe-11ea-8271-d3636c9990d4.png)
The filename is correct, but each of the problem records has a line number corresponding to an old error that has si

[2020-03-24 14:56] rhpreston opened #387 "Q# Language Server encounters ArgumentOutOfRangeException while editing a file"
**Describe the bug**

While working on a Q# project, the following banner will pop up, seemingly at random:

[code]

Subsequently, more identical banners pop up for each character I type, until I save the file and there's a chance it will stop.

Checking the output, the detailed error message is:

[code]

**To Reproduce**

Since I don't know exactly what is causing this, it is difficult to say how

[2020-03-25 00:42] HadamardGate opened #388 ""error activating the remote language server. Q# Language Extension""
1) Installed a fresh Visual Studio 2019.
2) Added latest Q# from under "extensions"
3) Created Q# application "project, new, q# console app"
4) Compile -- or just sit there long enough and IDE will give the error
    "error activating the remote language server. Q# Language Extension" on every compile.

This was reported by someone else on (now closed) issue microsoft/Quantum#116 back in 2018 for

[2020-03-27 18:13] houseofcat opened #391 "Visual Studio 2019 (v16.5.1) Is Having Issues With Q# Applications"
**Describe the bug**
IntelliSense language server crashes for Q# and remains permanently broken.

**To Reproduce**
- Created new QSharpApplication from template.
- Debugged application one time to see it work - that was successful.
- Opened Driver.cs
- Switched Main to async Task and saved.
- Debugged application again.
- Received an IDE error and project fails to compile now.
- Reverted changes -

[2020-03-27 22:41] cgranade opened #394 "Code action to open namespace inserts declaration at wrong location when no other opens present"
**Describe the bug**

When using a code action to add a missing open declaration to a source file that does not yet contain any open statements (including Microsoft.Quantum.Intrinsic), the new open declaration is included at the wrong location.

**To Reproduce**

Start with the following source file:
[code]

Select the available code action at `And` to obtain:

[code]

**Expected behavior**

[code

[2020-03-28 07:44] rstm-sf commented on #342
It seems to me that the following option looks better `csharp_preserve_single_line_blocks = false` :)

It seems that I was mistaken in that I looked at the settings of editorconfig from far: for such a case it is difficult to choose an option. Maybe because it is not popular? Before that, I saw two equivalent options:
[code]
and
[code]

But this was the first time I met such an option and it seems

[2020-03-28 08:18] rstm-sf commented on #342
There is a [Fantomas](https://github.com/fsprojects/fantomas) project. It also has an issue supporting editorconfig  fsprojects/fantomas#650

[2020-04-13 15:05] jlu1202 commented on #354
I'm having the same problem. Any solution or workaround? Thanks in advance.

[2020-04-14 01:55] crazy4pi314 opened #400 "Auto-complete for function snippet in the VS Code extension missing field"
The tab auto-complete for the function snippet in the VS Code extension doesn't tab though the input tag.

**To Reproduce**

In a *.qs file in VS Code where you have the Quantum Development Kit installed start typing "function" and arrow down to select the function snippet. The function name, output type and contents can be tabbed though but not the argument.

**Expected behavior**

The input fiel

[2020-04-15 20:21] rhpreston commented on #391
What dotnet SDK version are you using? I was having issues with the new one (3.1.201) so I reverted to 3.1.103. You can do this by adding a file called `global.json` to your solution directory containing:

[code]

[2020-04-17 14:16] bettinaheim commented on #400
Thanks for filing & fixing!

[2020-04-17 14:16] #400 closed

[2020-04-17 14:16] bettinaheim commented on #394
That's a good candidate for a bug bash...

[2020-04-17 14:18] bettinaheim commented on #388
@HadamardGate Thank for filing, and sorry it took a while until it landed here!
Could you confirm that this is still the case with the latest extension?

[2020-04-17 14:22] bettinaheim commented on #387
@rhpreston  These sporadic issues seem to have popped up with some of the latest VisualStudio update. Since we didn't change anything on our end, I suspect it might be out of our hands. I'll try to follow up with our VS team.

[2020-04-17 14:42] bettinaheim commented on #391
@houseofcat That is an odd one. Could you try clearing all nuget caches and see if that resolves the issue? System.BadImageFormatException usually points to a mismatch between x86 and x64, though not sure how that would occur given the repro steps. I can't reproduce this, unfortunately.

[2020-04-19 06:51] crazy4pi314 opened #406 "Discriminated unions, Maybe?"
**Is your feature request related to a problem? Please describe.**
It would be really nice to have something like a maybe discriminated union. Say I have a function that I want to just return false to represent it failing, and if it succeeds then to return a different type (say a tuple).

**Describe the solution you'd like**
It would be nice to have something like Maybe<'T> where that's understood

[2020-04-20 15:18] bettinaheim commented on #351
@samarsha Could you double check if this is still the case with the latest release? This may have been fixed.

[2020-04-20 15:51] bettinaheim commented on #98
@anfelor
Yes, that would be the idea. We have some ideas we are working on, and hopefully we should be able to share them more broadly within the next six months to a year. We have a somewhat longer time line here due to the impact on hardware providers. I will file an issue to actually have something like a roadmap on this repo to give better visibility into our process, though it might take a bi

[2020-04-20 15:57] bettinaheim opened #408 "Write a rough outline for our roadmap"
Our stack will grow a evolve to meet the needs of both current and future hardware. We should soon have sufficient clarity regarding the technical solution to publicly share something like a roadmap.

[2020-04-20 16:02] bettinaheim commented on #135
@sw23 I am not sure if you ever got the chance to pursue this. We are also looking into more general options for multi-dimensional arrays. Unless there is something you are actively working on, I suggest that I close this one, and instead open a suitable issue to reflect updated capabilities once we are ready with those.

[2020-04-20 16:03] #135 closed

[2020-04-20 16:10] bettinaheim commented on #267
@cgranade
This really goes towards having the compiler resolve and verify the content in doc comments in general. It's a dual edged sword, especially with the docs scheme and pipeline that is still somewhat in flux. This hence won't be high on the priority list for a while.

[2020-04-20 16:25] bettinaheim commented on #406
@crazy4pi314 Thanks for the feature request! DUs can be super useful, and for me personally are one of features I am often quite fond of in a language. This needs some design work first, and then would require also quite a bit of dev work to support. Let me know if you would be interested in getting involved with either one. :)

[2020-04-20 16:35] bettinaheim commented on #181
@anfelor
You mentioned "I could imagine working on this." Cool!
We've been talking about a reasonable first version for this kind of feature, though we haven't had the time yet to fully write it all down. I believe it would be reasonable to support this by adding the corresponding additions to the SyntaxTree data structures, as well as a compilation step to do the lifting both for lambdas and part

[2020-04-20 16:37] bettinaheim commented on #354
@cgranade Any progress on this?

[2020-04-20 16:47] cgranade commented on #354
@lukka: My apologies for missing your response! It looks like the internal feed that's causing the issue is hosted on Azure Artifacts, in which case the [Azure Artifact Credential Provider](https://github.com/Microsoft/artifacts-credprovider) should allow you to use NuGet successfully from outside Visual Studio, and thus should hopefully address this problem as well. Thanks for the additional deta

[2020-04-20 16:47] bettinaheim commented on #203
Here is roughly the list of things that would need to be done:
- Qubit equality comparison in compiler and runtime
- Array equality comparison in compiler and QArray
- Tuple equality comparison in compiler and QTuple
- UDT equality comparison in compiler and [runtime (UDT class) or code gen]
- Basic callable equality comparison in compiler and runtime
- Partial application equality comparison in r

[2020-04-20 16:49] bettinaheim commented on #148
Let's track this as part of https://github.com/microsoft/qsharp-compiler/issues/311.

[2020-04-20 16:49] #148 closed

[2020-04-20 16:59] samarsha commented on #351
It's still broken for me with extension version 0.11.20033107. The latest language server on master doesn't work either.

[2020-04-21 19:13] bettinaheim commented on #387
@rhpreston
I did hear back from the VS team, and they are investigating an issue where messages sent from the client could be out of order. This would indeed exactly cause the issue above, given that we do an incremental compilation and thus rely on the correct ordering.
Waiting for a second, then saving and giving it another second should usually get rid of the immediate issue. I will do a modifi

[2020-04-22 17:39] anfelor commented on #181
@bettinaheim Unfortunately, the new semester started in Germany this week and so I might not have a lot of time anymore. Still, I could try to make some progress as time allows.

[2020-04-24 04:19] crazy4pi314 commented on #406
I'd be happy to help, I am gonna take a look at some other language feature proposals and try to get something together that can be discussed!

[2020-04-26 07:45] hros opened #417 "vscode python import error"
q# sdk examples raise import errors in vscode linter

for example copying the examples from the installation guide
[hello_world](https://docs.microsoft.com/en-us/quantum/install-guide/pyinstall)
[host.py](https://docs.microsoft.com/en-us/quantum/quickstart?tabs=tabid-python)

into a vscode q# project gives the following errors
![image](https://user-images.githubusercontent.com/2613469/80301059-56e

[2020-04-27 03:00] crazy4pi314 opened #418 "The documentation snippet is missing some fields"
**Describe the bug**
I really like the code snippet in VS Code for the Q# for doc strings, and there are a number of special headings that can be parsed by other parts of the QDK supported. Looking at the [docs](https://docs.microsoft.com/en-us/quantum/language/statements#documentation-comments), there are some headings that are omitted/not included in the snippet. It would seem to me that it eith

[2020-04-27 23:34] JulesMhz opened #420 "Package Microsoft.Quantum.ProjectTemplates not found"
Hello,

I'm trying to install QKD for developing in C# and command line. So I installed the .NET Core SDK version 3.1.100 x64, then I tried to install templates with command line :
dotnet new -i Microsoft.Quantum.ProjectTemplates

But this command line give me an error :
C:\Users\Julien\.templateengine\dotnetcli\v3.1.100\scratch\restore.csproj : error NU1101: Package Microsoft.Quantum.ProjectTempl

[2020-04-27 23:36] cgranade commented on #420
Thanks for your patience. Since this concerns the project templates, moved over to the qsharp-compiler repo where those are hosted. It looks like your current `NuGet.Config` should work, such that I'm a bit confused by the errors that you've listed. That said, that's also the default configuration for NuGet, such that I'd suggest temporarily moving your config file somewhere else and seeing if it

[2020-04-29 20:01] crazy4pi314 opened #423 "Linter for Q# files"
**Is your feature request related to a problem? Please describe.**
It would be really nice to have a linter that can manage whitespace and formatting in Q# files to avoid spurious whitespace changes and consistent code.

**Describe the solution you'd like**
A tool like [Black](https://github.com/psf/black) for python but for Q#?

**Describe alternatives you've considered**
Adding to the style guid

[2020-04-29 20:03] HaoZeke commented on #423
We could also look into setting up an `editorconfig` file. [That'd work](https://editorconfig.org/) for many different editors.

[2020-05-02 05:14] Hackware2020 commented on #394
Hey guys,

    I'm HAckermango as the name implies, a white hat hacker. Would like to
to CREATE AN ONLINE VIDEO AND ANIMATION EDITOR like Powtoon. Check out
www.powtoon.com to have a better understanding. This project would comprise
of professional programmers, developer, animation guru and lots more.

    You all should have a good look on the website and amaze me with your
comments.TOGETHER WE S

[2020-05-02 06:52] crazy4pi314 commented on #406
# Suggestion

This suggestion outlines how to add discriminated unions to Q#.
The overall philosophy/objective with this design is to use it to extend/generalize the current design of user defined types (UDTs).
It may not break current UDT syntax, and current UDTs should be thought of as single-case DUs.

## Considerations

Firstly, discriminated unions (DU), or tagged unions, are a fairly common

[2020-05-06 18:28] tpetchel opened #427 "Cannot update QDK for Visual Studio Code"
**Describe the bug**

The [QnA](https://marketplace.visualstudio.com/items?itemName=quantum.quantum-devkit-vscode&ssr=false#qna) for the extension sends me here. Apologies if this is a duplicate.

I'm unable to update the QDK on macOS. I've tried uninstalling and reinstalling; no dice.

**To Reproduce**

1. Install an earlier version of the QDK. I have 0.2.118063001 (yes, from June 2018).
1. Try t

[2020-05-08 16:58] geduardo opened #429 "Commands for string manipulation don't work"
**Describe the bug**
The commands described in https://docs.microsoft.com/en-us/quantum/language/expressions#string-expressions to manipulate strings, `\n`, `\t`, `\r` do not work. Also `\"` avoids finishing the string literal but the compiler prints also the backslash, instead of only `"`.

**To Reproduce**

Execute:
[code]
And observe:
[code]

**Expected behavior**
Terminal printing:
[code]

**S

[2020-05-09 04:00] deonlewisduke commented on #333
There's a quantum effect you didn't take into account. In the xref:titleofexists.var source add some type of replace upon or if than command? I don't know I'm just a bored homeless guy.

[2020-05-09 05:42] samarsha commented on #406
Thanks for writing up this proposal! I'd love to see Q# get sum types.

In Haskell, `newtype` is used to declare strongly-typed type aliases that are limited to a single constructor. As a result, they can be erased at runtime. I am not sure if that was also part of the design of `newtype` in Q#. If Q# is making a distinction between types that can be erased at runtime and types that can't, then we

[2020-05-11 21:38] tcNickolas opened #430 "Some code actions add new code instead of replacing old with new"
**Describe the bug**

Some code actions don't replace incorrect code with correct one, but rather insert new code somewhere - either at the end of the file or at cursor.

**To Reproduce**

I'm attaching the project on which I'm getting this behavior. I observed this with code actions to replace old array element assignment syntax with new one and to replace `()` with `Unit`.

[code-action-bug-repr

[2020-05-12 20:48] bettinaheim commented on #391
Closing this as we can't reproduce this on our end.

[2020-05-12 20:48] #391 closed

[2020-05-12 22:48] houseofcat commented on #391
@bettinaheim I am so sorry, I thought I posted but I didn't, your solution worked, clearing the %appdata% nuget cache fixed it!

[2020-05-16 01:37] bettinaheim commented on #427
@tpetchel What exactly do you mean by "reinstalling"? Did you download the newest extension and install that? Whether or not extensions in general are automatically update is a setting in VS Code.

[2020-05-16 01:38] bettinaheim commented on #429
Thanks for filing!

[2020-05-16 01:43] bettinaheim commented on #430
@tcNickolas Sorry, I can't reproduce the issue for the project you linked. I don't think this has anything to do with the project - I did try with an older version of VS though, so possibly this might be related to the VS issue mentioned here: https://github.com/microsoft/qsharp-compiler/issues/387

[2020-05-16 18:41] cgranade commented on #427
@tpetchel It just occurred to me, but you've listed that you're using version 1.25.0 (June 2018) of VS Code. As of version 0.3 of the Quantum Development Kit extension, version 1.31.0 (January 2019) of VS Code is required; can you update VS Code and see if that resolves the issue? Thanks for your patience!

[2020-05-16 21:55] tpetchel commented on #427
@bettinaheim - by "reinstall", I meant I clicked Uninstall and then Install again.

@cgranade - great catch! So strange that I was running such an old version for so long. Whenever I clicked "Check for updates", Code always told me I was running the latest version. I downloaded and installed the latest Code package, and all is well now! I'm now able to update the extension.

![image](https://user-

[2020-05-16 21:55] #427 closed

[2020-05-19 00:16] vadym-kl opened #433 "Clarify sub-typing behavior in Q#"
**Is your feature request related to a problem? Please describe.**
Consider the following snippet of code:

[code]
Expressions `let x ...`, `let y ...`, `let z ...` compile without an error, and `let w=...` causes an error.
It seems like `(Unit => Unit)` is a supertype of `(Unit => Unit is Adj)`, however
`(Unit => Unit)[]` and  `(Unit => Unit is Adj)[]` have no common base type.

**Describe the so

[2020-05-19 00:43] bettinaheim commented on #433
@vadym-kl Indeed, Q# arrays at this time are invariant, rather than covariant as you may expect them to be. This is by design and may be relaxed in the future. Please let me know if you have any further questions.

[2020-05-19 00:48] bettinaheim commented on #433
I'll transfer this to the docs repo, since it indeed looks like we don't (no longer?) explicitly state that arrays are invariant.

[2020-05-19 00:54] bettinaheim commented on #433
I can't transfer, so I recreated the issue on our docs repo.

[2020-05-19 08:42] TheOnlylight opened #434 "Namespaces cannot be found while the program runs normally"
I use the vscode on Win10, with .net 3.1.4
the VScode reported red on the namespaces fro Q#, however the program managed to build and run properly ,this is so werid
![image](https://user-images.githubusercontent.com/24605645/82305080-c637ca80-99ef-11ea-9edb-6179de5c6141.png)
![image](https://user-images.githubusercontent.com/24605645/82305088-c932bb00-99ef-11ea-8ef8-8ed5f3d8ea4b.png)

[2020-05-19 18:20] samarsha opened #435 "Loading IsQscReference package fails if it contains DLLs with external references"
When a package reference in a Q# project is tagged with `IsQscReference="true"`, the compiler attempts to load all of the DLLs in the package to look for rewrite steps. This fails if the DLL has dependencies that are not included in the package, and the recommended solution is to redistribute all dependencies in the package itself so they can be loaded at the same time.

The problem is when a pack

[2020-05-20 08:26] valdaarhun commented on #434
Hi. I too am facing this issue. The program works even though I get errors stating that the namespaces could not be found.
I am using vs code with .net 3.1.300. The version of the windows OS that I am using is 6.1.7601.
![Console](https://user-images.githubusercontent.com/39989901/82423443-60a41680-9aa1-11ea-99a7-7adb88662a94.PNG)
![Screen](https://user-images.githubusercontent.com/39989901/824234

[2020-05-20 16:54] bettinaheim commented on #434
Yes, the output clarifies what the issue is! It looks like the package that we are using for the design time build is older than the dotnet version you are using. We can update that with our next release. Thanks for pointing it out!
@ricardo-espinoza It would be good if we could find a more permanent solution than having to explicitly reference and update the NuGet.Frameworks package.

[2020-05-20 20:07] vadym-kl opened #436 "Improve build time for Q# hello world application"
## Describe the enhancement request
Currently hello world sample takes around 7 times longer for Q# project to compile than for C# project.

## To Reproduce

Run the following PowerShell script to reproduce:
[code]

## Expected behavior
Given that Q# is transpiled into C# and Q# is much simpler programming language than C#, I would expect Q# project to take at most two times longer to build.

## A

[2020-05-20 20:10] vadym-kl opened #437 "Improve build time of Q# standard library and its tests"
## Describe the enhancement request
Currently building Q# Standard Library takes 55 seconds and building it together with tests takes 01:27.
This might not seem like a long time for a language's standard library to build,
however the number of lines of code in Q# standard library excluding comments and blank lines is **5303** ( measured for commit [55df2709294f27a55f286bab799d60ae81e829d3](https:/

[2020-05-20 20:13] vadym-kl opened #438 "Improve response time of Q\# standard library tests in VS code and remove false-positive errors"
## Describe the enhancement request

After opening tests for Q# standard library it takes around 18-20 seconds before one can go to symbol list defined in the file.
Standard library test project has 3073 lines of Q# code in 34 files.
Once Q# language server has processed the files, errors start to show up in many files, however the project builds successfully.
It looks like the definitions from th

[2020-05-20 20:30] bettinaheim commented on #438
Regarding "once Q# language server has processed the files, errors start to show up in many files, however the project builds successfully.": The content on disk is what is considered the "source of trust" for the language server. If packages have not yet been downloaded, or a referenced project is not yet built, then the corresponding things will be underlined until that is done (similar to the b

[2020-05-21 01:48] vadym-kl commented on #438
I do observe the errors when I open project after it has been built in VS Code.
I forgot `dotnet build` in the steps to reproduce the issue.

[2020-05-26 20:13] vadym-kl commented on #433
@bettinaheim, should this request be left open if array invariance may be relaxed in the future?

[2020-05-28 02:06] bettinaheim commented on #434
See also https://github.com/microsoft/MSBuildLocator/issues/86

[2020-05-31 18:39] venkyms commented on #434
Same namespace issue occurs in mac version as well. Below are the details

[code]

Error Message from the output window(Q# Language Extension)
[code]

Is there any work arround for this issue, until this get patched ? Thanks.

[2020-06-02 16:09] swernli opened #446 "Scripts use of `DefineConstants` overrides all build constants, possibly hiding test failures"
**Describe the bug**
Our build and test scripts use `/property:DefineConstants=$Env:ASSEMBLY_CONSTANTS` in an attempt to provide extensibility, but `DefineConstants` acts as an override by default (not an append). So when the environment variable is empty, as it is during our pipeline runs, this will undefine all build constants, which disables any debug asserts, conditionally compiled code or log

[2020-06-05 03:42] samarsha opened #448 "Using a reserved symbol in a set statement crashes the compiler"
[code]

`bool` is a reserved symbol. When compiled, this happens:

[code]

[2020-06-05 05:07] crazy4pi314 commented on #406
Sorry for the delay, but thanks for the feedback @samarsha!❤️  I have responded to some of your comments below, and maybe once others chime in I can refine the proposal again.

That's fair, I haven't really done Haskell before so I avoided this confusion :) I guess the reason I was using `newtype` mainly was to keep to my design goal of this being an extension of UDTs which already uses this keywo

[2020-06-05 19:00] samarsha commented on #406
Yeah, that makes sense. I'm not sure why `newtype` was chosen as the keyword instead of `type`, so I was just wondering if it was chosen specifically for its single-constructor type alias properties. Maybe someone else who knows the reason can fill us in.

I think that this would shift where the conversions happen, but I'm not sure that it would reduce the total number of conversions. For example:

[2020-06-08 20:03] samarsha commented on #429
I think this is the same as microsoft/qsharp-runtime#22 - it seems like a compiler bug, should the runtime issue be transferred/closed as a duplicate?

[2020-06-08 23:18] samarsha opened #452 "C# generation throws an exception when the Q# code uses an invalid identifier"
When I use an invalid identifier:

[code]

The Q# compiler rejects it, which is good:

However, C# generation tries to run anyway, which is bad:

[code]

Microsoft.Quantum.Sdk version: 0.11.2006.403

[2020-06-09 04:51] crazy4pi314 commented on #406
Pinging @bettinaheim?

I def agree that it doesn't necessarily reduce the amount of total conversions. My hope would be that all the library operations would also then not take just `LittleEndian` but `QInt` so that it reduces errors on the user side (did I convert it yet or not?) and they can just think about it as the number it represents, not the encoding. As you say users would also be able to

[2020-06-09 05:06] crazy4pi314 opened #451 "`EntryPoint` only accepts flat arguments"
**Describe the bug**

The new `@EntryPoint` attribute does not take structured arguments (sensibly) as it is intended to work with command line applications. However, if I am using an `@EntryPoint` from a C# or other host I think it would make sense to be able to pass structured arguments. My use case is as follows (project [here](https://github.com/qsharp-community/qram/blob/crazy4pi314/quantumde

[2020-06-09 20:13] samarsha commented on #406
This makes sense, I agree with this goal. :) This is my idea for how to do that without DUs, please let me know if it would work for you:

[code]

It's supported by the current Q# language, but IMO it would be better if Q# allowed opaque UDTs to be defined (i.e., UDTs where the underlying type is only visible from within a module/project, rather than public), so that users wouldn't be able to tell

[2020-06-10 01:06] abacabadabacaba opened #453 "Incorrect parsing of nested string literals"
This program fails to compile:
[code]
A very similar program compiles just fine:
[code]

[2020-06-10 01:44] bettinaheim commented on #453
@abacabadabacaba Indeed - that's one edge case I didn't think of! You are not by any chance eager to participate in bug bashes? ;)

For anyone who is interested in picking that one up, I can give a detailed explanation of why this case isn't handled, and which code needs to be adapted. The issue would only occur if you have a string containing {,} or ; as an interpolated argument in a string - giv

[2020-06-10 03:36] abacabadabacaba commented on #453
This can also be triggered by a nested interpolated string. Something like `$"Hello, {loggedIn ? $"user {userName}" | "anonymous"}"`.

[2020-06-11 00:55] bettinaheim commented on #453
Yes, as I mentioned, any of '{', '}' or ';' within a string inside an interpolation argument would cause the issue. I believe there is also always a more or less convenient workaround. The case above for example could be expressed as `"Hello, " + (loggedIn ? $"user {userName}" | "anonymous")`.

[2020-06-11 02:36] abacabadabacaba opened #455 "Escape sequences in string literals are not recognized"
The [documentation](https://docs.microsoft.com/en-us/quantum/user-guide/language/expressions#string-expressions) states that escape sequences such as `\n` in string literals are replaced with the corresponding characters. In fact, this doesn't happen. For example, `Message("a\nb");` should print `a` and `b` on separate lines, but it actually prints `a\nb`.

[2020-06-12 07:44] abacabadabacaba opened #457 "Comments inside interpolated expressions are not recognized"
This program should compile:
[code]
But it doesn't. It compiles if the comment is removed.

[2020-06-12 20:40] Marius-Sheppard commented on #388
I have the same issue with the latest version of the extension.
Maybe these help?
  <entry>
    <record>1029</record>
    <time>2020/06/12 20:06:55.553</time>
    <type>Error</type>
    <source>ProjectCreationViewModel</source>
    <description>Failed to get preselected extension name.</description>
  </entry>
  <entry>
    <record>1040</record>
    <time>2020/06/12 20:07:43.240</time>
    <type>E

[2020-06-12 21:03] samarsha commented on #429
I have transferred that issue to this repository as issue #458 - since it was filed first initially, I'll close this one, and we can can continue the discussion over there. :)

[2020-06-12 21:03] #429 closed

[2020-06-12 21:43] samarsha commented on #455
Thanks for filing! I think that #458 was filed first (originally on qsharp-runtime - just transferred it over here). Let's keep tracking this bug in issue #458.

[2020-06-12 21:43] #455 closed

[2020-06-14 08:33] msoeken commented on #406
Different implementations of the same functionality can also benefit from DUs for a cleaner API. I have recently added the operation [`ApplyPermutationUsingTransformation`](https://github.com/microsoft/QuantumLibraries/pull/264) to the Q# libraries and am planning to add another operation `ApplyPermutationUsingDecomposition` soon. They both apply a permutation to the state vector, but use differen

[2020-06-14 20:43] harshitgarg22 opened #462 "Prettier Formatter"
**Is your feature request related to a problem? Please describe.**
Having been spoiled by prettier for basically every other language, it's annoying having to manually indent every line of the code.

**Describe the solution you'd like**
It'd be nice if there was support for formatter for Q#.

**Describe alternatives you've considered**
None. Make prettier use C#'s formatter for the time being? I'm

[2020-06-15 01:04] abacabadabacaba opened #464 "Identifiers with non-ASCII characters are not parsed correctly"
In general, Q# supports non-ASCII identifiers:
[code]
However, it may break if such identifier starts with a keyword:
[code]
Or, it may parse incorrectly:
[code]

[2020-06-15 17:38] samarsha commented on #406
Thanks for the example @msoeken! Is this also an example of a useful DU that does not need type parameters (in case DUs are implemented before type-parameterized types)?

[2020-06-15 17:47] cgranade commented on #406
@samarsha: I think @msoeken's example as well as similar examples across arithmetic work great without type-parameterized UDTs (I definitely would love to have `Maybe<'T>`, though...!). In particular, we have a fairly common pattern where different algorithms and methods for doing the same thing may offer different trade-offs, such that a user may want to select an implementation based on those tr

[2020-06-16 05:06] bettinaheim commented on #433
@vadym-kl I can rephrase the title and keep it open until we can make an informed call on this. It will be a while before we could possibly support that though, if at all.

[2020-06-16 06:53] mridulsar commented on #42
It looks like I am still running into the same error message as mentioned above by @cgranade.
fail: Microsoft.Quantum.IQSharp.Workspace[0]
      QS5022: No identifier with the name "Measure" exists.

[2020-06-17 01:09] samarsha commented on #205
It would also be cool, in addition to the code action, if the error message showed a list of suggestions for unknown identifiers.

[2020-06-17 02:31] cgranade commented on #205
@samarsha: Agreed entirely. Unknown identifier is by far the most common error in IQ#, for instance, but there's not much to help users out at that point, unfortunately.

[2020-06-17 15:06] bettinaheim commented on #452
I'll take a look as part of this month's bug fixing session.

[2020-06-17 15:07] bettinaheim commented on #436
I'll take a look as part of this months bug fixing session. Eliminating the dependency on the Restore target when building should improve the user experience for small projects.

[2020-06-17 15:10] bettinaheim commented on #437
@vadym-kl Could you please add
<PropertyGroup>
  <AdditionalQscArguments>--perf path</AdditionalQscArguments>
</PropertyGroup>
to the project, build it, and post the content of the file in path? That will give us additional information regarding where the time is spent.

[2020-06-17 15:21] bettinaheim commented on #434
@venkyms I believe this issue should indeed be fixed with the June 4th release.
Unfortunately it might temporarily reoccur until [this](https://github.com/microsoft/MSBuildLocator/issues/86) is fixed or we find an alternative. The workaround in the case of reoccurrence would be to not use the latest dotnet version until we've had a chance to update the package as part of our release.

[2020-06-17 15:23] bettinaheim commented on #438
@vadym-kl To clarify: did you build the test project or the standard libraries? The video unfortunately doesn't show. You should indeed not get underlining if the project has been built before (and the underlining doesn't go away until you build it).

[2020-06-17 19:15] samarsha commented on #33
I can't reproduce this issue with a Windows user account named "Zoltán". These steps work for me and the SimpleIsingSample project builds successfully:

[code]

(Same result with AdiabaticIsingSample.)

@Piedone Would it be possible to try this again and see if the issue is still there? :)

[2020-06-17 23:26] Piedone commented on #33
I think I've built the project from Visual Studio, should that make a difference. I just tried that with the simulation.sln solution and I get no errors, neither by building the project directly as you did. So it seems the issue is resolved in the current version, thank you!

Feel free to keep the user account if you like the name :D.

[2020-06-18 01:50] ricardoprins commented on #453
I'd like to help with this one :)

[2020-06-18 23:15] #291 closed

[2020-06-18 23:15] #464 closed

[2020-06-18 23:18] DmitryVasilevsky commented on #464
Thanks for reporting this problem! We updated handling of non-ASCII characters in Q#. "isБ" and "notБ" should now be treated as identifiers.

[2020-06-19 05:37] samarsha commented on #33
That's great! Thanks for following up.

I'll add a basic test for building a project containing accented characters in the file path to try to prevent this bug from reoccurring, although I don't know what the exact cause was. (Also, unfortunately the project build tests happen to be in a private repository at the moment, so I can't link to it.)

I will keep the account for a little while. :)

[2020-06-19 05:37] #33 closed

[2020-06-19 16:09] swernli commented on #446
Fixed by #466

[2020-06-19 16:09] #446 closed

[2020-06-20 16:09] #458 closed

[2020-06-22 20:01] swernli opened #475 "Classical control transformation unconditionally executes `elif` conditions"
When transforming an if-elif pattern into `ApplyIfElseR` with nested `ApplyIf*` the compiler produces code that will end up evaluating the elif condition regardless of the result of the original if. This can change the behavior of code completely. Take for example this Q#:
[code]
Because qs[0] is left in the ground state, the if-statement will always be true, so the elif does not get evaluated, me

[2020-06-22 20:26] ScottCarda-MS commented on #475
This will require a redesign of the feature. The issue currently is the lifting for the if contents happens first, then the reshaping of the if structures happens. So by the time we have a nested if-statement to lift, the lifting is already done.

[2020-06-22 20:49] #363 closed

[2020-06-22 23:22] crazy4pi314 opened #476 "API docs for compiler code"
**Is your feature request related to a problem? Please describe.**
It would be really nice to have easy to find/browse online docs for the Q# internals, especially the compiler.

**Describe the solution you'd like**
All of the API doc comments scraped and added to the API reference on the main docs page here: https://docs.microsoft.com/en-us/quantum/

**Describe alternatives you've considered**
An

[2020-06-23 19:18] KittyYeungQ opened #477 "Select Q#: Install project templates. - Doesn't work #912"
**Describe the bug**

Transferring a report from docs repo: https://github.com/MicrosoftDocs/quantum-docs-pr/issues/912

**To Reproduce**

From user:

"When I Click View -> Command Palette, Select Q#: Install project templates, nothing happens, although the first time I did it it said "Activating Extensions" on the bottom left of the screen. "Project templates installed successfully" never display

[2020-06-23 19:18] KittyYeungQ commented on #477
@ricardo-espinoza

[2020-06-23 22:28] ricardo-espinoza commented on #477
Hi Kitty,

After the command fails, what happens if you try to create a new project from VS Code? Do you get an error message?

Also, could you open a cmd window, and run `dotnet new --uninstall > o.txt` and share the o.txt file, to see if they got installed?

Thanks!

[2020-06-24 09:15] KittyYeungQ commented on #477
Hi @Lainad27 I've moved your question to the compiler repo here as the issue is not about the documentation but may be resolved here. @ricardo-espinoza please work with @Lainad27 for above question directly. Thank you.

[2020-06-24 17:29] #475 closed

[2020-06-25 02:40] bettinaheim commented on #435
With PR #472 it is now possible/necessary to list which dlls should be loaded. I believe this is hence taken care of.

[2020-06-25 02:40] #435 closed

[2020-06-25 02:42] bettinaheim commented on #436
This should be improved with the changes to the Sdk setup with the next release.

[2020-06-25 02:43] bettinaheim commented on #471
CopyLocalLockFileAssemblies is no longer needed and removed with PR #472.

[2020-06-25 02:43] #471 closed

[2020-06-25 02:45] bettinaheim commented on #452
Fixed with PR #473.

[2020-06-25 02:45] #452 closed

[2020-06-25 17:03] samarsha commented on #457
Thanks for the report! It does seem like it would make sense to support this. It looks like C# supports it as well.

[2020-06-25 18:50] samarsha commented on #476
I agree that this would be good to have! @bettinaheim mentioned that we are working on getting this set up, but we don't have a timeline yet.

[2020-06-25 20:44] #333 closed

[2020-06-26 04:39] samarsha opened #487 "Compile-time errors for Q# programs not supported by QPRGen1 runtime capabilities"
Quantum execution targets with QPRGen1 runtime capabilities can only inspect measurement results (via equality comparison) within the conditional expression of an `if`-statement. The body of any `if`-statement that depends on a measurement result (or any subsequent bodies in an `if`...`elif`...`else` chain) cannot contain `return` statements or `set` statements for any variable declared outside th

[2020-06-26 09:59] #448 closed

[2020-06-26 16:51] bettinaheim commented on #299
After some consideration, we may not want to support this. I'd be happy to reconsider if there is a strong enough reason to support this, but will close this for now.

[2020-06-26 16:51] #299 closed

[2020-06-27 00:11] samarsha opened #491 "Position of InvalidReassignmentInApplyBlock error is incorrect"
This Q# code is invalid because the `apply` block reassigns `foo`, which is used in the `within` block:

[code]

The error message should be on the `set foo = true;` line, but it's actually in the operation declaration:

![image](https://user-images.githubusercontent.com/33814365/85909609-adc98580-b7cf-11ea-8554-3de7b4c97ed5.png)

[2020-06-27 07:46] msoeken opened #493 "Build of faulty Q# program succeeds when calling `dotnet build` twice."
**Describe the bug**

A faulty program compiles without reporting an error when compiled twice in a row without changing files.

**To Reproduce**

Run the following PS file.

[code]

**Expected behavior**

I expect that the compilation fails twice, what actually happens:

[code]

**Screenshots**

If applicable, add screenshots to help explain your problem.

**System information**

- NuGet package:

[2020-06-27 16:02] bettinaheim commented on #493
This is likely an issue with the incremental build and deleting the response file when the build fails should do the trick.

[2020-06-28 15:20] QuarkNerd commented on #493
I would like to add to this, because I get a similar thing although in my case I don;t think the code is faulty

csProj ```namespace qSharp_begins {
    open Microsoft.Quantum.Convert;
    open Microsoft.Quantum.Math;
    open Microsoft.Quantum.Measurement;
    open Microsoft.Quantum.Canon;
    open Microsoft.Quantum.Intrinsic;

    @EntryPoint
    operation GenerateRandomNumber() : Int {

[2020-06-28 15:43] msoeken commented on #493
@QuarkNerd Thanks for your comments. I just want to clarify that there is indeed a syntax error present in your example. It should be `@EntryPoint()` instead of `@EntryPoint`.

[2020-06-29 20:33] bettinaheim commented on #453
@ricardoprins
Awesome! Sorry for the delay in response. I believe a good fix for this one should in fact also fix this one: https://github.com/microsoft/qsharp-compiler/issues/457.

The Q# compiler does an initial preprocessing before even building the tokenization as part of the incremental compilation. That preprocessing among other things needs to track where strings (and comments) start and en

[2020-06-29 22:34] ricardoprins commented on #453
Alright! I'll take a close look at this later today! Thanks :)

[2020-06-30 05:22] bettinaheim commented on #493
@QuarkNerd Could you confirm the Microsoft.Quantum.Sdk version that you are using? Just to confirm that this is indeed the same issue related to the incremental build.

[2020-06-30 05:23] bettinaheim commented on #491
@samarsha Since you already know the one line that needs to be changed and how, do you mind taking this one?

[2020-06-30 07:59] FanantenandrainyRatsimbazafy opened #498 "Could not download Q# language server."
**Describe the bug**

Describe what the unexpected behavior or issue is.
Please file a single issue per bug instead of enumerating multiple items.

**To Reproduce**

Steps to reproduce the behavior:
1. Open or go to '...'
2. Type or click on '....'
3. See error

The more information you can provide, the more likely someone will be successful at reproducing the issue and finding a fix.

**Expected

[2020-06-30 09:15] QuarkNerd commented on #493
Ah sorry, my bad. Very new to q#

"Microsoft.Quantum.Sdk/0.11.2006.403", forgot to add to original comment

[2020-07-01 00:43] bettinaheim commented on #388
@ricardo-espinoza Something to look into - unfortunately, the reported error is simply a time out, which would occur if the client doesn't manage to establish a connection with the server. It is not clear whether the issue is something we can fix, or whether that is an issue in the VS Client that needs to be reported to them.

[2020-07-05 18:56] JakuJ opened #504 "Official Q# syntax file not recognized by GitHub's Linguist"
**Is your feature request related to a problem? Please describe.**
I'm working on adding Q# support to GitHub's Linguist. In order to add syntax highlighting I need to provide an up-to-date syntax file for the language. I am aware of the one [in the VSCode extension directory](https://github.com/microsoft/qsharp-compiler/blob/master/src/VSCodeExtension/syntaxes/qsharp.tmLanguage.json.v.template),

[2020-07-06 17:55] samarsha opened #506 "Simplify position and range handling for syntax tree nodes"
The current API for source code position and ranges has some issues that make it hard to use:

* Use of zero- or one-based positions is inconsistent/unspecified.
* Use of named vs anonymous types is inconsistent, e.g. `int * int` vs `QsPositionInfo`.
* Naming is confusing, e.g. `QsPositionInfo * QsPositionInfo` is used to represent required ranges but `QsRangeInfo` is used to represent optional ra

[2020-07-07 02:43] #491 closed

[2020-07-07 21:04] samarsha commented on #462
I agree, this would be a really good feature to have.

For formatting new code as it is being typed, auto-indentation should be handled by the Visual Studio and Visual Studio Code extensions when you press enter. Is that not working correctly for you?

For formatting existing code, the command-line compiler does have a [`format` command](https://github.com/microsoft/qsharp-compiler/blob/master/src

[2020-07-07 21:22] samarsha commented on #498
Hi, thanks for the report! It looks like the bug report template was not filled out - could you provide some more information about which IDE and operating system you are using, and the version number of the QDK extension? Did this error happen when you installed the extension for the first time, or was it after an upgrade?

[2020-07-07 22:00] crazy4pi314 commented on #462
This is something that I also have been wanting for a while, and am working on finding collaborators on @qsharp-community to start working on some of the low hanging fruit on this one. I'll add here once we get something going.

[2020-07-08 00:47] samarsha commented on #504
Thanks for looking into this, adding Q# to the GitHub languages would be really cool!

The reason for the `.v.template` extension is because the version number for the grammar is a template variable that is filled in at build time by the `bootstrap.ps1` script, which looks for all files that end in `.v.template`.

[code]

So changing the extension would mean we'd need to change how the template sc

[2020-07-08 09:10] FanantenandrainyRatsimbazafy commented on #498
Hello
I use VS Code with both Windows 10 and Redhat CentOS7.
For QDK un use : v0.12.20070124

Thanks a lot.

Best regards.

[http://www.orange.com/sirius/logos_mail/orange_logo.gif]<http://www.orange.com/>
Fanantenandrainy Ratsimbazafy

Qualification-Intégration-DevOps
ORANGE/IMT/OLS/IVA/IAC/IDV
tél. +33 1 57 39 98 09
mob. +33 6 78 15 92 81
fanantenandrainy.ratsimbazafy@orange.com<mailto:81fanante

[2020-07-08 16:13] bettinaheim opened #508 "Compiler needs to give error for templates in expressions that are never assigned"
Right now, the Q# compiler is fine with templates (type parametrized callables) occurring within expressions as long as they are never assigned. This is technically correct, since any kind of usage of the template would require it to be concretized or assigned (resulting either in correct behavior or in a proper compiler error).
However, as long as we don't run the optimization to eliminate unused

[2020-07-08 17:39] samarsha commented on #508
Could you give an example of the kind of expression that should not be allowed?

[2020-07-11 01:17] samarsha commented on #487
Continuing [this conversion](https://github.com/microsoft/qsharp-compiler/pull/488/#discussion_r450478803) with @bettinaheim:

However, since these are kind of two distinct things, my inclination here would be to indeed implement it and even give two errors (since the error is really about two different issues).

I thought about this some more and I'd like to wait to do this until Q# actually supp

[2020-07-11 04:02] #504 closed

[2020-07-11 13:03] valdaarhun commented on #434
Hi. I would like to point out that after updating vscode the errors no longer appear and the program runs properly.

[2020-07-13 16:28] msoeken commented on #493
This issue can become quite a problem, when you run `dotnet build` the first time, observe an error, and then run `dotnet build -v diag` to see more details without changing any files. Then, the compilation succeeds without reporting any errors.

[2020-07-13 18:30] samarsha commented on #506
@bettinaheim This is my idea so far:

## Types

[code]

I think we can remove `QsLocation`. The name is confusing (why is "location" different than "position?"). We could store the offset and range separately in the syntax node. Or, since I think `QsLocation` is only used for declarations and statements, the range always starts at (0, 0) relative to the offset, anyway, so we could combine them int

[2020-07-14 07:30] msoeken commented on #436
I am still observing the reported behavior (factor 7) with 0.12.20070124:

[code]

[2020-07-14 11:49] #434 closed

[2020-07-15 00:16] bettinaheim commented on #487
I see your point about it being a non-trivial amount of code that currently wouldn't serve any functionality, and agree that we should write it when it is used. I sent you a note on tracking this.

[2020-07-15 09:17] msoeken opened #521 "Allow range start and end omissions in array updates"
**Is your feature request related to a problem? Please describe.**
Feature request not due to a problem, but suggestion to simplify code.

**Describe the solution you'd like**
I suggest to be able to write code such as:
[code]

**Describe alternatives you've considered**
Currently, the range end (or range start) cannot be omitted, and one must write:
[code]

In this case, the overhead is marginal,

[2020-07-15 23:36] #487 closed

[2020-07-21 16:13] jamessdixon opened #528 "Remove ; and {} and replace with white space"
I am frustrated by the amount of visual clutter that curly-brace syntax brings.  I would like Q# to adopt a more python-like white space syntax.  Please replace {} and ; with white space like python, remove the "return" keyword like F#, and replace the 'using {}' construct with a F#-like use block. My opinion is that it will also help beginners pick up the language easier.

[2020-07-22 21:39] samarsha commented on #498
Thanks for the information and sorry for the late reply! Just to clarify, this is the error message you are seeing?

![image](https://user-images.githubusercontent.com/33814365/88230787-e0786980-cc27-11ea-9178-19ed93a4c45a.png)

Unfortunately, I can't reproduce this problem with the QDK VS Code extension version 0.12.20072031. That's a newer version than what you're using - it might be worth updat

[2020-07-22 21:52] samarsha commented on #521
I have a question about your second example:

[code]

It looks like this is not valid: The type `Int` of the given expression is not compatible with the expected type `Int[]`. Should it be instead:

[code]

[2020-07-22 22:06] samarsha commented on #528
Personally, I agree - I definitely prefer languages with indentation-sensitive syntax over curly braces and semicolons. We have discussed changing Q#'s syntax before but I don't think there has ever been a concrete plan.

@bettinaheim Do you know if it is possible to make progress on this with a language proposal?

[2020-07-23 01:17] samarsha commented on #342
We reformatted all of the C# code using StyleCop, so the code sample mentioned in the original post has been fixed. :)

The F# code still has no formatting rules currently, though, so I'll leave this issue open until we do. Thanks @rstm-sf for pointing out Fantomas!

[2020-07-25 20:15] bettinaheim commented on #528
@jamessdixon
Thanks for the suggestion! This has in fact been under discussion for a while. Having an issue filed here that people can upvote is certainly helpful.

[2020-07-25 20:17] bettinaheim commented on #521
@msoeken
Thanks for pointing this out! I agree, the fact that this is currently not possible has been an oversight, and for consistency reasons it should indeed be supported.

[2020-07-25 20:20] bettinaheim opened #533 "Unwrap application between item access should be supported"
Based on how the precedence is specified for modifiers and combinators, it should be possible to have expressions of the form x[i]!::Re and similarly. That is, it should be possible to have postfix modifiers in the middle of item access expressions.

[2020-07-27 16:04] cgranade commented on #498
The VS Code developer tools can be used to look at the debug log for the whole VS Code instance.

![image](https://user-images.githubusercontent.com/31516/88564273-de2b5c00-cfe7-11ea-9890-d0e5a1ad73ad.png)

If something goes wrong before the Q# language extension output window is created, then that debug log may have more information.

![image](https://user-images.githubusercontent.com/31516/88564

[2020-07-28 16:22] #533 closed

[2020-07-28 21:23] samarsha opened #540 "VS Code and VS extensions don't provide actionable error messages"
There are several bug reports featuring error messages from the Visual Studio Code and Visual Studio extensions:

* *Visual Studio Code:* Could not download Q# language server. #498
* *Visual Studio:* "error activating the remote language server. Q# Language Extension" #388
* *Visual Studio Code:* Project creation failed. The Q# project template may not be installed. #354

These error messages don

[2020-07-28 22:40] swernli commented on #462
We have a hackathon project that is working on a linter and formatter for Q# files! Our feature branch is over here: https://github.com/microsoft/qsharp-compiler/tree/feature/qslint-hackathon. This should give us the foundation to start fleshing out full-featured auto formatting, but it's starting small :). We'd be happy to get any feedback, and will share more on this and other related issues onc

[2020-07-28 22:41] swernli commented on #423
We have a hackathon project that is working on a linter and formatter for Q# files! Our feature branch is over here: https://github.com/microsoft/qsharp-compiler/tree/feature/qslint-hackathon. This should give us the foundation to start fleshing out full-featured auto formatting, but it's starting small :). We'd be happy to get any feedback, and will share more on this and other related issues onc

[2020-07-28 23:43] samarsha opened #544 "Extensible diagnostics in design time builds"
**Is your feature request related to a problem? Please describe.**
The compiler has support for running arbitrary code on the Q# syntax tree during compilation in the form of the `IRewriteStep` interface. Rewrite steps can also generate arbitrary diagnostics that are displayed at build time. Unfortunately, rewrite steps don't run at design time when using the Q# language server, which means things

[2020-07-29 00:04] samarsha opened #546 "Functors in declaration can contradict functor generators"
[code]

Based on the declaration, this operation appears to support only `Adj`. Based on the functor generators, it appears to support only `Ctl`. It actually supports both `Adj` and `Ctl`.

I think it would be less confusing if this code was invalid. Maybe if an explicit functor list is present in the declaration, it must be a superset of the functor generators?

[2020-07-30 16:56] swernli opened #549 "Fix support for latest versions of Yeoman in VSCode extension build"
The latest versions of the Yeoman packages types/yeoman-environment and types/yeoman-generator had breaking changes that caused our VSCode extension build to fail. We worked around this by setting fixed version numbers in #547 but we need to follow up with a real fix that ensures we can support their latest version.
@ricardo-espinoza for FYI.

[2020-07-30 16:57] swernli commented on #549
As long as we are digging into this, perhaps we should consider moving off of the VSCode extension types that were deprecated a year ago. This warning comes up the first time you build the extension on a new repo:
`npm WARN deprecated vscode@1.1.37: This package is deprecated in favor of @types/vscode and vscode-test. For more information please read: https://code.visualstudio.com/updates/v1_36#_s

[2020-07-30 21:49] swernli commented on #544
One important concern that was brought up about invoking too much of the `IRewriteStep` infrastructure is the overall impact on performance. We definitely want to keep the language server performant, as having the design time feedback be fast is key to providing a good IDE experience.

[2020-07-30 22:49] samarsha commented on #544
Yes, running the all of the full rewrite steps should probably be avoided. We could add a method that `IRewriteStep`s could implement that would only return diagnostics, which depending on the rewrite step could be implemented in a more efficient way. Another way is to make a separate plugin interface for analyzers only.

[2020-08-02 23:44] pranavmarla opened #550 "Cannot run sample hello-world program from official Q# tutorial"
**Describe the bug**

I'm trying to get started with Q#. Following [the official tutorial](https://docs.microsoft.com/en-us/quantum/quickstarts/install-command-line?tabs=tabid-vscode), I installed the .NET Core SDK, the Microsoft Quantum Development Kit for Visual Studio Code extension and created a new standalone console application. As expected, VS Code automatically generated a sample hello-wor

[2020-08-03 01:21] cgranade commented on #550
It looks like your Q# code is failing to compile due to the namespace name being invalid (`hello-world` has a hyphen, which isn't valid in an identifier name). That then causes there to not be any `Main` method in the code-behind generated by the Q# compiler, such that you get the error message shown. Does this persist if you change the namespace name to something like `HelloWorld`?

[2020-08-03 01:33] pranavmarla commented on #550
That worked! Thank you so much, I never would have thought that!!

Would you happen to have a link to any documentation that lists exactly which characters are considered acceptable in an identifier (eg. hyphens are apparently bad, but what about underscores)?

[2020-08-03 18:19] samarsha opened #551 "Adding reference to Microsoft.Quantum.Compiler package causes StyleCop warnings to appear"
**Describe the bug**

Adding a package reference to Microsoft.Quantum.Compiler version 0.12.20072031 will turn on StyleCop for the project, which adds warnings if the code doesn't follow the StyleCop formatting rules.

**Expected behavior**

StyleCop shouldn't be activated and no warnings should appear.

**Additional context**

This will be fixed in the next release by #526. This bug can also be w

[2020-08-03 18:19] #551 closed

[2020-08-03 18:40] cgranade commented on #550
In this case, the hyphen character is used as the subtraction operator, such that `namespace hello-world` parses as defining a namespace whose name is the difference between `hello` and `world`. In general, Q# identifiers looks much like identifiers in other common language (identifiers must start with a lower- or upper-case letter or underscore, and can include digits after the first character).

[2020-08-03 19:01] cgranade commented on #550
Since the issue sounds like it's been resolved, closing it now, but please feel free to re-open or to open a new one if something further comes up. Thanks!

[2020-08-03 19:01] #550 closed

[2020-08-03 20:15] samarsha commented on #550
Unfortunately, I don't think we have documentation for this at the moment - the closest thing would probably be the Q# parser source code. I definitely agree that we should have more precise documentation for it and the rest of the Q# grammar, though.

[2020-08-03 22:32] pranavmarla commented on #550
Great, thank you @cgrenade and @samarsha !

[2020-08-05 03:26] glassnotes opened #553 "Implement operation simplification with circuit identities / templates"
**Please describe what you would like the feature to accomplish.**
For resource estimation, it would be great to be able to simplify gate sequences in operations based on a standard (or user-defined) set of rules, essentially like a transpiler pass. As it stands, the ResourcesEstimator does not perform any simplification and so overestimates the number of gates that would actually be required (see

[2020-08-06 14:16] iitaiy opened #556 "After file open, diagnostics doesn't showed on editor pane and no squiggly line file"
**Describe the bug**

When opening a file on Visual Studio 2019 with diagnostics, the diagnostics appear on the error list window but there is no squiggly line or any indication on the file editor pane.

**To Reproduce**

Steps to reproduce the behavior:
1. Create a new Qsharp project.
2. Open the Program.qs file.
3. Delete the semicolon from line 9 (`Message("Hello quantum world!");` -> `Message(

[2020-08-06 18:30] samarsha commented on #556
Hello, thanks for your bug report! I tried this with Visual Studio 16.6.5 and QDK extension 0.12.2007.2031, and the red squiggly shows up for me. Just as a quick check, could you try showing the line and column numbers in the error list?

![image](https://user-images.githubusercontent.com/33814365/89568067-9a9ad400-d7d7-11ea-9d2e-44d541727f68.png)

(Sorry about the German - "Zeile" and "Spalte" sh

[2020-08-06 18:45] samarsha opened #557 "Bounded polymorphism"
**Is your feature request related to a problem? Please describe.**
When writing a polymorphic function in Q#, the type variables are fully general. They are opaque types with no properties that the function can rely on.

But there are many cases where a function needs a type to have certain properties. For example, a function may need its type variables to be equatable or comparable to store/retri

[2020-08-06 19:36] cgranade commented on #557
I really love the idea of using typeclasses to solve the overloading problem in a much more scalable way. This feature would be an absolute marvel for the libraries, to be sure!

Thinking through a few examples of what this could look like:

[code]

For a more practical example than `UnwrappedTwice`, this would help a lot with both classical and quantum arithmetic.

[code]

[2020-08-06 21:14] iitaiy commented on #556
Thank you for the quick response.

I tried to update to VS 16.7.0 and I get the same result with more diagnostics:
![image](https://user-images.githubusercontent.com/23120909/89583240-ab346400-d842-11ea-9372-16208a15ddc6.png)

Output window:
![image](https://user-images.githubusercontent.com/23120909/89583329-ce5f1380-d842-11ea-8244-7f100bda67da.png)

[2020-08-06 21:42] samarsha opened #558 "Language server can't load project references after upgrade to .NET Core 3.1.400"
**Describe the bug**

When opening a Q# project in Visual Studio Code or Visual Studio, the language server outputs errors and is unable to load project references:

![image](https://user-images.githubusercontent.com/33814365/89585393-a051e300-d7f2-11ea-9cdf-01b71e9f974f.png)

[code]

**System information**

- VS Code extension 0.12.20072031, VS extension 0.12.2007.2031
- Windows 10, .NET Core 3.1

[2020-08-06 21:49] samarsha commented on #556
Hmm, I get the same errors after upgrading to VS 16.7.0 (although I see red squigglies for them). I think it's related to the upgrade to .NET Core 3.1.400. I created issue #558 for it since I think it is separate from the red squigglies not showing.

Pinging @bettinaheim and @ricardo-espinoza since I'm not that familiar with the Visual Studio extension.

One thing you could try is to reset your Vi

[2020-08-06 21:51] samarsha commented on #558
@bettinaheim, I think you are familiar with something like this that happened before?

[2020-08-07 00:37] crazy4pi314 commented on #557
This looks so freaking cool, and would help remove so much cognitive load with the functions/ops that have to have separate definitions for each type. 💖🎉

[2020-08-07 20:22] samarsha commented on #553
Hi @glassnotes, I believe this was transferred to the compiler repository because it looks like your examples can be simplified at compile-time. This wouldn't work if the simplifications depend on runtime values and/or branching, but if not, we do have a [compile-time circuit optimizer](https://github.com/microsoft/qsharp-compiler/tree/master/src/QsCompiler/Optimizations) that @rsoiffer worked on

[2020-08-08 12:07] ShaunJW360 commented on #436
@vadym-kl  Would it be possible to contribute to assingmnet?

[2020-08-09 22:58] vadym-kl commented on #436
@ShaunJW360, hopefully @bettinaheim can help answer your question. I am not working on Q# compiler.

[2020-08-10 16:50] bettinaheim commented on #436
@vadym-kl Thanks for the ping. @cesarzc could you give an update and suggestions for contributions to https://github.com/microsoft/qsharp-compiler/issues/437?

[2020-08-11 04:59] cesarzc commented on #436
Hello @ShaunJW360, thank you for your interest in contributing to the Q# compiler!

I am currently working on this issue. Here's a bit of background on it:
-  When the compiler command line tool (`qsc.exe`) is invoked with the `--perf` option, it generates a JSON file with performance data. For the Hello World application, it looks like the following:
[code]

- As it can be seen, most of the time

[2020-08-11 07:42] msoeken commented on #436
@cesarzc Thanks for the additional input. Can you clarify whether the numbers are referring to time in ms, and whether the separation by `.` indicate hierarchy, in the sense that, e.g., all times reported in `OverallCompilation.*` are included in the time reported for `OverallCompilation`?

[2020-08-12 17:15] cesarzc commented on #436
Yes, the numbers indicate time in ms.
Regarding the `.` symbol, it does indicate hierarchy as you described it.

[2020-08-13 14:16] Gambero81 commented on #558
I have the same problem after update .NET Core to 3.1.4 "Could not load file or assembly 'NuGet.Frameworks, Version=5.7.0.7"

[2020-08-13 17:43] bettinaheim commented on #453
Hi @ricardoprins,
How is it going with this one? Are you still interested in giving it a go? Otherwise I'll schedule it for us to pick up.

[2020-08-13 17:46] ricardoprins commented on #453
Hi! I'd love to help, but I'm totally stuck in work projects, sorry for not going ahead with that.

As soon as I'm more free, I'll work on some other issue here :)

[2020-08-13 18:55] bettinaheim commented on #453
I know the problem :)

[2020-08-13 20:24] samarsha commented on #558
Hi @Gambero81, our current plan is to include a fix for this bug in the next release at the end of August. The pull request for that is #566.

Unfortunately, in the meantime, I think the only solution is to downgrade .NET Core to the last 3.1.3xx release (3.1.302).

[2020-08-13 20:36] Gambero81 commented on #558
Hi @samarsha , the issue is not only in qsharp-compiler when you applied the fix.

I use roslyn libraries to analize source code and i need to use `MSBuildLocator.RegisterDefaults()` so i tried the fix:

VisualStudioInstance vsi = MSBuildLocator.RegisterDefaults();
                AssemblyLoadContext.Default.Resolving += (assemblyLoadContext, assemblyName) =>
                {

[2020-08-13 21:55] rmshaffer opened #571 "Downgrade entry point in library error to warning"
**Is your feature request related to a problem? Please describe.**
After discussion with @bettinaheim, we believe that the issue https://github.com/microsoft/iqsharp/issues/266 is due to the fact that IQ# is discarding certain compiler errors and attempting to build an assembly anyway, but the compiler is not executing the rewrite steps after the error has occurred.

**Describe the solution you'd

[2020-08-13 22:08] ScottCarda-MS commented on #571
I don't think it is a good precedent to set to allow the compiler to create a compilation despite errors having been thrown. This leaves the compiler open to having to support use cases for the compiler in which erroneous compilations occurred, which is not a situation we want to be in. It also biases future development work on the compiler to not have as strict a standard when considering what sh

[2020-08-13 23:12] samarsha commented on #571
The reason that rewrite steps don't execute when there are errors is because they assume that the syntax tree they are given is valid; for example C# generation was crashing with an exception when it encountered invalid identifiers, causing confusing error messages.

I think if we are considering this we need to make it clear that rewrite steps can receive invalid ASTs, and make sure all of our bu

[2020-08-13 23:19] rmshaffer commented on #571
I agree, that also sounds like a reasonable solution and doesn’t set a bad precedent about ignoring errors. Feel free to repurpose this issue for that if you feel that’s the best way to address this.

[2020-08-14 01:21] ricardo-espinoza commented on #558
Hi @Gambero81 ,

This issue was opened to track the error above on the Q# Compiler Language Server during initialization. With the fix that Sarah mentioned above, we're now able to start correctly after an upgrade to the SDK v3.1.400.

Are you encountering the problem above in a project unrelated to qsharp-compiler? If that's the case, then you might be interested in following the discussion on th

[2020-08-14 01:22] ricardo-espinoza commented on #558
Resolved by pull request #566 .

[2020-08-14 01:22] #558 closed

[2020-08-17 17:54] ScottCarda-MS opened #573 "Type Argument Inference Fails if the same Type Parametrized Callable is used Multiple Times"
This code highlights an issue with type argument inference:
[code]
The expression in the Main operation has an issue here. The type parameter resolution data structure in the syntax tree doesn't explicitly contain any way of keeping track of which instance of a type parameter the resolution is for. It only contains the callable name, the type parameter name, and the resolving type. In the code abo

[2020-08-17 17:56] ScottCarda-MS commented on #573
I have been looking into how C# handles similar cases and found that they have a rule that protects against this. They don't allow type arguments to be inferred from how the method's return is used. This would actually prevent both of these cases from compiling, which is at least consistent, because in both cases the type parameters don't get resolved until the `("Hi", 3)` is applied to the return

[2020-08-17 18:14] ScottCarda-MS opened #574 "Unresolved Generic Recursive Reference being Captured"
In the runtime repo, there is a circuit defined as follows:
[code]
This circuit shouldn't be allowed because we don't support capturing unresolved generic references. The `fct` is doing exactly that by capturing the recursive call omitting the argument that would have resolved its type parameter. After having captured this generic, one would now expect to be able to do:
[code]
But of course this i

[2020-08-17 18:21] ScottCarda-MS commented on #574
The related runtime issue to remove this circuit is found here: https://github.com/microsoft/qsharp-runtime/issues/343

[2020-08-17 18:46] #493 closed

[2020-08-17 18:48] samarsha commented on #574
If this bug is fixed, would

[code]

be a valid program?

[2020-08-17 19:14] ScottCarda-MS commented on #574
@samarsha No it would not. The linked issue for in the runtime repo is for removing that test case.

[2020-08-17 19:38] samarsha commented on #574
My example is different from that test case: it adds a `<'T>` after the second `GenRecursionPartial`.

[2020-08-17 20:10] ScottCarda-MS commented on #574
Oh sorry I didn't notice that it was different. Yes your example would work fine, as the `'T` in that context could only refer to the calling context's `GenRecursionPartial.T`.

[2020-08-17 21:42] swernli opened #575 "Q# callables should not have same fully qualified name as another namespace"
This issue is copied from https://github.com/microsoft/qsharp-runtime/issues/245.
When a Q# callable has a fully qualified name that exactly matches the name of another namespace, it becomes very hard to disambiguate them. This specifically causes problems in C# generation, but is really more a generally bad thing to do. We should detect and flag this in the compiler so that developers know early

[2020-08-19 03:28] bettinaheim commented on #574
@ScottCarda-MS The issue has nothing to do with the representation - it is merely a bug in the implementation (I simply forgot). https://github.com/microsoft/qsharp-compiler/pull/576 is the fix.

[2020-08-20 16:13] cgranade commented on #575
[code]

[2020-08-20 22:38] #574 closed

[2020-08-22 20:30] bettinaheim opened #583 "Combining type parameter resolutions succeeds when it shouldn't"
The following case and other similar cases (including direct recursions) should be indicated as invalid by TypeResolutionCombination:

    [<Fact>]
    [<Trait("Category","Type Resolution")>]
    member this.``Conflicting Resolution for type parameter in tuple`` () =
        let given = [|
            ResolutionFromParam [
                (FooA, BarA |> TypeParameter)
            ]
            Res

[2020-08-22 22:13] tcNickolas opened #584 "Compiler should warn about allocated but unused qubits"
**Is your feature request related to a problem? Please describe.**
When we define a classical variable that is never used later, the compiler offers a warning, which is very helpful. However, when we allocate a qubit register that is not used later, no warning is offered.

As a repro, this code only gives warning for variable `a` (`warning CS0219: The variable 'a' is assigned but its value is neve

[2020-08-23 19:00] abidart commented on #434
Hello everyone, I think this might be happening again. I am experiencing the same issue, on `MacOS Mojave 10.14.6` and `dotnet version 3.1.401`.

Here is the log (with the paths to the project edited out)

[code]

[2020-08-23 19:58] samarsha commented on #434
Hi @abidart, that looks like the same problem as #558. It should be fixed in the next release sometime this week. :) Hopefully, the fix is permanent this time and should continue to work with newer .NET Core versions.

[2020-08-24 16:10] samarsha commented on #584
Yes, I agree, this would be useful. Actually, I think the problem is that the Q# compiler does not produce any warnings for unused variables. The warning you see for classical variables is from the C# compiler. In the generated C#, all qubit variables are released after they are allocated, even if they are never used, and the release is considered a use according to the C# compiler. So no warning

[2020-08-24 17:39] cgranade commented on #584
At least with respect to callable parameters, there can be very valid reasons to not using some parameters (the `delay : Unit` input to `Delay` comes to mind, for instance), such that I think it'd make sense to have a mechanism for disabling that warning. Perhaps a `@NoWarn` attribute?

[2020-08-24 17:53] samarsha commented on #584
It looks like `_` is currently not allowed for parameter names, like it is for `let` bindings, but what about disabling the warning for parameters named `_`?

[2020-08-24 19:05] samarsha opened #586 "Verify runtime capabilities of callables defined in referenced libraries"
The compiler generates errors for use of result equality that isn't supported by a Q# executable's execution target, if the result equality occurs in the executable's source code (see #449 and #487). But it doesn't check result equality in libraries that the executable may be using. An unsupported result equality in a library may cause a runtime error for the executable, which we'd like to avoid.

[2020-08-25 03:29] tcNickolas commented on #584
I would love to be able to disable any warning! The one about possible shortcuts in ternary expressions is quite persistent...

[2020-08-25 04:03] samarsha opened #589 "Default values for qubits and callables in uninitialized arrays cause runtime errors"
**Describe the bug**

Q# array initializers allow creating an array with default values for the given type. For callable and qubit types, the default value is an invalid callable and an invalid qubit.

**To Reproduce**

[code]

[code]

**Expected behavior**

There are no reasonable default values for qubits and callables, so Q# should make it harder or impossible to create them. In general, not ev

[2020-08-25 04:34] samarsha commented on #584
The Q# compiler does have the `--no-warn` option, but it looks like there's no easy way to set that from the project config or a Q# file...

[2020-08-25 14:58] swernli commented on #589
Number 2 is especially dangerous, as `Default` allows you to create null qubits or null results pretty trivially:
[code]
This code will output `Values: [] , []`, showing that both the variables are null.

[2020-08-25 15:17] swernli commented on #589
It turns out, null `Result` variables allow for some very odd uses. They work in comparisons, but are neither `One` nor `Zero`, effectively making `Result` a ternary value instead of binary:
[code]
That code will output "Two?!?" which is both hilarious and ripe for abuse.

[2020-08-25 15:27] samarsha commented on #589
Thanks for the great examples @swernli! It’s good to show that null is so dangerous *because* it’s useful for control flow, people will be tempted to use it, and it can spread throughout a code base and libraries, encouraging more people to use null or defensively check for null.

We should fix this and provide the type-safe alternative: an option type (#406).

[2020-08-25 15:29] ScottCarda-MS commented on #583
Closed with #587.

[2020-08-25 15:29] #583 closed

[2020-08-25 15:35] cgranade commented on #589
Items (1) and (2) are actually identical, of course:

[code]

I think the notion of default values is incredibly useful in some contexts, but I agree it doesn't make any sense for some types (e.g.: `Qubit`). That could probably be rectified by having a concept indicating that a type supports default:

[code]

[2020-08-25 15:49] samarsha commented on #589
Yes - the implementation of `Default` is how I discovered this bug. :)

In some contexts, yes, but I'm not sure that a universal default can be applied to a type without knowing that context. Array initializers think that the default `Int` is `0`, but `IndexOf` would say that the default `Int` is `-1`. In other cases, there is no reasonable default and you should use `None` from `Option<'T>` inste

[2020-08-25 22:06] swernli commented on #589
@cgranade Pointed out to me that the documented default of `Result` is `Zero` which this behavior of returning null does not agree with. So for at least that case, the underlying implementation of the type should always construct a valid `Zero` result.
https://docs.microsoft.com/en-us/quantum/user-guide/language/expressions#array-creation

[2020-08-25 22:32] samarsha commented on #589
Thanks for pointing out the default value table. There are several types which don't match that table:

* `Default<String>()` is `null` but should be `""`
* `Default<Result>()` is `null` but should be `Zero`
* `Default<Range>()` is `0..1..0` but should be `1..1..0`
* `Default<'T[]>()` is `null` but should be `new 'T[0]`

One way to fix the immediate issue is to update these defaults to match the t

[2020-08-25 23:07] samarsha commented on #589
I have created microsoft/qsharp-runtime#359 for the null/incorrect defaults issue, and repurposed this issue for discussing whether qubits and callables should have defaults (and in general whether every type needs to have a default, or if it should be opt-in like @cgranade mentioned).

[2020-08-26 06:07] samarsha commented on #589
A random thought, but if every type needs a default value, then every type has at least one value, which means the void type cannot be represented in Q#. It's not used that often, but void can be useful for [proving at compile time that something will never happen](https://package.elm-lang.org/packages/elm/core/latest/Basics#Never).

[2020-08-26 16:28] #506 closed

[2020-08-27 17:27] tcNickolas opened #592 "Preserve API documentation on deprecated operations"
**Is your feature request related to a problem? Please describe.**
Currently we remove the API documentation as soon as we mark the operation deprecated, so its page in the docs only says "use the new operation instead". A person who sees the deprecation notice and wants to switch the code to use the new operation might not remember exactly the details of what the old operation did, and it's fairl

[2020-08-31 18:56] Bradben opened #596 "API docs: Convert namespace property to lower case in yaml conversion process"
(Full background details in /quantum-docs-pr [issue #991](https://github.com/MicrosoftDocs/quantum-docs-pr/issues/991)

**Issue**: In the published Q# API docs, the  _Namespace_ field now displays in all lower case (microsoft.quantum.arithmetic) and should be sentence case (Microsoft.Quantum.Arithmetic).

![bug_1](https://user-images.githubusercontent.com/27326846/91755415-e8f58580-eb7f-11ea-9770-

[2020-09-03 15:38] #596 closed

[2020-09-03 19:57] samarsha commented on #592
The compiler replaces the *short* summary with the deprecation message, but preserves the *long* summary (adding the deprecation message to the end, instead of replacing it). I am not sure which summary is used on the docs pages (I would guess long summary, but I'm not sure).

Confusingly, the short summary is saved to to the individual callable/type YAML file, while the long summary is saved to t

[2020-09-03 20:25] cgranade commented on #592
There's a lot of confusion around the Q# → YAML → HTML pipeline, most of which stems from that the YAML format is based on Q# 0.1 (e.g.: that only had summaries and not long descriptions). Agreed, though, we should check if the docs page has mixed something up there.

We can create a branch to test that, restoring some old comments from Git history to try and confirm. The API documentation pipelin

[2020-09-03 21:01] samarsha commented on #592
I created PR #605 that changes the YAML output to make more sense to me, but we should test it with the built documentation to make sure.

[2020-09-04 16:17] msoeken opened #607 "Deprecated operation call in VS Code template"
`Assert` is deprecated. I suggest to replace it with `AssertMeasurement`.

https://github.com/microsoft/qsharp-compiler/blob/20c020d889915f2f19d996b5e2dc6a23fe2b6075/src/VSCodeExtension/templates/unittest/Tests.qs#L11

[2020-09-04 19:04] samarsha opened #608 "Convert reserved character sequence warnings into errors"
microsoft/qsharp-runtime#349 updated C# generation to avoid name collisions in the generated code, but it relies on new reserved character sequences being added to Q#. #578 added temporary warnings for those identifiers.

* The warnings added by #578 need to be turned into errors in the September release.
* `Data` and `Item` should be removed from the [reserved words list](https://github.com/micro

[2020-09-04 21:21] samarsha opened #609 "Negative integer literal followed by identifier throws "valid expression without a range""
**Describe the bug**

The expression `-1a`, and similar expressions that start with a negative integer followed by identifier characters, cause the compiler to throw an exception.

**To Reproduce**

[code]

[code]

**Expected behavior**

The compiler should generate a diagnostic without throwing an exception.

**System information**

- qsc version: master
- Windows 10, .NET Core 3.1.401

[2020-09-04 23:51] samarsha commented on #607
Thanks for catching this!

It looks like there is also an identical template here: https://github.com/microsoft/qsharp-compiler/blob/6ffb9e3a0a0b6c0790259996f5785971946f1468/src/ProjectTemplates/Quantum.Test1/Tests.qs#L12

The duplicate templates were added to the VS Code extension by #515. @ricardo-espinoza Do you know if it's possible to have only one copy of the templates to make it easier to u

[2020-09-05 01:15] ricardo-espinoza commented on #607
We split the templates between VS, VSC and CL versions since requirements are slightly different in their specification format and now that we have the VSC ones embedded in the extension itself they are no longer relying on the command line ones.

But you raise a good point, we could explore "templating the templates", and produce them in a similar way to what bootstrap does and so they can in tur

[2020-09-08 10:55] msoeken opened #610 "Support for binary BigInt constants"
**Describe the solution you'd like**
For consistency, I suggest to support binary `BigInt` constants, e.g., `0b1100101011111110L`.

**Describe alternatives you've considered**
Alternatives are not using binary constants, e.g., `0xCAFEL` or converting a binary `Int` constant (if the value is small enough), e.g., `IntAsBigInt(0b1100101011111110)`.

[2020-09-08 21:15] samarsha opened #612 "Renaming a callable or type breaks qualified references"
**Describe the bug**

Renaming a callable or type using the "rename symbol" command in VS Code does not preserve qualified names in references to the symbol, causing "no identifier exists" errors.

**To Reproduce**

[code]

Use "rename symbol" to rename `Foo` and `Bar`. The output is:

[code]

which does not compile.

**Expected behavior**

The output should be:

[code]

**System information**

-

[2020-09-08 21:20] samarsha commented on #610
I noticed this a few days ago, too. I agree, I think it would make sense to support the same notations for `BigInt` that we do for `Int`. There is also octal notation `0o123` that does not work for `BigInt` with `0o123L`.

[2020-09-09 14:53] rmshaffer opened #613 ""Could not find the source file" error after deleting .qs file when no .csproj exists"
**Describe the bug**

In latest beta builds from `master`, the language server is creating a temporary project to compile and provide IntelliSense features for `.qs` files that do not have an associated `.csproj` file in the folder.

If one of these `.qs` files is deleted during a VS Code session, an error appears in the Problems tab, such as:
`Could not find the source file "c:\QDK\RyanTest\TestP

[2020-09-09 14:58] rmshaffer opened #614 "Allow configurable Microsoft.Quantum.Sdk version in language server automatically-generated .csproj"
**Is your feature request related to a problem? Please describe.**
In latest beta builds from `master`, the language server is creating a temporary project to compile and provide IntelliSense features for `.qs` files that do not have an associated `.csproj` file in the folder.

The temporary `.csproj` file generated contains a reference to the `Microsoft.Quantum.Sdk` version that matches the versi

[2020-09-09 15:48] samarsha opened #615 "Order of evaluation in expressions can generate incorrect adjoints"
**Describe the bug**

When auto-generating an adjoint specialization, Q# reverses the order of statements, but does not reverse the order of evaluation in expressions. Because evaluation can have side effects, this means auto-generated adjoint specializations may apply operations in an incorrect order.

**To Reproduce**

[code]

Outputs `(Zero, One)` because the `within` block is not uncomputed co

[2020-09-09 16:40] alan-geller commented on #589
I think modifying the "new" operator to take an initial value would be a good thing, and actually useful -- it makes it easier to create, say, an array of `PailiZ`s instead of an array of `PauliI`s. That way, we don't have to require a default value for every type, should we ever want to have a type with no values...
This would be a breaking change, though.

[2020-09-09 16:59] cgranade commented on #589
Odd idea: remove the `new` keyword, and make `Microsoft.Quantum.Arrays.ConstantArray` intrinsic.

[2020-09-09 17:06] alan-geller commented on #589
Actually, I kind of like that...

[2020-09-09 17:16] samarsha commented on #589
I like it too. :) The `new` keyword feels out of place in Q# since it's only used for arrays, but `new` is typically associated with constructing objects in OOP languages.

[2020-09-09 17:30] cgranade commented on #589
[code]

[2020-09-09 17:35] swernli commented on #589
I agree, down with `new`! I really like @cgranade's `EmptyArray` suggestion.

[2020-09-09 18:10] cgranade commented on #589
Out with the `new`, in with the... er... not new?

Anyway, all joking aside, getting rid of `new` takes a few more characters, but it's a lot more consistent with how we have expressed things elsewhere Q#. In particular, we can use intrinsic functions in Microsoft.Quantum.Arrays to include all existing functionality _except_ for the functionality that we would like to exclude.

Concretely, I'd sta

[2020-09-09 19:03] alan-geller commented on #589
How about `EmptyArray<'T>` for a zero-length array and `ConstantArray<'T>(size : Int, element : 'T)` for bigger arrays.

I think we still need `ConstantArray` to become intrinsic -- perhaps "guaranteed" is better than "intrinsic" -- as you said above, Chris.

We also need to figure out what to do with `Default<'T>`.

[2020-09-09 20:02] cgranade commented on #589
`ConstantArray` already exists, so the change to make it intrinsic can be done without affecting the Q# API. `EmptyArray` should complement it nicely. We couldn't write `EmptyArray` in pure Q# using `ConstantArray`, though, without `Default<'T>`, such that it would need to be intrinsic as well.

Sounds like deprecate-and-drop, so that we can close the loophole where `Qubit` can be effectively `nul

[2020-09-09 20:07] alan-geller commented on #589
Yup.

Dropping `Default` would be a lovely thing to do. I think everything is simple if we drop it and `new` at the same time.

[2020-09-10 00:50] rmshaffer commented on #571
@samarsha @ScottCarda-MS Do you think there would be any issues with making the change to downgrade "entry point in library" to a warning? Would it be reasonable for me to raise a PR for that?

[2020-09-10 15:26] bettinaheim commented on #571
@rmshaffer, @samarsha, @ScottCarda-MS Rewrite steps indeed should only deal with valid compilations. Making it a warning instead of an error I think is a good solution in this case. I'll update the title accordingly, and we can possibly take a look at that for October.

[2020-09-10 16:21] guenp opened #617 "[] should create an empty array"
**Is your feature request related to a problem? Please describe.**
When I create an array, I can use square brackets like so: `[1, 2, 3]`.
However, when I try to make an empty array like so: `[]`, I get an error saying that I should use `new 'T[0]`.

**Describe the solution you'd like**
I would like to be able to define an empty array using `[]`

**Describe alternatives you've considered**
Another

[2020-09-10 20:23] samarsha commented on #617
Yes, this would be great. We will probably need to improve Q#'s type inference for this to work best. Without better type inference, we could also consider making it possible to specify types of expressions with `:`, e.g. `let xs = [] : Int[]` would be equivalent to `let xs = EmptyArray<Int>()`.

[2020-09-10 22:19] cgranade commented on #617
One place where type inference could really help is in when an array of arrays contains an empty array as an element:

[code]

[2020-09-11 07:46] msoeken commented on #617
I strongly support this proposal. We should be able to deduce the type when passing an array to a function or operation:

[code]

We already have similar partial deduction in place for open ranges such as `values[5...]`, but I cannot write `let numbers = 5...`.

[2020-09-11 16:07] samarsha commented on #617
Hmm, not related to this issue, but I feel like you should be able to write `5...` in any context and have it evaluate to the infinite range `5, 6, 7, ...`. That would be consistent with current array slicing behavior if we allow ranges to extend beyond the size of an array (currently that's an index out of range error, but I feel like that's unnecessary).

[2020-09-11 16:34] msoeken opened #618 "Disable deprecation warnings for use of deprecated types in deprecated callables"
**Is your feature request related to a problem? Please describe.**
Deprecation warnings are raised for code used in deprecated functions or operations, even when they are never used.

**Describe the solution you'd like**
I would like no warning to be raised in this case.

[2020-09-11 16:40] cgranade commented on #617
I personally tend to think of `Range` as a kind of UDT (indeed, I think it could be really cool to literally make that the case, so that we no longer need `RangeStart`, `RangeStop` and `RangeStep` to be separate functions, and can just use `(1..3)::Step` directly). From that perspective, infinite ranges sound like a UDT with optional start and stop (assuming DUs and type-parameterized UDTs):

[cod

[2020-09-11 16:47] samarsha commented on #617
I forgot about the range start being optional... what is the first number that this code prints?

[code]

[2020-09-11 16:49] cgranade commented on #617
Oh, no.

[2020-09-11 17:07] bettinaheim commented on #618
Agreed, this would be a good thing to do. This should be fairly easy to to - labeling it as a good first issue in case someone wants to pick it up.

[2020-09-11 18:02] crazy4pi314 commented on #462
@swernli Just wanted to check in on the linter, there has been some community interest in working on/continuing the project! If you happen to know to where the project got to/what next steps are that would be great 😁

[2020-09-11 19:37] samarsha commented on #617
To verify adjointability at compile time, would infinite ranges have a different type than finite ranges?

[2020-09-11 22:19] swernli commented on #462
Hi @crazy4pi314! We had a lot of fun with the hackathon, but unfortunately realized by the end of the three days that our approach was not scalable to the full set of syntax across Q#. So while learning what not to do is a valuable hackathon result, it does mean we didn't produce something that would be reasonable to extend into a full solution. That said, we did collect our learnings in summary d

[2020-09-16 22:22] cgranade commented on #617
Assuming #557, you could introduce a new type without too much difficulty and then use concepts to provide a consistent way of using either closed or open ranges.

[code]

[2020-09-17 18:01] cgranade commented on #589
One thought with dropping `new 'T[length]` that we may want to consider: creating default arrays of that form is sometimes used in functions like `Mapped` or `Interleaved` (the latter in progress at https://github.com/microsoft/QuantumLibraries/pull/320), where the length of the output array is known exactly. From rough and informal testing, "pre-allocating" in that way can result in an approximat

[2020-09-17 18:07] alan-geller commented on #589
I guess the problem with using `ConstantArray` in this situation is that you don't know what the initial value should be. For the long term, it might be interesting to have some way to allocate an uninitialized array with some sort of (compiler-checked) commitment that every element is initialized before the array is either returned from the callable or passed as a parameter to another callable.

[2020-09-17 18:12] cgranade commented on #557
If you don't mind one more example of a `concept` that could be useful in helping to organize the libraries:

[code]

[2020-09-17 18:23] samarsha commented on #557
I'd rather see `Map` split out into a `Functor` concept, since it is more general than arrays, and have the collection functions in one or more other concepts (e.g. `Foldable`, `Traversable`, etc.).

[code]

Shouldn't this be:

[code]

since the collection is not necessarily an array? Requires HKTs though.

[code]

Tail is generally everything but the head, rather than the last element, right?

[2020-09-17 18:37] cgranade commented on #589
In many cases, we could kind of work around by doing something like using the first element of the output as the input to `ConstantArray`. In any case, I don't think this is a huge problem such that it should block deprecating `new`, so much as another usecase that might point to other features such as the one that you suggest.

[2020-09-17 18:54] cgranade commented on #557
That makes a lot of sense, yeah; I'll readily admit this was a rough thought to try and establish another usecase.

Allowing Map to return a different kind of collection than an array does seem like a good improvement, yeah. In the `Range` example, what would be the type of the output from `Mapped((x : Int) -> x * x, 0..10);`?

(As a side note, I really should have used `Mapped` from the start; I

[2020-09-18 04:15] samarsha opened #627 "Monomorphization fails with exception: An item with the same key has already been added."
**Describe the bug**

This Q# program compiles successfully without monomorphization

[code]

But fails with monomorphization:

[code]

**Expected behavior**

Monomorphization should succeed.

**System information**

- Microsoft.Quantum.Sdk/0.12.20082513
- Windows 10, .NET Core 3.1.402

[2020-09-18 17:12] samarsha commented on #615
One option to fix this is to implicitly lift operation calls in expressions into statements in the nearest scope, in order from left to right, so formally

[code]

would be equivalent to

[code]

Then order of evaluation would be well-defined, although this would also prevent this code from compiling because of QS6316: "Auto-generation of inversions is not supported for operations that contain ope

[2020-09-22 19:10] swernli opened #633 "Escaping curly braces in interpolated strings produces incorrect C# format strings"
**Describe the bug**

The fix in #469 added handling for escaped open curly brace to interpolated Q# strings, but the results are not correct. Namely, `\{` in a string is replaced with `{` which remains a special character in the generated C# `String.Format` call. C# uses `{{` as the escape in formatted strings, and also requires `}}` for closing braces (the parser doesn't have any explicit handli

[2020-09-22 19:12] swernli commented on #633
@bettinaheim @alan-geller Here is the issue regarding escaping curly braces in interpolated strings. For what it's worth, the C# docs recommend the (subjectively horrible) approach of using explicit strings for open curly brace and closing curly brace such that they get inserted into the string unambiguously. So something like this works:
[code]
But it does not look very nice.

[2020-09-22 19:41] alan-geller commented on #633
That recommendation comes from https://docs.microsoft.com/en-us/dotnet/api/system.string.format?view=netcore-3.1#how-do-i-include-literal-braces--and--in-the-result-string. It is, indeed, pretty ugly, especially since for an interpolated string you need to define the extra symbols.

As that link and others mention, you can use {{ and }} to indicate an escaped, literal { and }, but these are someti

[2020-09-22 19:44] samarsha opened #634 "AccumulateIdentifiers transformation throws NullReferenceException if AST is missing locations"
**Describe the bug**

The [`AccumulateIdentifiers`](https://github.com/microsoft/qsharp-compiler/blob/main/src/QsCompiler/Transformations/SearchAndReplace.cs#L328) transformation assumes all locations in the AST are non-null, and will throw an exception if there is a missing location (e.g., from generated code).

**Expected behavior**

The requirement that locations are non-null should be document

[2020-09-22 22:24] bettinaheim commented on #633
@swernli @alan-geller Aside from any questions on how the generated C# code should look like, I suggest the following behavior for Q#:
- we don't adopt the C# way of expressing curlies in interpolated strings, but instead allow to use them with backslashes like other special characters
- the backslash would be required for both { and } to use them within interpolated strings, even if they don't ma

[2020-09-22 22:39] swernli commented on #633
@bettinaheim Yup, makes sense! The the quirks of C# are left to the C# generation, rather than enshrined in the parser/QsCompilation.

[2020-09-22 23:43] samarsha commented on #634
@bettinaheim It's at least a documentation bug until support for missing locations is added, because having the transformation throw an NRE is unexpected.

[2020-09-23 20:30] alan-geller opened #637 "Add debug information to QIR"
**Describe the solution you'd like**
It would be helpful if the QIR generator created LLVM debugging metadata. This is useful when consuming the QIR, and is strongly encouraged in the QIR specification.

[2020-09-23 20:56] alan-geller opened #638 "Generate a "main" function for an entrypoint in QIR"
**Is your feature request related to a problem? Please describe.**
Currently QIR generation doesn't provide an equivalent to the Q#->C# generation for entrypoints. If you generate QIR and then compile to x64 code using clang, there is no `main` generated that will parse the command line and call the entrypoint.

**Describe the solution you'd like**
The QIR generator should emit a `main` function.

[2020-09-23 21:01] alan-geller opened #639 "Generate tuple/structure mapping code for QIR entrypoint wrappers"
**Is your feature request related to a problem? Please describe.**
Currently the entrypoint wrappers created by the QIR generator map simple types and arrays of simple types, but not Q# tuples.

**Describe the solution you'd like**
Tuples in QIR should map to C structs in the C wrapper.
This _may_ require some facility to provide to the QIR generator the clang-mangled name of the LLVM structure th

[2020-09-23 21:03] alan-geller opened #640 "QIR generation should map Q# attributes to LLVM metadata"
**Is your feature request related to a problem? Please describe.**
It would be great to be able to use Q# attributes to pass information to an LLVM pass.

**Describe the solution you'd like**
The QIR generator should map Q# attributes to LLVM metadata, as described in the QIR spec.

**Describe alternatives you've considered**
N/A

**Additional context**
This is specified in the QIR specification.

[2020-09-23 21:11] alan-geller opened #641 "QIR generator code clean up"
**Is your feature request related to a problem? Please describe.**
There's some ugly code in there...

**Describe the solution you'd like**
Some specific items:
- [obsolete/solved differently] Create a RuntimeFunctionBuilder that generates calls to runtime functions, including all prep code.
- [x] Track known information about values, such as lengths of array literals, and use it to simplify code.

[2020-09-23 21:15] alan-geller opened #642 "Port QIR generation to Linux and MacOS"
**Is your feature request related to a problem? Please describe.**
The QIR generator relies on the [Llvm.NET](https://github.com/UbiquityDotNET/Llvm.NET) LLVM wrapper. Unfortunately this project is currently Windows-only.

**Describe the solution you'd like**
First, Llvm.NET needs to support Linux and MacOS. See [this issue)(https://github.com/UbiquityDotNET/Llvm.NET/issues/193).
Then we need to e

[2020-09-23 22:41] bettinaheim commented on #575
@cgranade No, that is fine, since everything is resolved to fully qualified names upon compilation the issue only arises if the clash is with the full name.

[2020-09-24 20:33] bettinaheim commented on #237
@codingupastorm I am very sorry that I missed this inquiry!

[2020-09-27 03:05] samarsha commented on #462
So as a side project, I started working on a new Q# formatter that should be able to solve all the issues the built-in `format` command has (erasing all whitespace choices, losing unknown identifiers/invalid code blocks, rearranging comments). To preserve all the original information in the code I created my own AST based somewhat on the Roslyn AST, which is able to save whitespace and comments af

[2020-09-28 05:38] swernli commented on #462
Sorry for the delay in responding, @crazy4pi314 . I did have the chance to look over @samarsha 's qsfmt project, and I do think that is likely the right way to go for a formatter. It has a stronger approach than what we tried to build for our hackathon, and I believe will be a better place for us to rally efforts around having a tool that gets broader support and adoption.

The brief summary of wh

[2020-09-29 19:36] #634 closed

[2020-09-30 22:19] alan-geller opened #658 "Minor QIR fixes to match spec updates"
**Describe the bug**

Recent QIR spec updates should be matched by the QIR generator:

[ ] Validate that exponents for integer and bigint power operators fit in 32 bits
[ ] Validate that range steps are non-zero

**To Reproduce**

N/A

**Expected behavior**

N/A

**Screenshots**

N/A

**System information**

N/A

**Additional context**

N/A

[2020-10-01 18:32] cgranade commented on #406
To add another use case that we've run into quite a bit, the current implementation of `DumpMachine` has a type parameter `'T` that is used by the C# implementation of that callable; the C# implementation uses runtime type metadata to enforce that `'T` is either `Unit` or `String` and causes a runtime failure if that is not the case.

As an alternative, the location input could be a `Maybe<String>

[2020-10-01 19:44] samarsha opened #659 "Code completion doesn't recognize attributes"
**Describe the bug**

After typing `@`, typing a letter or pressing Ctrl+Space shows completions for all identifiers and keywords, not just attribute names.

**To Reproduce**

Steps to reproduce the behavior:
1. Open a Q# file in Visual Studio Code.
2. Type `@` in a namespace:

[code]
3. Code completion shows identifiers that aren't valid as attributes, like the `repeat` keyword.

**Expected behav

[2020-10-02 17:27] jamessdixon opened #660 "Ability to run a Q# script"
I just created  my 1st Q# project in Codepsaces (beta) on GitHub following the "Develop With Q#" section found [here](https://docs.microsoft.com/en-us/quantum/quickstarts/install-command-line?tabs=tabid-vscode).  I noticed that I had to create a console application.  Is there any way to create a Q# script (.qsx file) like I can do with F# and a .fsx file and use a REPL to work in the quantum langu

[2020-10-02 17:56] cgranade opened #661 "Using @Test attribute in non-test project causes C# compilation step to fail"
**Describe the bug**

When using the `@Microsoft.Quantum.Diagnostics.Test()` attribute from a standalone executable or library project, the Q# compiler successfully code generates to C#, but  the resulting C# code fails to build.

**To Reproduce**

[code]

[code]

**Expected behavior**

A Q# compile-time error to be raised indicating that `@Test()` cannot be used from within library or executable

[2020-10-02 19:07] cgranade commented on #589
That's effectively what the [`MappedOverRange` function](https://docs.microsoft.com/qsharp/api/qsharp/microsoft.quantum.arrays.mappedoverrange) does, with the slight modification that it acts on `Range` instead of `Int`. Using `Composed(mapper, ElementAt(_, array))` as the first input would also do it, even without lambdas. I think my main concern, though, would be with making sure we've carefully

[2020-10-02 19:11] samarsha commented on #589
I think it would be nice if Q# could have built-in syntax for empty arrays, even without type inference necessarily - e.g. by allowing type annotations on expressions, so that

[code]

I think `MappedOverRange` being intrinsic or not is a performance issue, which is important, but not necessary for a minimal working implementation, right?

[2020-10-02 22:17] samarsha opened #662 "Some non-concretized callables are allowed to be called or given as arguments"
**Describe the bug**

The Q# language specification says in [Type Parameterizations](https://github.com/microsoft/qsharp-language/blob/main/Specifications/Language/4_TypeSystem/TypeParameterizations.md):

The compiler doesn't implement this correctly, because the following programs compile:

[code]

[code]

**Expected behavior**

1. The compiler should forbid the programs above to comply with the

[2020-10-03 15:55] ashwinpilgaonkar commented on #659
Hi @samarsha, is it okay if I attempt to fix this?

[2020-10-03 17:19] samarsha commented on #659
Hi @ashwinpilgaonkar, yes, feel free to start working on this! Let me know if you have any questions.

[2020-10-04 14:28] ashwinpilgaonkar commented on #659
@samarsha sure will do, thanks.

[2020-10-05 12:02] ashwinpilgaonkar commented on #659
Hi @samarsha, I seem to be having some trouble with installing the development VSIX extension.

I took the following steps to setup my development environment as per the docs:
1. Installed `vsce` globally using `npm`
2. Cloned the project and ran `bootstrap.ps1`
3. Followed the steps to build a self-contained version of the language server using `dotnet publish`
4. Ran `vsce package` to produce an

[2020-10-05 15:17] jamessdixon commented on #660
Sure, go ahead and move it

On Fri, Oct 2, 2020 at 11:27 AM Chris Granade <notifications@github.com>
wrote:

[2020-10-05 18:09] samarsha commented on #659
It looks like the same error is affecting the latest release of the QDK extension for VS Code, actually, so it seems like it is a separate issue that we will hopefully have a fix for soon. However, for some reason it doesn't affect me when I build the VSIX using `vsce package` - the extension seems to work when I install it.

Can you double-check that there is a `node_modules` folder in the reposi

[2020-10-05 20:38] samarsha commented on #659
The "Cannot find module 'vscode-extension-telemetry'" problem looks like it was caused by a recent update to `vsce`, but I think that a new update has fixed it - @ashwinpilgaonkar can you try running `npm install -g vsce` to update `vsce` and then building the VSIX again?

[2020-10-05 23:40] ScottCarda-MS opened #665 "Access Modifiers on Code Output Transformation"
When running the code output transformation, the outputted code does not seem to preserve access modifiers for namespace elements. Could the transformation be updated to preserve the access modifiers?

[2020-10-06 13:17] ashwinpilgaonkar commented on #659
Hi @samarsha, thanks for all the info!
You can find my replies stated below -

I just tried it. The same error still shows up.

Oh, I see.

You're right, the `node_modules` folder was indeed missing. I ran `npm install`, but it doesn't seem to change anything. FYI, regardless of whether the `node_modules` is present or not, VSCode does detect the installation of the extension (I get the option to

[2020-10-06 15:48] RonaldMariah commented on #618
Hi, I can have a look at this.

[2020-10-06 20:02] samarsha opened #667 "Access modifiers are not resolved in the syntax tree"
**Describe the bug**

The `AccessModifier` type is defined as:

[code]

This is ambiguous, because `DefaultAccess` can represent either public or internal, depending on if it applies to a specialization whose parent callable is internal. This ambiguity exists in the syntax, because specializations don't require access modifier keywords and automatically inherit the parent callable's accessibility,

[2020-10-06 20:09] samarsha commented on #98
@bettinaheim I think this is now resolved by the QIR specification on qsharp-language, but please re-open if there is still remaining work that needs to be done here.

https://github.com/microsoft/qsharp-language/tree/main/Specifications/QIR

[2020-10-06 20:09] #98 closed

[2020-10-06 20:21] samarsha commented on #304
@bettinaheim I believe the issue you're referring to is resolved by #560. The original bug report, here, though, was about Visual Studio automatically accepting completion items when `(` is pressed, even if the currently selected completion item doesn't match what the user intended. This can happen if the Q# file is not part of a project, but also if you want to type in a currently undefined ident

[2020-10-06 20:35] samarsha commented on #615
Actually, to clarify the above, the first line could be translated as

[code]

because `CNOT` returns `Unit`. Then adjoint generation would be possible without the bug here.

[2020-10-07 00:42] samarsha commented on #659
I think this is normal. The extension tries to download a language server with the same version as the extension, but since you built the extension manually, a language server with a matching version number doesn't exist on the download server. So I think setting `quantumDevKit.languageServerPath` is necessary here.

This is also probably normal, unfortunately - since the language server is asynch

[2020-10-07 00:58] samarsha opened #669 "Language server regularly throws exceptions that are ignored"
**Describe the bug**

The language server can sometimes receive commands that aren't valid for the current server state, due to everything happening asynchronously. These exceptions are expected and in release builds, they are ignored. However, when developing the language server, swallowing all exceptions makes it hard to notice the exceptions that *aren't* supposed to happen, so in debug builds

[2020-10-07 01:07] bettinaheim commented on #669
@samarsha I don't quite follow what cases you had in mind for "situations that happen often during normal use."? The language server is only throwing exceptions in situations that should never happen.

[2020-10-07 18:32] samarsha commented on #669
@bettinaheim To summarize our discussion offline, the language server does throw exceptions in situations that happen normally, but are only shown in debug mode. They are caught and ignored in release mode. We are planning to improve the exception handling so that unhandled exceptions don't happen in debug builds, either.

[2020-10-07 22:21] ashwinpilgaonkar commented on #659
Yes.

Oh, I see. Okay.

Thanks, I was able to get the experimental mode running now!

However, there is still a difference in output between the official latest build and the development version, regardless of whether it is installed as a VSIX extension, or being run in debug mode in an experimental instance of VSCode.

![image](https://user-images.githubusercontent.com/13731530/95393781-ca21a600-

[2020-10-08 00:13] cesarzc commented on #610
Please take a look at the `numericLiteral` function in [QsExpressionParsing.fs](https://github.com/microsoft/qsharp-compiler/blob/main/src/QsCompiler/TextProcessor/QsExpressionParsing.fs#L173) which is the one that parses Int, BigInt and Double literals.

Also, remember adding new cases to the `Expression literal tests` [test](https://github.com/microsoft/qsharp-compiler/blob/b19fe1705020a253c4ad8

[2020-10-08 16:17] samarsha commented on #659
Are you editing a Q# file that is not part of a Q# project? Can you try creating a new Q# project and opening a file inside the project folder? One way to do this is press Ctrl+Shift+P and then type "q# create" in the command palette.

The extra completion items `RangeEnd`, `RangeReverse`, etc. come from library functions, which means that a project file needs to exist that has a reference to the

[2020-10-08 18:24] bettinaheim commented on #304
Closing as addressed with #560.

[2020-10-08 18:24] #304 closed

[2020-10-08 18:32] bettinaheim commented on #181
@anfelor @wsgac
I am happy to say that we now have a repository for the [Q# language design](https://github.com/microsoft/qsharp-language). This feature is captured by [this issue](https://github.com/microsoft/qsharp-language/issues/12) on the language repo.

[2020-10-08 18:32] #181 closed

[2020-10-08 23:57] ashwinpilgaonkar commented on #659
Yes, all along I was using a sample .qs file that wasn't part of a Q# project. Both the screenshots I provided in my previous reply were obtained after testing on that file.
I did as you said and created a new Q# project. Now the outputs are matching in both cases. That's one problem solved!

Okay, it makes a lot of sense now.

It's no problem at all!
In fact its things like these that add to the

[2020-10-09 00:00] ashwinpilgaonkar commented on #659
Also, just to confirm - this fix should filter out and display only RangeEnd, RangeReverse, RangeStart and RangeStep in the case of "@r,,," correct?

[2020-10-09 00:41] samarsha commented on #659
I think this screenshot might be a better example:

![grafik](https://user-images.githubusercontent.com/33814365/95528416-e9f2b180-098c-11eb-9270-4050374449a0.png)

I think the only things that should be shown are:

* `EntryPoint`
* `Example` (which is a namespace, because the namespace could contain attributes)
* `ExampleType`

Although `ExampleType` is technically not an attribute, code completi

[2020-10-09 16:42] samarsha commented on #556
Hi @iitaiy, just wanted to follow up and see if you were still experiencing this issue. If you are, did you have a chance to try resetting your Visual Studio settings?

[2020-10-09 16:54] samarsha commented on #498
Hi @FanantenandrainyRatsimbazafy, just wanted to follow up to see if you were still experiencing the language server download error with the latest version of the extension. If you are, it would be great if you could show us the output from going to "Help -> Toggle Developer Tools" and then clicking the "Console" tab. Thanks!

[2020-10-10 13:36] ashwinpilgaonkar commented on #659
@samarsha I was going through the `FragmentParsing.fs` file. Suppose I want to print the output of this statement -
[code]
How can I do that? Where can I view the output?

[2020-10-10 20:51] samarsha commented on #659
`modifiers` has type `Parser<'a, 'b>`, which is basically like a function that takes in a string input and returns a parser result. I think the easiest way to run the parser directly is using F# Interactive:

1. Temporarily remove `private` from `let private modifers` so we can access it from a script.
2. Open a terminal in the `qsharp-compiler\src\QsCompiler\TextProcessor` folder.
3. Run these co

[2020-10-11 18:14] ziqi-ma commented on #618
Trying to resolve this but not entirely sure what the problem is - is it producing warnings for deprecated methods in code that are never used?
I was looking at SymbolResolution.fs which handles the deprecation logic, but don't see where the functions TryFindRedirect/TryFindRedirectInUnresolved are used?

[2020-10-12 04:05] ziqi-ma commented on #610
Seems like C#'s NumberStyles Enum (argument of BigInteger.Parse) only supports hex? Does that mean we need to write our own logic of converting binary/octal strings to hex?

[2020-10-12 17:31] cesarzc commented on #610
Hello Ziqi Ma, thanks for your interest in fixing this issue!

Yes, logic needs to be added to convert binary and octal strings to hex such that BigInteger.Parse can be used.

[2020-10-12 17:31] cesarzc commented on #610
Hello Ziqi Ma, thanks for your interest in fixing this issue!

Yes, logic needs to be added to convert binary and octal strings to hex such that BigInteger.Parse can be used.

[2020-10-12 18:56] samarsha commented on #610
I think this is correct. My understanding is that negative numbers are parsed as `negation-operator numeric-literal`, rather than parsing the `-` as part of the literal itself.

[2020-10-12 20:07] samarsha commented on #618
Here is an example of the issue:

[code]

A deprecation warning for `Bar` appears in `Foo`:

![image](https://user-images.githubusercontent.com/33814365/95784510-d3986e80-0c88-11eb-9161-2e07533c2706.png)

However, `Foo` itself is deprecated, so it would be reasonable if deprecated warnings were suppressed if the parent callable or type is itself deprecated (since you can assume the deprecated call

[2020-10-13 22:38] samarsha commented on #618
`GenerateDeprecationWarning` is the source of the warning:

https://github.com/microsoft/qsharp-compiler/blob/e5468d610328bcc11e1ab9b354529caad9aa13a0/src/QsCompiler/Core/SymbolResolution.fs#L185-L190

I think we will need to tell `GenerateDeprecationWarning` if the parent callable/type is deprecated, so it can decide not to generate a warning. It's called twice - once for callables and once for t

[2020-10-14 05:11] ziqi-ma commented on #618
Thanks for the clarification! It's very helpful since I'm new to this codebase... I'm thinking about rewriting BuildCallable as this:

[code]
I'm not pulling the parent attributes from symbolTracker since it doesn't provide a hook to the callableDeclarations. I used GlobalSymbols similar to line 73 of ScopeTools.fs

I'm not sure whether checking BuiltIn.MarksDeprecation is sufficient, since I also

[2020-10-14 15:59] cgranade opened #674 "Unhandled exception within CompilationLoader constructor when called from Blazor WebAssembly"
**Describe the bug**

When calling the `CompilationLoader` constructor from a Blazor WebAssembly project, an incomplete task is disposed internal to the constructor, causing an exception to propagate out to the Blazor runtime.

**To Reproduce**

Add the following Razor page to a Blazor WebAssembly project, then navigate to `/compile` in a browser and press "Compile."

[code]

[code]

**Expected be

[2020-10-14 19:13] filipw commented on #674
@cgranade I also started building a WebAssembly playground for Q# but ran into a different issue. The one your reported here no longer happens on .NET 5.0 RC2 but there is now a new one, further down

[code]

[2020-10-14 19:20] filipw commented on #674
This is caused by doing sync over async here https://github.com/microsoft/qsharp-compiler/blob/edc3d1557d62dc3cf1175caf6386e78aee91eb03/src/QsCompiler/CompilationManager/CompilationUnitManager.cs#L505.

I already provided feedback a while ago to @bettinaheim that it would be good to get rid of blocking calls and have a fully async compiler API - this will be another reason why it's needed 😀

[2020-10-15 16:46] swernli commented on #615
@samarsha Would the lifting only be necessary for operations that are themselves adjoint? As in, should a function be left inline, or should every callable in an expression get lifted unconditionally?

[2020-10-15 16:56] swernli commented on #615
Also, it looks like this problem also applies to interpolated strings, so if `DoubleCNOT` were implemented as:
[code]
then the same problem occurs. So whatever solution we use, we need to make sure it handles interpolated strings too.

[2020-10-15 17:01] samarsha commented on #618
That would work too, yeah. My thinking was that since the `CallableDeclarationHeader` was already found earlier, we could avoid needing to look it up again and handling the not-found case (even though we know it should be there) by passing it to `SymbolTracker`.

I think as long as the types match, it should work. `QsDeclarationAttribute` should be the resolved version (the unresolved version is t

[2020-10-15 17:03] cgranade opened #679 "Assembly property values set from within response files cannot end with quote marks"
**Describe the bug**

When using the `--assembly-properties` command line argument to `qsc.dll` from within a response file, assembly property values cannot end with a double-quote character (`"`").

**To Reproduce**

Steps to reproduce the behavior:
1. In a `qsc.rsp` file, add an argument to the `--assembly-properties` option that ends with a double-quote character. E.g.:

[code]

2. Invoke `qsc.