[2020-10-15 17:11] samarsha commented on #615
I think lifting needs to happen only to operation calls right before adjoint generation at the latest. There might be benefits to handling it consistently for all call expressions, but I don't think it's necessary for functions since they don't have side effects, and will probably increase the size of the AST and generated C#.

[2020-10-15 17:12] cgranade commented on #679
As a side note, it also appears that assembly properties cannot contain a colon due to the call to `Split(":")` in Options.cs at L93.

[2020-10-16 04:33] ziqi-ma commented on #618
Thanks,

if not (Array.Exists(parentAttrs, BuiltIn.MarksDeprecation))
This is causing error but I'm not sure how to re-write - seems like it's expecting array [] but parentAttrs is ImmutableArray? Should I use a different "exists" method?

What are examples of a resolved vs. unresolved attribute?

Also, how should I test this?

[2020-10-16 15:17] #571 closed

[2020-10-16 15:17] #608 closed

[2020-10-17 13:27] Pallavi-mp commented on #453
Hey @bettinaheim I'd like to have a go at this.
How do you test/debug the compiler code? I ran bootstrap.ps1 to build the code as mentioned in the documentation but not sure how to test/debug it after this. Is there some other documentation that I can refer to for this?

[2020-10-17 17:20] samarsha commented on #618
`Array.exists` only works with the built-in array type, but you should be able to use `Seq.exists` which works with any sequence type.

They both come from the same Q# source code, but are in different stages of compilation. In the first stage, only the name that was typed in the source code is known. After the name is looked up in the symbol table, it's resolved to a specific attribute defined so

[2020-10-19 17:43] ScottCarda-MS opened #689 "Concrete Call Graph doesn't keep Body Specialization of Self-Adjoint Callables"
**Describe the bug**

The Concrete Call Graph trims out unused specializations of callables. To avoid the issue of specializations being generated from a specialization that was trimmed, functor generation is done before the concrete call graph is built. However, the functor generation does not generate specializations for specializations marked as 'self' for self-adjoint callables. In the case wh

[2020-10-19 20:02] samarsha commented on #453
Hi @Pallavi-mp, you can test the compiler by running the `CommandLineTool` project or by adding unit tests. To use the command line tool, in the `src/QsCompiler/CommandLineTool` folder, you can run:

[code]

to compile a Q# file named MyProgram.qs. You can try to reproduce the bug this way by putting the example program in the file.

For unit tests, you can add some test cases to the string parser

[2020-10-19 22:41] swernli opened #690 "Processor capability that limits operations in conditionals and nested conditionals"
We have a need for a new processor capability that will limit the operations that can be performed in a conditional to single qubit gates (no controls) and that also restricts any nesting of conditionals. That will allow us to provide compile time feedback on this restriction instead of relying on runtime failures from the translation in service or at the provider level.

[2020-10-20 01:25] samarsha commented on #498
Closing since there is not enough information to reproduce the issue - please comment/reopen or file a new issue if the problem is still there, thanks!

[2020-10-20 01:25] #498 closed

[2020-10-20 18:20] #610 closed

[2020-10-20 23:15] #592 closed

[2020-10-21 01:41] bettinaheim commented on #674
@filipw Do you have a suggestion for the concrete case here? If I remember correctly, the runSynchonously is used only to enable a flush that guarantees that all processing that is currently queued finishes before a certain action is performed.

[2020-10-21 01:59] bettinaheim commented on #633
@swernli Did we ever make progress on this one? I'll tentatively add this to November, though we may need to triage the issues there.

[2020-10-21 04:43] #689 closed

[2020-10-21 05:14] ziqi-ma commented on #618
Sent in a PR to address nested callable, now working on nested deprecated type:

check I understand correctly: in the previous example

// parent namespace
@deprecated("")
newtype foo;

@deprecated("")
newtype bar = foo; // I'm assuming, after equal sign it starts the child namespace?

Currently what it does is: in function tryResolveTypeName (parentNS, source) ((nsName, symName), symRange : QsNul

[2020-10-21 16:18] swernli commented on #633
@bettinaheim I haven't made the code changes, but the suggestion you had above about how to handle this seems like the right behavior to me. This should definitely be doable for the November timeframe.

[2020-10-21 18:25] #615 closed

[2020-10-22 00:38] samarsha opened #698 "Finish transition to new RuntimeCapability type"
There are a couple loose ends related to the new `RuntimeCapability` type added in #600:

- [x] ~Add an `Unknown` case ([see conversation](https://github.com/microsoft/qsharp-compiler/pull/600#discussion_r508168676))~
- [ ] Parse the new type in the command-line compiler options ([see conversation](https://github.com/microsoft/qsharp-compiler/pull/600#discussion_r509803647))

[2020-10-22 04:45] #586 closed

[2020-10-22 16:52] samarsha opened #699 "Use consistent tags in documentation comments"
Most documentation comments in the compiler only use the `<summary>` tag. For short comments, this is fine, but in many cases the summary is several paragraphs long and would be easier to read if it used standard documentation tags to structure the information. This is especially important for exceptions - exceptions mentioned in the `<summary>` tag are easy to miss, whereas the special `<exceptio

[2020-10-22 16:55] cgranade commented on #699
Agreed entirely. Can I also request splitting parameter descriptions in to `<param>` elements so that they show up in intelliSense correctly?

[2020-10-22 17:02] samarsha opened #700 "Limit use of InternalsVisibleTo to test projects"
The Transformations project recently defined a [`Utils`](https://github.com/microsoft/qsharp-compiler/blob/main/src/QsCompiler/Transformations/Utils.cs) class that contains some helpful functions for dealing with C# nullable types. This class is internal, and it uses `InternalsVisibleTo` to expose it to the other projects in the compiler that need to use it. We should remove this use of `Internals

[2020-10-22 17:25] samarsha opened #701 "ScopeContext should be an opaque type"
[`ScopeContext`](https://github.com/microsoft/qsharp-compiler/blob/200bf8e462484dfc4480ad2c204c48bb43250cf9/src/QsCompiler/SyntaxProcessor/ScopeTools.fs#L286) has several properties used to keep track of things while the syntax tree is being resolved and type-checked. However, only the `ReturnType` property is used outside the SyntaxProcessor project. It may be possible to make the record properti

[2020-10-22 21:47] samarsha commented on #618
This does not start a new namespace, actually - it's still part of the same namespace that `bar` is part of.

Yes, this sounds right.

I think `checkQualificationForDeprecation` is for determining whether an attribute is the `Deprecated` attribute itself, rather than checking if a type is deprecated. I would put the check in the `success` function on line 136 of NamespaceManager.fs

It looks like

[2020-10-22 21:50] samarsha opened #703 "Remove NonNullable<'T>"
`NonNullable<'T>` adds a lot of noise to the code, and does not actually provide much null safety, because it is easily bypassed using `default(NonNullable<T>)` in C# or `Unchecked.defaultof<NonNullable<'T>>` in F#. We should remove it and use the convention that all types are non-nullable by default.

[2020-10-26 23:24] samarsha commented on #589
I created microsoft/qsharp-language#46 so that we can move forward with a proposal to remove `new` from the language. I think we can keep tracking this issue there instead.

[2020-10-26 23:24] #589 closed

[2020-10-27 00:59] geraldbauer opened #709 "Q# Create Project"
Issue Type: <b>Bug</b>

Following steps https://docs.microsoft.com/en-us/quantum/quickstarts/install-command-line?tabs=tabid-vscode#develop-with-q. On step 3 when I click"Create Project" nothing happens. No files created, the modal window stays open. It is like the button click event is not occurring.

Extension version: 0.12.20100504
VS Code version: Code 1.50.1 (d2e414d9e4239a252d1ab117bd7067f12

[2020-10-27 01:19] bettinaheim commented on #709
Thanks for reporting!
@ricardo-espinoza Could you take a look and/or see that it get's properly tracked and scheduled on your end? Thanks!

[2020-10-27 02:56] ricardo-espinoza commented on #709
Thanks for reporting @geraldbauer !
I'll look into this. By the way, are you still reproducing this issue at this time, or was it something that you observed but it is no longer happening?

[2020-10-27 12:15] geraldbauer commented on #709
I tried several times. At first I restarted Visual Code (VC) at least two time. Tried to create a project but the button click did nothing. I then removed the Extension, restarted VC; added the Extension back, restarted VC, but no no avail. It is like the event is not being heard. What do you want me to do to assist in getting to the bottom of this issue?

[2020-10-29 02:43] viktorveis opened #711 "Compile error when an operation name for the entry point matches a namespace"
**To Reproduce**
Create a Q# project with one file:
[code]
dotnet build

[code]

**Expected behavior**
Build succeeds.

**System information**

- Version of the NuGet package or extension for which the problem occurs: v0.13.20102604
- Your operating system and .NET Core version: Windows 10, .NET Core 3.1.402

**Additional context**
Removing the `@EntryPoint` attribute fixes the problem.

[2020-10-29 03:06] samarsha commented on #557
It looks like `Range` should not be directly mappable, but you could convert it into a more general sequence type first.

Hmm. Using the body part analogy, tails are longer than heads, so I would expect head to return a single item and tail to return a list. I think the last item in an array could just be `Last`. Using `Tail` to mean `Last` seems to go against the convention in most functional lan

[2020-10-29 15:31] bettinaheim commented on #711
@viktorveis Thanks for reporting!
Could you please double check the project file that you are using and post it here?
We just recently fixed a couple of C# generation errors, and while the extension updates automatically (depending on your IDE settings), the Sdk in the project file needs to be updated manually for a project to use the new version.

[2020-10-30 02:38] viktorveis commented on #711
Yes, this was exactly the problem. The build failed with `<Project Sdk="Microsoft.Quantum.Sdk/0.12.20070124">` in the project file and succeeded after changing it to `<Project Sdk="Microsoft.Quantum.Sdk/0.13.20102604">`.

[2020-10-30 02:57] #711 closed

[2020-10-30 19:26] samarsha opened #716 "More specific error messages for runtime capability verification"
**Is your feature request related to a problem? Please describe.**
Error messages for calling operations that require runtime capabilities that aren't supported by the execution target look like:

**Describe the solution you'd like**
It would be better if the message mentioned the specific capabilities that aren't supported, such as BasicMeasurementFeedback.

**Describe alternatives you've conside

[2020-10-30 22:14] samarsha opened #718 "Support automerge for pull requests"
**Is your feature request related to a problem? Please describe.**
Pull requests require automatic builds to complete before merging, but these builds take a long time.

**Describe the solution you'd like**
It would be nice to have something like the "automerge" label that https://github.com/microsoft/qsharp-runtime has, which will automatically merge a PR once all the required status checks have

[2020-10-30 22:26] #716 closed

[2020-10-30 22:35] samarsha commented on #556
Closing for now since there isn't enough information for me to reproduce the issue, but please let me know if the issue is still happening. Thank you!

[2020-10-30 22:35] #556 closed

[2020-10-31 01:10] bettinaheim commented on #36
closing this, since I believe this is largely addressed by IndexRange and open ended ranges.

[2020-10-31 01:10] #36 closed

[2020-10-31 01:17] bettinaheim commented on #113
@cgranade I believe this should be addressed by the new code gen tool. Please reopen this and clarify if it isn't.

[2020-10-31 01:17] #113 closed

[2020-10-31 02:01] bettinaheim commented on #575
Fixed with #647.

[2020-10-31 02:01] #575 closed

[2020-10-31 02:31] samarsha commented on #203
Since there are good reasons to want to prevent equality on callable types, but a generic type parameter `'T` could potentially be instantiated as a callable type, it looks like this is blocked by #557.

[2020-10-31 16:47] samarsha commented on #203
However, we could add equality comparisons for all of the other *concrete* types relatively easily (excludes callables and type parameters)... maybe that should be a new issue.

[2020-11-03 17:58] anpaz opened #720 "Language server stops working after adding a new file"
**Describe the bug**

The language server randomly crashes while working on a Q# project in VS Code. When it does, it will not restart until VS Code re-opened and closed.

**To Reproduce**

Create a new Q# project. This particular one had a couple of not very big files (a couple of operations each). As I was working in VS Code I would get this Exception:

[code]

**System information**

- **VS Cod

[2020-11-03 21:29] anpaz commented on #720
A little more information: looks like the server is actually not crashing, but every key entered generates the same information so everything stops working (auto-complete, code actions, hovering, etc). Saving a file doesn't fix the problem.

I am able to reproduce the same problem in Windows too. These are my steps:
* Create new Q# library project, open in VS Code.
* Open the Library.qs file to ge

[2020-11-03 22:59] samarsha commented on #720
Could you post the full log from the "Q# Language Extension" output? When I try to reproduce this, I noticed this happens:

[code]

which could be causing issues, because the language server should not be generating a temporary Q# project for a file that is already part of an existing Q# project. After this, I get some NullReferenceExceptions as well, but they're different from the one you're gett

[2020-11-03 23:01] samarsha commented on #720
Also, if you close VS Code and re-open the library you created earlier, does the problem still happen? Or does it only happen if you create a new project and file, and open them in the same session?

[2020-11-04 19:11] anpaz commented on #720
Here is all the logs up to the first couple of errors (let me know if you need more, but there is an stack trace for every key I stroke afterwards):

[code]

[2020-11-05 00:30] viktorveis opened #738 "Missing Microsoft.Quantum.Sdk after installing the Visual Studio QDK extension"
**To Reproduce**
Install the QDK extension for Visual Studio Code - works well
Install the QDK extension for Visual Studio on the same machine
Cannot open and build Q# projects anymore: error MSB4236: The SDK 'Microsoft.Quantum.Sdk' specified could not be found.

**Expected behavior**
Latest Microsoft.Quantum.Sdk is installed.

**Screenshots**
![image](https://user-images.githubusercontent.com/109

[2020-11-05 22:23] cesarzc opened #726 "Make the compilation tracker not use global state and instead use an object instance"
Performance accounting is currently done through the `CompilationTracker` static class.

This approach has a few problems:
- Tracked data must be cleared every time new accounting wants to be performed which is error prone.
- Performance accounting for multiple concurrent compilation processes is not supported.

These problems can be addressed by using an object instance for tracking purposes inst

[2020-11-06 04:33] #669 closed

[2020-11-06 06:33] kevinhartman commented on #699
I'd be interested in working on this issue. Assuming I wouldn't be toe-stepping, my plan would be to start with exceptions, working out of [this branch](https://github.com/kevinhartman/qsharp-compiler/tree/keha/except-tag-docs).

[2020-11-06 17:11] cgranade commented on #406
One possible modification that I could suggest to this proposal is one that's come up in a few recent API discussions with @guenp and @msoeken, namely of anonymous discriminated unions. In TypeScript, for instance, the type `string | number` can be either a `string` or a `number` (Python has a similar feature using the notation `Union[str, float]`). That can be useful for cases that look like "ove

[2020-11-06 20:03] samarsha commented on #699
Hi @kevinhartman, that would be great! Let us know if you have any questions.

[2020-11-06 20:19] cesarzc commented on #726
For testing purposes, consider adding a separate object (that implements a new interface) to perform time accounting such that in the tests a custom time accounting object can be implemented to yield the expected results.

[2020-11-10 00:42] #718 closed

[2020-11-10 02:57] kevinhartman commented on #699
Thanks @samarsha!

I just submitted a PR to add the exception tag for C# doc comments. I didn't do this for the F# code, since most of it uses the implicit summary tag (omits the `<summary>` tag). Thoughts on using explicit XML tags for that portion of the codebase?

I was also wondering how strictly the `<paramref>` tag should be used in exception text. In most cases, I was worried that it'd make

[2020-11-10 23:45] samarsha commented on #709
Hi @geraldbauer, could you try clicking Help -> Toggle Developer Tools in Visual Studio Code, then try creating a new project again? That should open up a console window on the right side that has messages from the Q# extension. For me, when I create a new project, I see:

![image](https://user-images.githubusercontent.com/33814365/98747039-8ed92380-236b-11eb-9cd4-f8f766d967ec.png)

If the message

[2020-11-11 02:12] samarsha commented on #699
Thanks @kevinhartman for the PR! I'll take a look soon.

For the F# comments, I think switching from an implicit summary tag to an explicit one when an exception tag (or other tag)  is needed makes sense.

I think using `<paramref>` is fine too - while the compiler currently doesn't have generated API docs, we're planning to do that at some point, so I think planning ahead and using proper tags ma

[2020-11-11 03:50] kevinhartman commented on #699
Sounds great! I can create a separate PR to handle the F# code using that approach.

I'll go ahead and add the `<paramref>` tag where appropriate for this PR. There are only a handful of cases where [things might get too messy](https://github.com/microsoft/qsharp-compiler/pull/732/files#diff-69a706cbf052c1befecfba32b0e89975abf440fcd08d6d38b74125ffdd8c8be1R249).

Perhaps in a case like this it migh

[2020-11-11 15:36] rmshaffer commented on #720
This has been mitigated by #731. However, note that even with that change, this issue still reproduces in the following scenario:

- Create new Q# library project, open in VS Code.
- Open the Library.qs file to get the Q# extension started.
- Add a new .csproj file to the folder (e.g., by duplicating the existing .csproj). Wait for the Q# extension to load it.
- Once ready, add a new .qs file, ope

[2020-11-11 17:32] geraldbauer commented on #709
![image](https://user-images.githubusercontent.com/13287041/98844141-8509fb80-2411-11eb-8eea-781d98ac718e.png)

[2020-11-11 17:57] ricardo-espinoza commented on #709
Thanks @geraldbauer . Interesting, your logs indicate that the language server downloaded and started correctly, which was my original guess of what could be going wrong. It seems that you're hitting this issue during when the generator is creating the project. The DEP0005 warning you get should not interfere with project creation, but I'm seeing it as well.

In your original message you indicated

[2020-11-11 18:03] samarsha commented on #709
Hmm, just to confirm, in case this is the issue: when you click "Create Project," did you fill in the name of the project in the "filename" textbox above the "Create Project" button? If that textbox is empty, the button won't work, even if you're in the folder that you want to create the project in. (In other words, the button always creates a *new* folder for the project, it doesn't re-use an exi

[2020-11-11 18:13] geraldbauer commented on #709
I have updated VC to the latest version. I also have v0.13.20111004 for the extension. The instructions https://docs.microsoft.com/en-us/quantum/quickstarts/install-command-line?tabs=tabid-vscode#develop-with-q said nothing of adding a name, nor is there a validation message saying a name is required. Now that I gave a name for the project I am able to create a project. Thanks.

[2020-11-11 18:49] samarsha commented on #709
Thanks for confirming! I agree with you - I think we can leave this bug open as a usability issue with the "Create Project" dialog. I also filed issue MicrosoftDocs/quantum-docs-pr#1105 for updating the instructions in the documentation.

[2020-11-11 22:42] rmshaffer opened #736 "Better targeting-related error messages for multi-project Q# applications"
### Is your feature request related to a problem? Please describe.

When building a Q# application for Azure Quantum with multiple local projects, targeting-related error messages point to the source code in the executable project. This is not very informative, as the actual error may be in a referenced local library project, and the error doesn't tell me specifically what I'm doing that is unsupp

[2020-11-12 17:12] samarsha commented on #736
This error message has been changed for the November release to mention the specific capability required, although it is probably not informative enough for this purpose. It'll be something like:

---

I'm not sure that there is an easy way in the Q# compiler to distinguish between libraries loaded via ProjectReference (where the user can edit the source), and libraries loaded via PackageReference

[2020-11-12 17:57] rmshaffer commented on #736
@samarsha thanks for the response! Yes, I like your proposed solution much better than my proposal.

As for the ProjectReference vs. PackageReference distinction - I'm not sure of the technical implementation details there, but I certainly agree it wouldn't be particularly useful to add a pointer to source code that the user can't edit. In an ideal world we could show the error in source code that

[2020-11-12 18:30] cgranade commented on #736
I think there's some precedent for doing this and for that in fact being valuable to users; e.g.: SourceLink can be used in some cases to provide links to public GitHub repos containing code so that error messages can be traced back to publicly available code. I'd suspect that's out of scope or infeasible here, but at least in principle it's not so absurd to link back to library code.

[2020-11-12 20:43] samarsha opened #737 "Language server does not work after installing .NET 5"
**Describe the bug**

After installing the .NET 5 SDK, the language server can't load Q# projects:

[Error - 12:15:45] Error on loading project 'c:\Users\samarsha\Desktop\QSharpSandbox\Library\Library.csproj': Der SDK-Resolvertyp "WorkloadSdkResolver" konnte nicht geladen werden. Could not load file or assembly 'System.Runtime, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a'. Da

[2020-11-12 20:57] samarsha commented on #737
Note that just having .NET 5 installed is enough to break the language server, even if I also have .NET Core 3.1 installed, and the Q# project is targeted for .NET Core 3.1. Temporarily removing the `C:\Program Files\dotnet\sdk\5.0.100` folder makes the language server work again.

[2020-11-12 23:21] cgranade commented on #738
Is there a version specified for the "Microsoft.Quantum.Sdk" attribute of the `<Project>` element? I'd only expect the .NET Core SDK to look in `c:\Program Files\dotnet\sdk\<version>\Sdks` for Sdk attributes without a version number, since otherwise the .NET Core SDK will query nuget.org.

[2020-11-12 23:39] ricardo-espinoza commented on #738
Thanks @cgranade for the quick reply.

@viktorveis , could you share with us your project? I think Chris' theory makes sense. Normally the binaries should be under your user directory after they get fetched by NuGet, in Windows that would be for example in:
  C:\Users\<user>\.nuget\packages\microsoft.quantum.sdk

I checked that I can't repro the issue with my local installation, but I'd like to tr

[2020-11-13 01:07] #703 closed

[2020-11-13 03:30] bettinaheim commented on #720
@rmshaffer Since the Sdk indeed automatically pulls in all .qs files in that folder, the .qs file indeed according to the description of your setup *is* associated with both projects.
That this is not supported is a known limitation of the server which might be nice to address, but e.g. addressing the limitation of projects outside the solution folder being invisible to the server should be higher

[2020-11-13 03:30] #720 closed

[2020-11-13 03:43] rmshaffer commented on #720
Thanks @bettinaheim, understood. I did not mean to make a feature request, but I just thought it would be informative to list an additional scenario where this crash occurs in case someone runs into it in the future.

[2020-11-13 04:31] viktorveis commented on #738
Yes, this was a project file issue. Fixing the project file solved it:
[code]

[2020-11-13 04:31] #738 closed

[2020-11-13 16:07] samarsha commented on #737
Possibly related issues:

* microsoft/MSBuildLocator#92
* dotnet/roslyn#49248
* dotnet/tye#699

[2020-11-13 19:25] samarsha commented on #699
Yeah, that could be one option, although `<paramref>` has a couple of advantages that work best if every occurrence of a parameter name uses the tag (similar to `nameof` in C#):

1. When renaming a parameter, an IDE can automatically rename `<paramref>` tags too.
2. Invalid tags can be checked automatically by a tool to make sure that doc comment refers to real parameter names.

[2020-11-14 01:33] bettinaheim opened #740 "Give a descriptive error when one file is associated with multiple compilation units"
The language server doesn't support that one file can be associated with multiple compilation units. Rather than giving a nice error the way it does when the same is file is open multiple times in the IDE (also not supported), it is failing rather cryptically. It would be nice to give a descriptive error.

[2020-11-14 01:36] bettinaheim commented on #720
@rmshaffer It should be documented somewhere, but seeing how much docs changed (and that people now are more likely to look here), giving a descriptive error message would make sense. I filed a separate issue for that: https://github.com/microsoft/qsharp-compiler/issues/740
I'd rather not invest into handling the case, since the amount of work compared to the benefit is unreasonable.

[2020-11-14 01:46] bettinaheim commented on #406
@crazy4pi314 Seeing as this is now tracked on the language repo, I will close the issue here, but reference the conversations in the issue on the language repo.

[2020-11-14 01:46] #406 closed

[2020-11-16 05:53] kevinhartman commented on #699
Hmm, that does sound useful. I suppose I'm just wishing C# doc comments weren't XML-based!

Somewhat related, I noticed something that might be worth considering: neither Visual Studio nor VS Code seem to render exception descriptions, at least in the floating window that pops up from the callsite:

<img width="1093" alt="Screen Shot 2020-11-15 at 10 53 05 PM" src="https://user-images.githubuserco

[2020-11-16 17:47] samarsha commented on #699
Yes, they do tend to be very verbose. :)

Interesting, it looks like Rider does show the full exception description in the hover box, though.

![image](https://user-images.githubusercontent.com/33814365/99286554-e0f7ca00-27ed-11eb-858d-1232799c4752.png)

I think defining new exception types makes sense sometimes, but I wouldn't want to overuse them - I think it's fine to use the generic `ArgumentE

[2020-11-17 05:07] kevinhartman commented on #699
Wow, Rider looks very snazzy! I wonder if the VS ReSharper plugin also includes the exception description.

I agree. I think most of the `ArgumentException` usages I've seen are entirely reasonable. For that exception particularly, I believe it's conventionally only thrown when a developer calls a method incorrectly (i.e. the caller wouldn't plan to handle it, unless they were doing something weir

[2020-11-17 19:16] samarsha commented on #737
Another workaround is to add a `global.json` file to your Q# project, or to any parent directory (such as your user directory), that sets the .NET SDK version to 3.1:

[code]

[2020-11-18 23:13] bettinaheim commented on #737
@samarsha It might make sense to add such a global.json to our project templates. What do you think?

[2020-11-18 23:59] samarsha commented on #736
@rmshaffer Related to showing the original .qs file name in the library as part of the error message: I think IQ# uses `snippet_.qs` for all filenames? Is it possible for IQ# to use different file names for each cell, so it's easier to find which cell the message is referring to? Or is it better to not show the filename at all, and rely only on the callable name?

[2020-11-19 00:13] rmshaffer commented on #736
@samarsha Yes, IQ# uses `snippet.qs` (sometimes also with a GUID included) for any Q# code written directly within the notebook. But it does use the actual filenames and paths for `.qs` files loaded from outside the notebook, whether in the same folder or imported from a different folder via `%project`. So it'd be nice to maintain that behavior.

And yes, it's definitely a reasonable feature reque

[2020-11-19 19:31] samarsha commented on #737
I think if we can't find any other solution to support .NET 5 and .NET Core 3.1 simultaneously, then adding `global.json` to the project template would make sense. But it seems like a last resort to me. Ideally, we would even support having only .NET 5 installed (not .NET Core 3.1), since `dotnet build` from the command line already works in that scenario (with a Q# project targed to `netcoreapp3.

[2020-11-19 19:41] cgranade commented on #737
Agreed. Even if providing a `global.json` may be a good idea for individual projects to do in order to enable reproducible builds, it's a big step for us to *require* that of our users.

Agreed here ass well.

[2020-11-25 09:47] vxfield commented on #737
PR #755 (and corresponding #753 for the Nov release) mitigates this issue by:
1. Adding a global.json in the LanguageServer folder
1. Forcing the Working Directory of the LanguageServer to be the same as the. LanguageServer is (and. therefore using the global.json from step above)
1. Not quitting the LanguageServer if there was an issue with the MSBuildLocator when .NET Core SDK 3.1 is not found
1

[2020-11-25 17:14] cgranade commented on #737
Does that imply that we need to add in documentation that .NET SDK 5 is not supported unless .NET Core SDK 3.1 is also installed? Is there a path towards relaxing that in the future, or will we require that mitigation until the next LTS (.NET 6 in November 2021)?

[2020-11-25 19:51] samarsha commented on #737
I'm not sure if the fix for microsoft/MSBuildLocator#92 means that .NET Core 3.1 SDK will be automatically selected without a global.json, or if it will actually work without .NET Core 3.1 SDK installed.

[2020-11-26 05:14] kevinhartman commented on #699
Starting on F# exception tags next!

I'll be working in [this branch](https://github.com/kevinhartman/qsharp-compiler/tree/keha/except-tag-docs-fs).

[2020-11-28 00:15] swernli opened #757 "Dependencies for unused specializations are pruned, causing compilation failures"
The call graph design includes the functionality to trim to a concrete call graph that includes only those callables that are part of the entrypoint dependency tree. However, this means that if a given callable has a specialization that is unused, any callables only referred to in that specialization will have no edges and will not be included in the concrete graph, even though the specialization

[2020-11-29 03:15] kevinhartman commented on #699
I'm noticing that neither VS nor Rider seem to fully support XML doc comments for F#.

VS supports text formatting for the hover dialog, but does not recognize XML in comments (i.e. symbol rename won't work):
<img width="1610" alt="Screen Shot 2020-11-28 at 9 59 52 PM" src="https://user-images.githubusercontent.com/1374024/100530869-71a6b080-31c5-11eb-836f-dc69c1f44b0f.png">

Rider seems to have z

[2020-11-30 17:05] crazy4pi314 commented on #642
Is there any recent updates on this? Or perhaps any containers that might be helpful in working on QIR on Linux? Thanks!

[2020-11-30 17:49] alan-geller commented on #642
I'm working on getting Llvm.NET to build cross-platform. Steady but slow progress.

I'm confident we'll have Llvm.NET ready by the end of the year; I'm not sure whether this will let us merge QIR generation into main before January, though, as there are other integration issues.

I haven't done anything about setting up a container, I'm afraid.

[2020-12-01 02:14] samarsha commented on #699
Yeah, the IDE support for F# doc comments isn't as good as C#, unfortunately. I think it still makes sense to update the doc comments, since:

1. IDE support could improve in the future - and support in VS is not bad currently, it even shows the exception condition. :)
2. The tags will be needed if we ever generate documentation for the F# projects (which we hopefully will in the near future).
3.

[2020-12-01 21:23] msoeken opened #760 "Rewrite sequence with inlining and constant propagation raises exception"
**Describe the bug**

Calling inlining and constant propagation in sequence when linking against Microsoft.Quantum.Standard leads to an exception.

**To Reproduce**

1. Check out the repository in branch `msoeken/preeval-bug`
2. Go to `examples\CompilerExtensions\Demo`
3. Run `dotnet build`

See the changes to trigger this error [here](https://github.com/microsoft/qsharp-compiler/compare/msoeken/p

[2020-12-04 06:13] swernli opened #763 "Classical Control Rewrite step does not process ExpressionKind.NOT"
When the classical control rewrite step executes, the expectation is that any conditionals that can be refactored and lifted are translated into calls to the appropriate ApplyIf* callables. However, the code only handles restructuring ExpressionKind.AND and ExpressionKind.OR, but does not process ExpressionKind.NOT, so the inclusion of a `not` in the expression will cause processing to stop and le

[2020-12-07 22:35] swernli opened #768 "Nested Conditional blocks may be incorrectly lifted"
**Describe the bug**

When a conditional includes nested conditionals that modify variables defined outside of the outer conditional scope, the outer conditional may incorrectly be lifted into a generated callable by the ConditionallyControlled rewrite step. See discussion with concrete examples in comments here https://github.com/microsoft/qsharp-compiler/pull/767#discussion_r537819607.

**To Rep

[2020-12-07 22:56] ScottCarda-MS commented on #757
One of the assumptions given during the design discussions for the call graph was that all specializations of the same callable would refer to the same callables. At the time, it was said that if this was violated, then the specialization wasn't valid. Are we now seeing a case where this assumption is not true but in a case that we still need to support? If that assumption is no longer valid, than

[2020-12-07 23:44] swernli commented on #757
That's a good question. With decompositions, it's certainly possible the controlled specialization will involve callables that are not used by the body or adjoint, and there would be no reason to call them anywhere but the controlled (see [ZFromSinglyControlled.cs](https://github.com/microsoft/qsharp-runtime/blob/feature/decomp/src/Simulation/TargetDefinitions/Decompositions/ZFromSinglyControlled.

[2020-12-08 23:55] #763 closed

[2020-12-09 06:00] bettinaheim opened #773 "Monomorphization is not setting the correct parent for specializations"
The name of the original callable is listed as parent for monomorphized specializations.

[2020-12-09 07:56] bettinaheim commented on #773
Fixed in https://github.com/microsoft/qsharp-compiler/pull/774.

[2020-12-09 18:10] ScottCarda-MS commented on #773
@bettinaheim Since #744 does not target main, should we wait until this fix is in main to close this issue? Should the fix in #744 be separated out into a different PR targeting main?

[2020-12-09 18:17] irinayat-MS opened #775 "bridge.ll file generated alongside with user's QIR is incomplete and has other issues"
Am using feature/qir branch at commit e5ecd6f.

Currently generated bridge.ll file isn't helpful because it doesn't match the runtime:
- names of the types don't match
- names of the functions don't match
- some functionality is missing (e.g. string_concatenate)
- it includes both predefined rt and custom qis methods
- it might declare signatures, clang cannot produce

In general, I don't see much

[2020-12-09 19:31] irinayat-MS opened #776 "Unnecessary code in generated QIR"
Am using feature/qir branch at commit e5ecd6f7.
Generated attached ll file using attached qs and QirTarget/QirCore qs files from qsharp-compiler.

The generated QIR contains unnecessary defines and declarations such as:
Microsoft__Quantum__Targeting__TargetInstruction__body
Microsoft__Quantum__Core__RangeReverse__body
etc.

The extra code makes native build longer and also makes it harder to under

[2020-12-09 22:53] irinayat-MS opened #778 "Generated QIR leaks copied array"
Am using feature/qir branch at commit e5ecd6f.

Q#:
[code]

Generated QIR:
[code]
%1 array is created with ref-count 1. The reference/unreference calls at the end of the method cancel each other so the array remains at ref-count 1 and is never released.

[2020-12-10 00:49] ScottCarda-MS opened #779 "User-Defined Intrinsics Get Duplicated in Syntax Tree"
**Describe the bug**

A user-defined operation that is made intrinsic will be duplicated in the syntax tree after internal rewrite steps are run.

**To Reproduce**

Compile the following code for a user-defined operation:
[code]
This `MyIntrinsic` operation will show up twice under the appropriate namespace in the syntax tree after rewrite steps are finished. This can be seen when C# generation is

[2020-12-10 00:58] irinayat-MS opened #780 "Generated QIR doesn't release Results of measurements"
Am using feature/qir branch at commit e5ecd6f.

Every `%r = call %Result* @__quantum__qis__mz(%Qubit* %q)` should have a matching `call void __quantum__rt__result_unreference(%Result* %r)` because the runtime might have allocated the results on the heap. Currently, the generated QIR seems to never unreference the results.

[2020-12-10 09:22] bettinaheim commented on #775
I'll defer looking at the bridge piece until we have a decently working first version for the basics. I did set the default to not emit the bridge with my latest PR, but left the code in as is for now.

[2020-12-10 09:30] bettinaheim commented on #776
I removed the unnecessary declaration with PR https://github.com/microsoft/qsharp-compiler/pull/774.

[2020-12-10 09:41] bettinaheim commented on #779
I can't reproduce that. Please provide a complete example project on a repo.

[2020-12-12 01:34] irinayat-MS opened #781 "Generated QIR is missing code for self-adjoint operators"
Am using feature/qir branch at commit e5ecd6f.
Q#:
[code]
Generated QIR (fragment):
[code]
Notice, that Microsoft__Quantum__Testing__QIR__Qop__adj is declared (and called) but, unlike Microsoft__Quantum__Testing__QIR__Qop__body, isn't defined. This QIR fails to link.

[2020-12-12 02:45] #342 closed

[2020-12-17 22:36] samarsha opened #788 "Support function and operation types without parentheses"
**Is your feature request related to a problem? Please describe.**
The parentheses required around function and operation types is excessive. For example:

[code]

**Describe the solution you'd like**
I would prefer to write:

[code]

**Describe alternatives you've considered**
N/A

**Additional context**
N/A

[2020-12-21 23:28] ScottCarda-MS commented on #788
Is there a difference between a function that takes an Int to Int function and returns an Int: `(Int -> Int) -> Int`
and a function that takes an Int and returns and Int to Int function: `Int -> (Int -> Int)`?
If so, such a distinction may be lost if both get represented as `Int -> Int -> Int`

[2020-12-21 23:36] samarsha commented on #788
Yes, those types are different. `->` and `=>` are right-associative, so the parentheses implicitly build up right-to-left.

* `a -> b -> c` is `a -> (b -> c)`
* `a -> b -> c -> d` is `a -> (b -> (c -> d))`

This is the most common associativity for arrow types and is used in languages like F# and Haskell to concisely express curried function types (although currying is less common in Q#). To expre

[2020-12-23 05:24] kevinhartman commented on #699
Alright, next up is to work through the doc comments one-by-one to apply any restructuring and add missing code/param refs.

I plan to do this with a few PRs (maybe one or so projects at a time) since it'll probably take longer to review structural changes.

Unrelated, there are a lot of C# doc comment warnings we're not seeing since XML documentation generation is not enabled for projects. Unlike

[2020-12-24 01:15] samarsha opened #795 "QEP 1: Implicitly-Scoped Qubit Allocation"
This issue tracks the implementation of [QEP 1: Implicitly-Scoped Qubit Allocation](https://github.com/microsoft/qsharp-language/blob/main/Approved/1-implicitly-scoped-qubit-allocation.md). The feature branch is [feature/inline-qubit-scope](https://github.com/microsoft/qsharp-compiler/tree/feature/inline-qubit-scope).

- [x] Deprecate `using` and `borrowing` keywords and replace with `use` and `bo

[2020-12-24 01:51] samarsha commented on #699
That would be great! I really appreciate your dedication to improving the doc comments. :)

Yeah, I think StyleCop also recommends this with rule [SA0001 XmlCommentAnalysisDisabled](https://github.com/DotNetAnalyzers/StyleCopAnalyzers/blob/master/documentation/SA0001.md). This sounds OK to me.

Yes, this sounds like a good idea. I think there might be some overlap with StyleCop, since StyleCop als

[2020-12-26 21:08] kevinhartman commented on #699
Ah! That's helpful context. I'd tried to suppress a few warnings at one point using `<NoWarn>` in `AssemblyCommon.props`, without success. I wonder if StyleCop was somehow overriding that.

Completely agree. If we do promote any warnings to errors, I think it should just be those corresponding to bad XML and incorrect code references for now. At some point, it might be nice to do this for all doc

[2020-12-26 21:21] kevinhartman commented on #699
Also, I just made this tool to help with manually fixing C# XML doc comments.

[CSharpDocRewriter](https://github.com/kevinhartman/CSharpDocRewriter)

<img src="https://raw.githubusercontent.com/kevinhartman/CSharpDocRewriter/main/editing.gif" alt="Editing with CSharpDocRewriter">

I'm planning to use it to work through refactoring one project at a time, starting with `CompilationManager`.

If any

[2021-01-03 22:02] rainersigwald commented on #737
I mentioned this in microsoft/MSBuildLocator#117 but to be super clear: if you want to support working on machines that have only the .NET 5.0 SDK installed, you'll have to target .NET 5.0.

[2021-01-04 18:11] cgranade commented on #795
Thinking about `using` → `use` and `borrowing` → `borrow` a bit more, it feels a bit awkward to use [present participles](https://www.merriam-webster.com/dictionary/present%20participle) to represent an action taken by an operation, given that we elsewhere use finite verb phrases to directly indicate the tense and subject of that verb. Concretely, the gerund "using" on its own doesn't have a tense

[2021-01-04 20:13] irinayat-MS opened #801 "QIR: Functions that return Range by value produce IR that isn't compatible with C++"
Related to https://github.com/microsoft/qsharp-language/issues/31

Define a C-type that has the same layout as %Range in QIR:
[code]

This C-function invokes a Q# function that returns a range by value and the assembly, generated for it by Clang:
[code]

The Q# function to create a range, the QIR generated for it by Q# compiler and the assembly code, generated by Clang from the IR:
[code]

For exa

[2021-01-04 20:41] #788 closed

[2021-01-05 00:29] cgranade commented on #788
Possibly relevant, but even though currying is uncommon in Q# at the moment, the input ordering convention for Q# APIs is designed to look like currying, in that the most commonly omitted inputs should be the right-most inputs.

[2021-01-06 01:20] tcNickolas commented on #795
When this change becomes breaking, will we offer the users a tool to mass-migrate to the new syntax automatically, like we did in the past (I think it was around 0.3 version)? I've seen a mention of a code action in the proposal, but migrating a sizeable code base would require a lot of effort without such tool.

[2021-01-06 19:37] samarsha commented on #795
We've been discussing using [QsFmt](https://github.com/samarsha/qsfmt) to automatically update deprecated syntax across an entire project. It needs some more work to be able to do that, though.

[2021-01-09 01:02] samarsha commented on #699
@kevinhartman Just getting back into this, sorry for the delayed response. :)

I'm not sure about `<NoWarn>`, but we use .editorconfig to control the StyleCop warnings. By the way, I made PR #807 to address all of the remaining StyleCop warnings (either by fixing the issues or disabling the warnings).

Oh, I wasn't thinking of running the validation only on the diff - I meant that the validation c

[2021-01-11 04:57] kevinhartman commented on #699
Awesome! I will wait for that to go in before fiddling with any warning / error configurations. Feel free to pick that up as well if you feel strongly about getting those changes in quickly. This is the preliminary list of codes I thought might make sense to promote to error:

| Code                                                                      | Desc.

[2021-01-12 01:35] irinayat-MS commented on #776
I'm still seeing the following in the generated QIR from https://github.com/microsoft/qsharp-compiler/commit/d78fef5c0a9f4bccb72256ad9e346cda32a670cd:

[code]
It's in the way of the linker because we don't provide __quantum__qis__rangereverse__body or __quantum__qis___c5f751d561914d34ba7ac9335ce7ca34_length__body as part of the runtime.

[2021-01-12 01:44] irinayat-MS opened #812 "QIR: array access counters aren't described in the QIR spec"
The QIR code, generated by the Q# compiler at https://github.com/microsoft/qsharp-compiler/commit/d78fef5c0a9f4bccb72256ad9e346cda32a670cd, contains calls to

__quantum__rt__array_add_access
__quantum__rt__array_remove_access

These two functions aren't defined in the QIR spec (https://github.com/microsoft/qsharp-language/blob/main/Specifications/QIR/Data-Types.md)

The specification of `%Array* @

[2021-01-12 02:12] irinayat-MS opened #813 "QIR: generated QIR assumes different behaviour of qubit_release_array"
QIR, generated by the Q# compiler at https://github.com/microsoft/qsharp-compiler/commit/d78fef5c0a9f4bccb72256ad9e346cda32a670cd, might contain the following sequence of calls to the runtime:

[code]

However, the QIR spec for `__quantum__rt__qubit_release_array` (https://github.com/microsoft/qsharp-language/blob/main/Specifications/QIR/Quantum-Runtime.md) says "Release an array of qubits." which

[2021-01-13 03:11] ScottCarda-MS commented on #773
Merged into Main with #809.

[2021-01-13 03:11] #773 closed

[2021-01-13 03:11] ScottCarda-MS commented on #757
Fix merged into main with #809.

[2021-01-13 03:11] #757 closed

[2021-01-13 12:55] alfogo commented on #434
Hi, any update on this?. I'm on Quantum Dev Kit 0.14.2011.120240 with .net core sdk 3.1.405 and getting exactly same issue

[2021-01-13 22:35] #736 closed

[2021-01-14 23:37] samarsha commented on #699
#807 is merged now. :)

Looks reasonable to me!

Currently, the compiler does build with several warnings right now. But yes, I think it would be a great goal to try to eliminate all warnings and turn them into errors in CI.

Yeah, the compiler projects are part of the [Microsoft.Quantum.Compiler](https://www.nuget.org/packages/Microsoft.Quantum.Compiler/) and can be used by other solutions - but

[2021-01-19 18:56] samarsha commented on #434
Hi @alfogo, this issue was fixed in August, and QDK 0.14.2011120240 should work with .NET Core 3.1.405 SDK. I'm not sure what's causing the problem you're seeing, unfortunately. Could you create a new GitHub issue for it?

[2021-01-20 16:48] alfogo opened #825 "Unable to compile Quantum demo project"
Hi,

I recently installed QDK 0.14.2011120240 to start a new Q# project from scratch.
Unfortunately I am unable to compile it:

![image](https://user-images.githubusercontent.com/8256455/105207199-88bfaa00-5b47-11eb-9256-aa25eed80c10.png)

My .net core sdk versions:

![image](https://user-images.githubusercontent.com/8256455/105207303-a725a580-5b47-11eb-9792-36f656bbcc8b.png)

Looks like same issu

[2021-01-20 17:47] #795 closed

[2021-01-21 01:11] samarsha commented on #825
Hi @alfogo, could you try these steps to give us more detailed log messages:

1. Click on the "Output" tab (next to "Problems")
2. Select "Q# Language Extension" from the drop-down menu on the right side
3. Copy the text from there into this issue

Also, another thing you could try is to run `dotnet build` from the terminal to see if your Q# project builds successfully without the Visual Studio Co

[2021-01-21 12:12] alfogo commented on #825
Hi @samarsha ,

This is the output text:

[code]

I tried running dotnet build withouth the VS Code extension and this is what I got:

[code]
Thx

[2021-01-22 01:25] ricardo-espinoza opened #829 "Q# code actions in Visual Studio extension lead to UI unresponsiveness"
**Describe the bug**

In QDK version 0.14.2011120240, the Visual Studio extension for Q# is failing to respond correctly to invocation of code actions on .qs files. This appears to be caused by the language server not responding to those requests, but more investigation is required.

**To Reproduce**

Steps to reproduce the behavior:
1. Open a Q# project in Visual Studio
2. Select a portion of the

[2021-01-22 01:35] samarsha commented on #825
Thanks! That's strange, I haven't seen that error before, and the FSharp.Core package shouldn't actually be needed to compile a Q# project. Could you post your project file (HelloQuantum.csproj) here?

[2021-01-22 14:01] alfogo commented on #825
Sure, here it is:

HelloQuantum.csproj
[code]

[2021-01-22 23:28] bettinaheim commented on #825
Since the error is from a package and doesn't seem to have anything to do with the project or Q# in particular, have you tried clearing the nuget cache in case your local package somehow got corrupted? `dotnet nuget locals all --clear` would do that (your local packages will get deleted and will be downloaded again when you build/restore a project that needs them).

[2021-01-23 01:48] bettinaheim commented on #829
@ricardo-espinoza There has been no change in the server or compile that I think in any way could have impacted how the server behaves, and the server is the same and working fine for VS Code. My recommendation is to check whether there was version update in the VS client that required a change to adjust, and then enable and check the logging of messages going back and forth. You may have to reach

[2021-01-23 19:04] alfogo commented on #825
Thx @bettinaheim , clearing nuget cache worked out

[2021-01-23 19:04] #825 closed

[2021-01-24 00:37] Volnetiks opened #832 "Error when running dotnet run on hello world template"
**Describe the bug**

Cannot run the hello world application due to dotnet run error

**To Reproduce**

I dont think I did anything wrong, so I dont really know, but it happens on all my projects

**Expected behavior**

Expecting "Hello quantum world!" in console.

**Screenshots**

![Capture](https://user-images.githubusercontent.com/38158984/105618140-5088c780-5de4-11eb-913e-038f226313aa.PNG)

**

[2021-01-24 09:14] Volnetiks commented on #832
Also, I get the error "The Q# Language Server has encountered an error. Diagnostics will be reloaded upon saving the file. Details on the encountered error have been logged to the output window."

And the error in the output window is

[code]

[2021-01-24 09:40] Volnetiks commented on #832
Somehow, reinstalling dotnet worked, closing this

[2021-01-24 09:40] #832 closed

[2021-01-26 20:16] #698 closed

[2021-01-27 03:02] bettinaheim commented on #778
I believe this should be fixed with the latest changes. I'll close it when we have merged the changes to the feature branch.

[2021-01-27 03:03] bettinaheim commented on #780
I believe this should be addressed with the latest changes. I will close this issue once the merge to the feature branch is completed.

[2021-01-27 03:04] bettinaheim commented on #781
I believe this should be addressed with the latest changes. I will close the issue once it is merged to the feature branch.

[2021-01-27 03:06] bettinaheim commented on #776
Sorry, I overlooked the two that are kept since they are listed as dependencies for rewrite steps. Trimming these as well makes sense.

[2021-01-28 20:57] filipw commented on #699
This is a limitation of the quick info provider in Roslyn - https://github.com/dotnet/roslyn/issues/1515
OmniSharp also uses quick info from Roslyn hence the problem is visible there too.

[2021-01-28 21:42] irinayat-MS opened #844 "QIR: An array, created from C-compatible entry point, is leaked"
used commit https://github.com/microsoft/qsharp-compiler/commit/54796f3a94f687397152f24e9c7300e881669833 to generate the QIR.

compile to QIR the following code
[code]

The QIR will contain a C-compatible entry point that converts i64* into %Array*:
[code]
Notice, that %Array* %0 is never released.

[2021-01-29 01:41] bettinaheim commented on #844
Yes, the entry point handling in general likely still has a couple of issues. It would be good to accumulate them and then we can make a pass.

[2021-01-29 23:15] samarsha commented on #737
This is blocked until our QDK build pipeline is updated to build with .NET 5.

[2021-01-31 03:06] #781 closed

[2021-01-31 03:06] #780 closed

[2021-01-31 03:06] #779 closed

[2021-01-31 03:07] #778 closed

[2021-01-31 12:26] esthercruz opened #847 "QIR: compilation fails and no .log file is generated"
I am trying to generate QIR (using current version of feature/qir branch) from an empty file foo.qs with the following command from the root directory :

`dotnet run --project src/QsCompiler/CommandLineTool/ build --qir QIR s --input  foo.qs examples/QIR/QirCore.qs examples/QIR/QirTarget.qs --proj BOO`

I am getting the following error:

[code]

An empty .ll file is generated, but no .log file is.

[2021-01-31 20:00] kuzminrobin opened #848 "VSCode: Creating first Q# project fails"
On [this page](https://docs.microsoft.com/en-us/quantum/quickstarts/install-command-line?tabs=tabid-vscode), [Develop with Q#](https://docs.microsoft.com/en-us/quantum/quickstarts/install-command-line?tabs=tabid-vscode#develop-with-q) section, "VS Code" tab, the step **Q#: Create New Project** fails. Error message:

Noticed on Sunday 2021.01.31, it was working in the beginning of the week (2021.01

[2021-01-31 21:29] kuzminrobin commented on #848
Looks like `npm` is not installed (or got removed) on my machine, which can be _my bad_.
(I don't remember if any docs/tutorials were asking me to install `npm` (Node.js?) during last 7 days when I started touching Quantum)

**Log (Extension Host):**
[code]
**Q# Language Extension log:**
[code]
(just a single line)

[2021-01-31 21:57] kuzminrobin commented on #848
Installing the npm according to the instructions [here](https://phoenixnap.com/kb/install-node-js-npm-on-windows) solved my original problem. However I allowed the installer to install the dependencies and it has downgraded my Visual Studio Installer from 2019 down to 2017 and failed then :-)
The subsequent launch of the Visual Studio Installer has passed through some recovery steps and hopefully

[2021-02-01 05:55] Co0olboi opened #849 "Totle"
**Describe the bug**

Describe what the unexpected behavior or issue is.
Please file a single issue per bug instead of enumerating multiple items.

**To Reproduce**

Steps to reproduce the behavior:
1. Open or go to '...'
2. Type or click on '....'
3. See error

The more information you can provide, the more likely someone will be successful at reproducing the issue and finding a fix.

**Expected

[2021-02-01 18:07] vadym-kl opened #850 "C# Code generation failure when two for loops have a loop variable with the same name"
**Describe the bug**

C# Code generation failure when two for loops have a loop variable with the same name
and several `within ... apply` statements are present.

**To Reproduce**

Create a Q# console project with the following code:

[code]

**Expected behavior**

Code generation succeeds.

**System information**

- `Microsoft.Quantum.Sdk/0.15.2101125897`

**Additional context**

Changing the na

[2021-02-01 19:17] samarsha commented on #848
That's weird, because you shouldn't need npm installed to use the VS Code extension (only to build it).

[2021-02-01 20:04] samarsha commented on #847
Hi, could you try running the compiler in verbose mode? This should show some more info about the exception:

`dotnet run -- --verbosity detailed --project src/QsCompiler/CommandLineTool/ build --qir QIR s --input foo.qs examples/QIR/QirCore.qs examples/QIR/QirTarget.qs --proj BOO`

[2021-02-01 20:10] samarsha commented on #832
Thanks for the update, glad it was resolved!

[2021-02-01 22:08] cgranade commented on #848
@samarsha: We got another report from @tvarga78 of `npm` being required to use project templates from the VS Code extension. I wonder if there was a regression in the VS Code extension that's causing that? +@ricardo-espinoza

[2021-02-01 22:56] cgranade commented on #847
@samarsha: I'm not sure if it's helpful or not, but I run into similar errors running on my machine against the `feature/qir` branch as well. Setting `-v diag` gives an exception in each of the C# and QIR code generation steps:

[code]

[2021-02-01 23:19] Co0olboi commented on #847
- [ ]

[2021-02-02 03:47] bettinaheim commented on #847
@esthercruz @cgranade That the C# compiler fails when QIR emission is enable is currently a known issue.
"Could not load type 'Microsoft.Quantum.QsCompiler.SyntaxExtensions'" is a mismatch between the runtime version and the compiler version that you are using, and "System.ArgumentException: invalid loop variable name" is the result of an invalid syntax tree (possibly a subsequent error from the f

[2021-02-02 03:47] bettinaheim commented on #849
It looks like this was opened on accident.

[2021-02-02 03:47] #849 closed

[2021-02-02 03:51] bettinaheim commented on #850
@vadym-kl Thanks for filing!

[2021-02-02 13:27] geduardo commented on #848
@cgranade @samarsha we have replicated this issue from several independent users on Windows 10. It's a major issue since it's blocking most new users from using the Docs or completing the Learn modules.

[2021-02-02 18:30] samarsha commented on #848
Possible culprit is #806...

[2021-02-02 22:43] rifat19331279 commented on #848
<img width="910" alt="Capture" src="https://user-images.githubusercontent.com/69009277/106672478-f36bdf00-6564-11eb-898e-10f2afe91028.PNG">

[2021-02-03 00:00] ricardo-espinoza commented on #848
Thanks for the report, @kuzminrobin. This is most likely a regression in our last two releases of the extension. For the time being, if installing `npm` works for you as a workaround, I'd recommend that. However, it's not intended to be a requirement. We'll investigate and address soon.

[2021-02-03 08:45] cgranade commented on #848
Looking at the version of yeoman-generator that we depend on as of #806, there's a call to `Object.assign({}, repository)`. That call copies all properties of the variable repository over to a new object. That repository in turn has a property for the root node_module path, which it calls `npm` to find. That property is not actually used, but gets invoked anyway by the `Object.assign` call. In mor

[2021-02-03 17:32] samarsha commented on #848
Thanks for investigating, @cgranade. #806 was my PR, sorry about that. :( Requiring npm is really easy to miss since we would probably have it installed already...

[2021-02-04 07:26] bettinaheim commented on #847
@cgranade Sorry, the "invalid loop variable name" is not a subsequent error, but an issue with discarded loop variables for iterations over ranges. It will be fixed with the next PR (it's currently on beheim/entryPoints).

[2021-02-04 08:16] cgranade commented on #847
@bettinaheim: Can confirm, running against `beheim/entryPoints` fixed that error. Thank you for the help on that!

[2021-02-04 10:40] rifat19331279 commented on #848
<img width="918" alt="Capture" src="https://user-images.githubusercontent.com/69009277/106881398-57d88c80-6692-11eb-90f1-5f405d6c3a92.PNG">

[2021-02-04 13:31] tomaustin700 opened #854 "'Failed to compile program' when attempting to submit job to Azure Quantum Workspace using Azure CLI"
**Describe the bug**

When attempting to submit a job to Azure Quantum Workspace I'm getting a 'Failed to compile program' error. The program does compile file as I can run dotnet build and it builds successfully. Please see screenshots below.
![image](https://user-images.githubusercontent.com/6324102/106898442-1a085200-66ec-11eb-97d6-2eee49ea3780.png)

![image](https://user-images.githubuserconte

[2021-02-05 03:32] bettinaheim commented on #854
@tomaustin700 Thanks for reporting!
We are looking into giving a more actionable message on this one.

Could it be that your project does not use the IonQ/Honeywell templates?
If so, then that would mean that the build succeed because in general it is a valid program, but it uses language features that are not supported by the target hardware. You will get IntelliSense and build diagnostics for th

[2021-02-05 08:23] tomaustin700 commented on #854
Hi @bettinaheim,
My project is pretty simple, it's just the basic hello world example so I don't think it needs the IonQ/Honeywell template however I may be wrong - this is all very new to me. My original message does contain my sample project if you want to take a look at it. My workspace does only have the Microsoft QIO provider so do you think that's the case? Thanks

[2021-02-06 06:35] bettinaheim commented on #854
@tomaustin700 Got it - sorry, I did not read carefully enough. Azure Quantum offers both; running quantum inspired optimization algorithms (such as e.g. simulated annealing) and running quantum algorithms on real quantum hardware using Q#. The target id you are using is for quantum inspired optimization (that is a classical solver running on classical hardware). The Q# program you are trying to su

[2021-02-07 10:03] esthercruz commented on #847
Thanks all for your help and sorry for my late response!

@bettinaheim @samarsha I've run the command in verbosity mode. There's a first phase that shows no error and end with "Build completed". After that the same error as I got at the beginning still appears, with no more detail. Please find the complete output here: https://gist.github.com/esthercruz/4e79256340f7014208ca1015db78cd8b

I don't if

[2021-02-08 16:13] bettinaheim commented on #854
@tomaustin700 I hope this resolved your issue and will close this. Please don't hesitate to reopen it or open a new one if there is more we can help with.

[2021-02-08 16:13] #854 closed

[2021-02-08 18:37] crazy4pi314 commented on #847
I don't know if it is helpful here, but I have been able to get a teleport Q# program to compile with the version of the compiler that is on `feature/qir`  and put the sample program and a readme with the steps to repro here: https://github.com/esthercruz/qosf_mentorship_project/tree/main/teleport-qir

**tl;dr** both building the compiler works (but fails on other tools that are built in the same

[2021-02-09 00:11] samarsha opened #857 "QEP 2: Enhanced Array Literals"
This issue tracks the implementation of [QEP 2: Enhanced Array Literals](https://github.com/microsoft/qsharp-language/blob/main/Approved/2-enhanced-array-literals.md). The feature branch is [feature/qep2](https://github.com/microsoft/qsharp-compiler/tree/feature/qep2).

- [x] Support the empty array constructor, `[]` (#884)
  - [x] Add Hindley-Milner type inference module (#917)
  - [x] Replace ex

[2021-02-11 03:43] ScottCarda-MS commented on #453
This is resolved by #735.

[2021-02-11 03:43] #453 closed

[2021-02-11 03:43] ScottCarda-MS commented on #457
This is resolved by #735.

[2021-02-11 03:43] #457 closed

[2021-02-11 22:43] tcNickolas opened #860 "Code completion replaces characters that are not part of identifier name"
**Describe the bug**

When code completion replaces the partial variable/operation name with the autocompleted one, it replaces the characters that cannot be part of the variable name, such as closing brackets, commas or semicolons.

**To Reproduce**

Steps to reproduce the behavior:
1. Autocomplete a partially typed variable name followed by `,` or `)`.

**Expected behavior**

Similar to C# autoc

[2021-02-12 17:03] samarsha opened #861 "Formatter doesn't support callable attributes, type parameters and specialization generators"
QsFmt removes attributes and type parameters from callable declaration, and throws an exception when a specialization generator is used instead of an implicit body.

[2021-02-12 17:13] samarsha opened #862 "Formatter grammar should be unified with grammar from Q# language specification"
The formatter uses a grammar based on [the one in the language spec](https://github.com/microsoft/qsharp-language/tree/main/Specifications/Language/5_Grammar), but with some additions. We should merge these changes back into the spec grammar so that the formatter can use the exact version of the grammar in the spec, which will make updates easier.

[2021-02-12 17:18] samarsha opened #863 "Formatter should update deprecated array syntax to new syntax"
The formatter should be able to automatically update the deprecated array syntax, `new T[n]`. For example, `new T[0]` can be replaced with `[]` in most cases. Also, for types with a known default value, e.g. `Int`, then `new Int[n]` can be replaced with `[0, size = n]`.

[2021-02-12 17:21] samarsha opened #864 "Package formatter as a .NET tool"
To make it easier to install and use, the formatter should be packaged as a .NET tool that can be used with the `dotnet tool` command.

[2021-02-12 17:23] samarsha opened #865 "Integrate formatter with language server"
The formatter should be integrated with the language server so that the VS and VS Code extensions can automatically format Q# files.

[2021-02-12 17:31] samarsha opened #866 "Comments before closing brace are indented incorrectly"
The formatter indents this program incorrectly:

[code]

Output:

[code]

[2021-02-12 18:33] #848 closed

[2021-02-12 18:33] ricardo-espinoza commented on #848
This is fixed in the recently released QDK version 0.15.2102.128318.

[2021-02-12 22:52] samarsha commented on #860
I think this is likely a bug with Visual Studio's LSP client, so it may need to be fixed on Visual Studio's end. @ricardo-espinoza

[2021-02-13 00:45] #667 closed

[2021-02-13 19:10] samarsha commented on #617
Duplicate of #857. This has been approved in [QEP 2](https://github.com/microsoft/qsharp-language/blob/main/Approved/2-enhanced-array-literals.md), so closing this in favor of the QEP 2 tracking issue instead.

[2021-02-13 19:10] #617 closed

[2021-02-13 19:15] samarsha opened #867 "Formatter should compare input source with unparsed tree as a sanity test"
As a sanity test to prevent data loss when formatting, the formatter should unparse the CST (without applying any formatting rules) and make sure that it's equal to the original input source code. If it's not, then the formatter shouldn't continue (ideally with an error message asking the user to report a bug).

[2021-02-16 20:18] samarsha commented on #862
Some things to think about before merging the formatter grammar back:

The formatter grammar adds labels, but they aren't added everywhere yet; I only added labels that were needed for the syntax tree nodes that the formatter currently supports. Having inconsistent use of labels might be confusing in the Q# specification, so we probably want to add them everywhere.

However, all the extra labels t

[2021-02-19 01:01] swernli opened #869 "QIR generation should suppress C# generation and compilation"
When using the upcoming feature for QIR generation (see https://github.com/microsoft/qsharp-compiler/tree/feature/qir), setting `QirGeneration` to true in the project file includes that rewrite step but then still generates C# and tries to compile it, which may or not may not work for the given source + target + rewrite steps.

**Describe the solution you'd like**
Opting into QIR generation should

[2021-02-19 06:14] crazy4pi314 opened #870 "Older version of VSCode extension cannot recognize newer projects (loads a project and then claims it didn't)."
**Describe the bug**

I can on multiple machines clone this repo (https://github.com/crazy4pi314/qsharp-zne) and try and open it with VS Code and the QKD extension installed and the language service fails to load for the Q# file in the project, after saying it successfully loads it.  The project builds and runs fine, but I get nothing more than syntax highlighting. I created the project with the p

[2021-02-20 01:15] #829 closed

[2021-02-20 17:30] fvirdia opened #875 "`error QS7106: Unable to serialize` large circuit with QDK v0.15, used to work with v0.7"
**Describe the bug**

The `dotnet build` command fails with error `EXEC : error QS7106: Unable to serialize the built compilation.` when compiling the largest circuit from [https://github.com/microsoft/grover-blocks](https://github.com/microsoft/grover-blocks) ("LowMC L5"). This used to work under version 0.7 of the QDK, but fails under version 0.15.2101125897.

**To Reproduce**

Steps to reproduc

[2021-02-22 22:09] irinayat-MS opened #876 "QIR generation fails for callables that require conditional rewrite"
The following Q# code compiles without errors if either `<QirGeneration>True</QirGeneration>` or `<ExecutionTarget>honeywell.qpu</ExecutionTarget>` is not set.
[code]
And fails with error: "microsoft.quantum.sdk\0.15.2102128704-alpha\Sdk\Sdk.targets(148,5): error : Q# compiler failed with exit code: -13." otherwise.

[2021-02-22 22:44] bettinaheim commented on #875
@cesarzc Of the top of your head, do you have any idea what might be causing it and/or how to best gather additional data/confirm?

[2021-02-22 22:55] kuzminrobin opened #877 "QIR emission throws if no explicit `return ..;` despite that all parts of `if .. else ..` do return."
Discussion
[12:59 PM] Robin Kuzmin

Stefan,
... if I replace Round() with my own implementation like below, the 0.15.2102129370-alpha\tools\qsc\Microsoft.Quantum.QsCompiler.dll still throws an exception. My implementation:

    function MyRound(value : Double) : Int {​​​​​​​​​​​​​​                            // 4.x  4.5  5.x  5.5   -4.x  -4.5  -5.x -5.5
        let truncated = Truncate(value);

[2021-02-23 02:30] crazy4pi314 commented on #870
So I have isolated the cause here, and its that when I try to work with a project that has a newer version number of the SDK than the extension was built with it sees the project but won't recognize any of the source files are associated with it. You can reproduce this by taking my example above and rolling the project version back to the same as the extension. I can use this as a work around when

[2021-02-23 23:22] guenp commented on #870
I can confirm @crazy4pi314's observation. I had to downgrade my project to a lower version in order for the language server to pick up my project.

[2021-02-26 12:53] spotakash opened #883 "Q# SDK support for dotnet 5"
Have been testing this https://docs.microsoft.com/en-gb/learn/modules/qsharp-create-first-quantum-development-kit/2-install-quantum-development-kit-code when start using Q# SDK it starts throwing error that donet 3.1 could not find while 5.0.2 is installed and detected.
  The framework 'Microsoft.NETCore.App', version '3.1.0' was not found.
    - The following frameworks were found:
        5.0.2

[2021-02-26 14:24] bettinaheim commented on #870
@crazy4pi314  Thanks for reporting! I am not sure there is any way around that; while we try not to modify how the extensions work, in general there is also not really a way to be "forward compatible". We can make newer versions backward compatible, but we can't really guarantee that older extensions will be able to recognize newer projects. Do you have any suggestions on what you were hoping for?

[2021-02-26 14:54] swernli commented on #877
This is fixed in the working branch by https://github.com/microsoft/qsharp-compiler/commit/49a273c72bb46c03705b073f04075faccf3f78a3, and we can close the issue once that branch merged to main or the QIR feature branch.

[2021-02-26 15:55] bettinaheim commented on #662
@samarsha I believe this should be resolved with the switch to the full HM type inference?

[2021-02-26 15:55] bettinaheim commented on #573
@samarsha I believe this should be resolved with the switch to the full HM type inference?

[2021-02-26 17:57] samarsha commented on #662
Yes, it should be.

[2021-02-26 17:58] samarsha commented on #573
Yes, it should be able to handle this.

[2021-02-26 21:34] cesarzc commented on #875
@bettinaheim of the top of my head I don't know what might be causing this. I'll start with your suggestion of checking whether the pre-bond serialization still works with this source code.

Thank you @fvirdia for providing the source code to reproduce this issue!

[2021-02-26 22:06] fvirdia commented on #875
No problem! As a heads up if you are trying this out, I found that 8GB of RAM were not enough to compile (the kernel would eventually kill the compiler). On the server it run fine, I'm not sure how much memory was strictly necessary.

[2021-03-02 23:18] samarsha commented on #883
At the moment, the QDK requires .NET Core 3.1. You can still have .NET 5 installed, but the .NET Core 3.1 SDK also needs to be installed along side it.

[2021-03-02 23:23] samarsha commented on #883
Duplicate of #737

[2021-03-02 23:23] #883 closed

[2021-03-02 23:30] rhpreston opened #885 "Q# Language Server fails to initialize in Visual Studio due to JsonReaderException"
**Describe the bug**

Q# Language Extension crashes on startup and prints the following error message:

[code]

Contents of log file:

[code]

**To Reproduce**

1. Create a new Q# Test Project.
2. The Q# Language Server fails to initialize.

**Expected behavior**

The Q# Language Server works with no errors.

**System information**

- Version of the NuGet package or extension for which the problem

[2021-03-03 01:21] crazy4pi314 commented on #870
I am not sure I have any suggestions/hopes for different behavior, this is just a hard problem! I mostly just wanted to document it here in case others ran into similar because I thought I was going insane and could never get the language server working on my machines :P

[2021-03-03 15:06] bettinaheim commented on #870
Thanks for the documentation, that is indeed hopefully helpful to others. Since the resolution for this problem is to update the extension, I will close this issue here.

[2021-03-03 15:06] #870 closed

[2021-03-03 15:07] bettinaheim commented on #813
The specs are updated with https://github.com/microsoft/qsharp-language/pull/67. I will hence close the issue here.

[2021-03-03 15:07] #813 closed

[2021-03-03 15:08] bettinaheim commented on #812
The spec is updated with https://github.com/microsoft/qsharp-language/pull/67. I will hence close the issue here.

[2021-03-03 15:08] #812 closed

[2021-03-03 18:01] cgranade commented on #885
Thanks for reporting, @rhpreston! I'm not able to reproduce this on 16.8.* versions of Visual Studio, such that this may be a regression with the latest update; let me take a look and see what I can figure out there.

@samarsha, @bettinaheim: at first glance, it looks like this exception is caused by the language server not handling JSON that doesn't match the right schema for LSP. Is there a way

[2021-03-03 18:44] rhpreston commented on #885
Agree, it just started happening after I updated to 16.9.0, so that's likely the culprit. (Sorry should have mentioned this!)

[2021-03-03 19:13] cgranade commented on #885
No worries, thanks for letting us know, that's really helpful! Let me continue looking into things on my side, but in the meantime thanks for the report and the additional info!

[2021-03-03 22:57] cgranade commented on #885
I can confirm that I get this as well with 16.9.0, thanks again for raising this!

[2021-03-09 11:12] msoeken opened #890 "Unexpected QIR output for intrinsic body and adjoint operations"
## Describe the bug
The QIR output does not distinguish between a body and adjoint call.

## To Reproduce

Call `botnet build` on the following project:

[code]

[code]

[code]

## Expected behavior
I expect two LLVM declarations for `@__quantum__qis__instruction__body` and `@__quantum__qis__instruction__adj`.

## Actual behavior
Body and adjoint variants map to the same LLVM declaration `@__quant

[2021-03-09 16:41] bettinaheim commented on #890
@msoeken This is a case of the necessary validation not yet having been implemented, sorry. The idea is that you shouldn't be able to attach a TargetInstruction attribute to an operation that has more than one specialization; you would need to manually write what the compiler would otherwise do:
[code]

[2021-03-09 16:45] msoeken commented on #890
Thanks for the clarification

[2021-03-10 11:12] msoeken opened #892 "QIR code does not lazily evaluate binary logical operator"
**Describe the bug**

QIR code does not respect lazy evaluation of logical binary operator.

**To Reproduce**

Run `dotnet run` on the following project

[code]

[code]

[code]

**Expected behavior**

Program should not seg-fault.

**Actual generated code**

[code]

As can be seen array is accessed at index 1 (return value `%5`) although first operand of `or` operation is `true`.

**System informa

[2021-03-11 00:53] bettinaheim commented on #892
@msoeken Thanks for catching this!

[2021-03-13 02:19] bettinaheim commented on #775
I removed the bridge generation and revised the entry point wrapper.

[2021-03-13 02:19] #775 closed

[2021-03-13 02:21] bettinaheim commented on #877
Closing since this has been merged.

[2021-03-13 02:21] #877 closed

[2021-03-13 02:22] bettinaheim commented on #639
This is done with PR #889.

[2021-03-13 02:22] #639 closed

[2021-03-13 02:22] bettinaheim commented on #642
Done.

[2021-03-13 02:22] #642 closed

[2021-03-13 02:23] bettinaheim commented on #658
Done.

[2021-03-13 02:23] #658 closed

[2021-03-13 02:23] #776 closed

[2021-03-13 02:24] bettinaheim commented on #801
This should be resolve with #889.

[2021-03-13 02:24] #801 closed

[2021-03-13 02:24] #844 closed

[2021-03-13 04:14] ricardo-espinoza commented on #885
Hotfix in progress to resolve this issue. Will mark as Open until the release is available.

[2021-03-13 18:40] bettinaheim commented on #641
@alan-geller I believe the subsequent work I did largely took care of those.
As for the partial applications, as part of implementing support for lambda expressions in Q#, I would like to just move the responsibility to properly lift lambdas and partial applications into a separate compiler pass, and remove the partial application handling from the QIR emission entirely. I'll hence go ahead and cl

[2021-03-13 18:41] #641 closed

[2021-03-13 18:46] bettinaheim opened #897 "Update QIR emission to be compliant with QIR spec update 1"
The current implementation is partially compliant with the update defined in https://github.com/microsoft/qsharp-language/pull/83. Still missing are

- [x] adjust code to reflect that qubit release also unreferences array
- [x] all count updates take and i32 as argument rather than an i64
- [x] string creation now only takes an i8* as argument
- [x] the constants Zero and One need to be accessed v

[2021-03-13 18:49] bettinaheim opened #898 "Postcondition verification for target instruction inference pass"
A proper postcondition verification could be used as a precondition for the QIR emission.
Alternatively, we could rely on the information from the transformation itself.

[2021-03-13 18:53] bettinaheim opened #899 "QIR emission precondition: Validate that all inlined callables either return unit or have exactly one return statement"
Inlining currently won't work correctly if a callable has multiple non-void return statements.

[2021-03-13 18:59] bettinaheim commented on #869
Done with https://github.com/microsoft/qsharp-compiler/issues/869.

[2021-03-14 01:10] #869 closed

[2021-03-15 01:13] bettinaheim commented on #897
Implemented by PR https://github.com/microsoft/qsharp-compiler/pull/901.

[2021-03-15 01:21] bettinaheim commented on #847
@esthercruz Support for QIR emission is now on main. Please see [this readme](https://github.com/microsoft/qsharp-compiler/tree/main/src/QsCompiler/QirGeneration#qir-emission---preview-feature) for more information on how to use it. Please let me know if that resolves your issue, or if you are still running into the same (or new) problems.

[2021-03-15 16:01] bettinaheim commented on #876
I've look at issue and the root of it is that the Classical Control transformation creates TupleValues that have only one item while the expression validation upon creating TypedExpressions ensures that the expression kind matches the type (and a tuple with a single item does not exist at as a type). We need to either enforce that ValueTuples cannot have a single item in the typed checked data str

[2021-03-15 16:20] bettinaheim opened #903 "Captures created upon lifting into global callables should be minimal"
Currently, in particular e.g. the classical control transformation builds larger captures than it needs to when lifting blocks into global callables. This should be cleaned up since it is unnecessary and may have a performance impact.

[2021-03-15 17:46] samarsha opened #904 "Possible null reference return in QIR.Emission.IValue.Cached<T>.Load()"
`cache` has type `(int, T?)`.

https://github.com/microsoft/qsharp-compiler/blob/a25ab902456a93c0acdcbe81235e9b93606bea30/src/QsCompiler/QirGeneration/QIR/DataStructures.cs#L35-L37

`Load()` has return type `T`.

https://github.com/microsoft/qsharp-compiler/blob/a25ab902456a93c0acdcbe81235e9b93606bea30/src/QsCompiler/QirGeneration/QIR/DataStructures.cs#L60

However, it returns `this.cache.Item2`,

[2021-03-15 19:27] bettinaheim commented on #904
@samarsha I am not sure I understand you correctly; I believe the C# compiler is correct. We have the following code:

[code]
Load checks is IsCached, which in particular is false when cache.Item2 is null. If IsCached is null, then the cache is set to value returned by loaded, which is `T`, not `T?`. If you comment out the content of the IsCached block, you will see the C# compiler starting to com

[2021-03-15 19:30] bettinaheim commented on #904
@samarsha I see what you mean by the C# compiler not detecting potential issues here; if you set `public bool IsCached => true;` in all cases, then the compiler is still happy with it even though it shouldn't. While this is potentially something to file against the C# compiler, I believe in our case the code is safe and Load indeed never returns null.

[2021-03-15 19:37] samarsha commented on #904
In terms of the type system, the definition of `IsCached` isn't relevant. The fact that `IsCached == true` implies `this.cache.Item2 != null` isn't (and can't be, as far as I know) captured in the type of `IsCached`.

Rider's nullable analysis is better than Roslyn, which is why I noticed this, since Rider displays this as an error. Maybe it'd be better in this case to use `return this.cache.Item2

[2021-03-15 19:45] bettinaheim commented on #876
Fixed with #906.

[2021-03-15 20:07] bettinaheim commented on #904
I'd still disagree about the unsafe - clearly a good enough inference could know that the value at this point can never be null. I am happy to add the exclamation mark, but if you look at how nullables behave, then you will see that in plenty of places if you have something like
[code]

you will see that inference in fact determines that the value is not null. It would be pretty awkward to work wi

[2021-03-15 20:20] samarsha commented on #904
Sure, full-problem analysis could statically determine that this is safe. That's not what nullable reference types are, though. They are type-level annotations and any null checking should be based on those types and associated attributes, not on the definition of a property. What if `IsCached` was in an interface and its implementation was unknown until runtime?

Yes, that's flow typing. It doesn

[2021-03-15 20:22] bettinaheim commented on #904
"Flow typing itself relies on type-level annotations to propagate nullable information" That has been one of the most cumbersome restrictions working with nullables to me. In any case, I added the exclamation mark and a comment to https://github.com/microsoft/qsharp-compiler/pull/906.

[2021-03-15 20:22] #904 closed

[2021-03-15 21:07] samarsha commented on #876
What about normalizing tuples at parse time? Then we could change `QsExpressionKind.ValueTuple` to have a type that required at least two elements.

[2021-03-16 02:04] #876 closed

[2021-03-16 04:01] bettinaheim commented on #892
Fixed in https://github.com/microsoft/qsharp-compiler/pull/908.

[2021-03-16 19:48] samarsha commented on #876
@bettinaheim thoughts?

[2021-03-17 00:44] #892 closed

[2021-03-17 21:54] kuzminrobin opened #910 "Unclear how to build qsharp-compiler from sources."
From the page https://github.com/microsoft/qsharp-compiler/ it is not clear what to do after the `bootstrap.ps1` step in order to build from sources the QsCompiler (not the extension for VS or VSCode).
The `README.md` likely needs to mention
`QsCompiler.sln`
and the scripts that are used by the CI builds.

Also what are the instructions to build for Linux and Mac?

[2021-03-18 15:43] bettinaheim commented on #910
Started a draft here: https://github.com/microsoft/qsharp-compiler/pull/911.

[2021-03-18 15:47] amirebrahimi opened #912 "No commenting support in VS2019"
**Describe the bug**
With the QDK added to VS 2019 I find that I have to manually comment/uncomment lines. I don't see an option in there for commenting whole blocks.

**To Reproduce**
Steps to reproduce the behavior:
1. Select a block of text in a .qs file
2. Click on Edit -> Advanced
3. Notice that there is no option to block comment

**Expected behavior**
I'd expect that selecting a block of te

[2021-03-20 00:49] #910 closed

[2021-03-22 12:59] msoeken opened #916 "Invalid LLVM code from unreachable Q# code"
**Describe the bug**

Invalid LLVM code is generated in a Q# example with unreachable code.

**To Reproduce**

Run the following project:

[code]

[code]

[code]

Then run `clang++ -c qir/project.ll`, which yields:

[code]

**Generated LLVM**

[code]

**System information**

- Version: 0.15.2103131668-beta
- macOS 11.2.2

**Additional context**

This is not an issue because of unreachable Q# code,

[2021-03-22 16:16] bettinaheim commented on #916
@msoeken Do you have an example for what unreachable code it was happy with (since the numbering seems valid to me)? Though the cleanest fix is probably to just trim the unreachable code before generating QIR.

[2021-03-22 16:18] msoeken commented on #916
@bettinaheim When I tried to create an example, the following worked well:

[code]

[2021-03-22 16:20] bettinaheim commented on #916
Ok, This one wouldn't have the numbering then. I am not sure why clang is unhappy with it, but I'll put it on the backlog that we trim unused code (I believe it is currently a warning, but not trimming is done).

[2021-03-22 16:22] msoeken commented on #916
I think that's a good solution. I was just pointing out that the problem is not due to unreachable code in LLVM, but due to the numbering. First I thought that a `ret` block might be followed by a label, but that's not the case.

[2021-03-22 17:58] crazy4pi314 commented on #642
TYSM, this works great! 🥳

[2021-03-22 21:17] kevinhartman commented on #916
I believe this is because the `ret` immediately before is terminal, and so there's a new basic block starting after, which is implicitly assigned temporary `%1`. So the next assignment needs to use temporary `%2` since this numbering is shared.

Reference: https://llvm.org/docs/LangRef.html#identifiers

[2021-03-24 23:05] bettinaheim opened #922 "Llvm bindings project is not compliant with repo guidelines"
Most importantly, it would be good to enable nullable and turn on warnings as error.
Enabling stylecop would be nice, too.
In short, it would be good to add
[code]
To the project, and make all necessary adjustments.

[2021-03-28 22:45] raffaeleterribile commented on #885
I have the same error, both with Visual Studio 16.9.2 and with Visual Studio Code 1.54.3.
Today I tried to compile the sources (witj the instructions at https://github.com/microsoft/qsharp-compiler) and to use the recompiled version to compile a Q# project, but I cannot resolve the issue.
The error will be resolved in the next release? And when it's planned the next release?
I cannot debug my Q# a

[2021-03-29 19:15] swernli opened #932 "QSC reruns in pipeline even when it shouldn't"
In the e2e build pipelines, the "Test All" step for samples should do barely any building because all of the projects were already built by the "Build All" step. But instead it appears to rerun at least some of the builds of Q# contents (see [logs of this qsharp-compiler.e2e pipeline](https://dev.azure.com/ms-quantum-public/Microsoft%20Quantum%20(public)/_build/results?buildId=24886&view=logs&j=a2

[2021-03-29 19:28] swernli commented on #932
Of note, I can't seem to get this to repo outside of the pipeline. In my local environment, qsc correctly only runs when the .qs files of the project have changed, as expected. So perhaps this is somehow a side effect of the package reference to project reference redirect the e2e builds utilize?

[2021-03-30 05:35] bettinaheim commented on #932
Off the top of my head, I don't remember how the build pipeline is set up, but here are the conditions against which the incremental build checks: https://github.com/microsoft/qsharp-compiler/blob/f7c51ab72319487d607f5a9f7bf6b08e9cd86d2f/src/QuantumSdk/Sdk/Sdk.targets#L131

[2021-03-30 14:38] AE1020 commented on #614
Relatedly (?), it could be useful to have a way to be able to point at a directory containing a locally built qsharp-runtime in the process of compilation in general, independent of the SDK.  (I'm not familiar enough with the msbuild/nuget ecology to know if there's an easy way to override such resolutions from the outside.)

I was just trying to run a "Hello World" using a locally built compiler.

[2021-03-30 20:05] cgranade commented on #885
Thanks for the report, @raffaeleterribile! We believe the fix that @ricardo-espinoza mentioned above should fix the issue, such that you should be able to use VS 16.9.2 starting with the next release. Thanks for your patience!

[2021-03-30 21:08] raffaeleterribile commented on #885
Thank you very much for your reply.
Did you know when will be relesaed the next version?

[2021-03-31 00:39] bettinaheim commented on #437
Some improvements: https://github.com/microsoft/qsharp-compiler/issues/437.

[2021-03-31 01:11] samarsha opened #936 "Support the `NoWarn` SDK property"
The `NoWarn` SDK property is not fully supported by the Q# SDK and the language server.

While it seems like MSBuild recognizes it and hides matching warnings, `NoWarn` is not passed to the command-line compiler as a `--no-warn` argument, so the compilation summary will still say "N warnings" (where N > 0) even if all of the warnings were hidden.

The language server also doesn't recognize the pro

[2021-03-31 04:27] anpaz opened #937 "Microsoft.Quantum.Sdk jump on size"
**Describe the bug**

The Microsoft.Quantum.Sdk package size jump from about 9Mb to 127Mb
The 127Mb is a bit excessive and will hamper user experience as the first time a project compiled with this version will take a while to download for no apparent reason (as downloading happens on the background).

**To Reproduce**

* Version [0.15.2102129448](https://www.nuget.org/packages/Microsoft.Quantum.S

[2021-04-01 16:07] cgranade commented on #674
In case anyone is interested in looking into this, the `feature/allow-disable-parallel` branch has some partial progress towards resolving this issue, as discussed at #744.

[2021-04-07 15:29] rhpreston commented on #885
Working with Visual Studio 16.9.3 and QDK 0.15.2103.133969

[2021-04-07 15:29] #885 closed

[2021-04-07 15:37] rhpreston commented on #387
Haven't encountered this problem for some time, closing

[2021-04-07 15:37] #387 closed

[2021-04-07 17:27] WormerKing opened #948 "Ubuntu 20.04 copiled error(150)"
Hello dear development team
With `dotnet` in Ubuntu 20.04 release
https://docs.microsoft.com/tr-tr/azure/quantum/install-command-line-qdk?tabs=tabid-vscode
I installed it on my system by following the steps, but when compiling it does not compile the code by giving the code 150.
Thank you
Error message
[code]

[2021-04-07 18:52] kuzminrobin opened #949 "Docs gen issue in AssertMeasurement[Probability](): The type of `result` param is `invalid`"
It is confusing that the type of the `result` parameter is `invalid` [here](https://docs.microsoft.com/en-us/qsharp/api/qsharp/microsoft.quantum.diagnostics.assertmeasurement#result--invalid) and [here](https://docs.microsoft.com/en-us/qsharp/api/qsharp/microsoft.quantum.diagnostics.assertmeasurementprobability#result--invalid).
Documentation rendering issue?

---
Same for [Measure() `Output`](htt

[2021-04-08 03:15] bettinaheim commented on #949
@cgranade Are you looking into this, or making sure it gets triaged?

[2021-04-08 03:27] cgranade commented on #949
I haven't had the chance to look into it yet, sorry, but wanted to at least make sure it was triaged in the meantime.

[2021-04-08 03:31] cgranade commented on #949
My initial thought is that it comes down to the `ToMarkdownLink` extension method at https://github.com/microsoft/qsharp-compiler/blob/1fd018a6490ca7c0aa42c2f67d7429c85362b187/src/Documentation/DocumentationGenerator/Extensions.cs#L285. It should be an easier fix than I was afraid of, so I'll make a PR for it shortly.

[2021-04-08 03:38] bettinaheim commented on #949
@cgranade Thanks! No rush, I just wanted to make sure someone has an eye on it.

[2021-04-08 03:47] cgranade commented on #949
Makes sense! In investigating the fix seems to be pretty straightforward, so I just went on and opened the PR.

[2021-04-08 17:40] #949 closed

[2021-04-08 18:13] cgranade opened #955 "[QIR] Exception when setting UDT named item to an intrinsic callable"
**Describe the bug**

When setting a named item of a UDT to an intrinsic callable, the QIR generation rewrite step throws an exception, causing compilation to fail:

**To Reproduce**

[code]

[code]

Command to reproduce and observed output:

[code]

**System information**

[code]

[2021-04-08 21:08] cgranade opened #957 "[QIR] QIR generation fails when updating UDT named items in same operation as a conditional return"
**Describe the bug**

The following Q# snippet using both named item copy-and-updates and a `return` inside an `if`/`else` block fails to compile when QIR generation is enabled:

**To Reproduce**

[code]

[code]

Command-line output:

[code]

**System information**

[code]

[2021-04-09 01:39] samarsha opened #958 "Remove ConstructorExtensions.fs"
The `New` methods defined in [https://github.com/microsoft/qsharp-compiler/blob/main/src/QsCompiler/Core/ConstructorExtensions.fs] can't be accessed from C#. This is problematic when changing the fields of a record, since the `New` methods can go through a deprecation period, but the default autogenerated record constructor can't (it always matches the current record fields).

Moving all of these

[2021-04-12 19:20] samarsha opened #962 "Hashes are used incorrectly"
The compiler defines three hash generating functions in `NamespaceManager`: `TypeHash`, `ExpressionHash`, and `HeaderHash`. These hash functions are not used correctly and can cause incorrect compilation.

Examples:

https://github.com/microsoft/qsharp-compiler/blob/47fce24f420be04526258ef06f32eec53b2d4655/src/QsCompiler/Core/SymbolTable/NamespaceManager.fs#L496-L497

This code may incorrectly gen

[2021-04-12 21:41] swernli opened #964 "[QIR] QIR Generation fails when a passing a generic callabe as a parameter with an inherited type specifier."
The standard library includes two functions, `RectangularArrayFact` and `SquareArrayFact`, that make use of the generic `Length` function as a parameter while using an inherited type specifier:
`Any(Compose(NotEqualI(numColumns, _), Length<'T>), Rest(array))`
This fails QIR generation in the compiler with the error
[code]
when trying to process the argument tuple. It's unclear whether this is an i

[2021-04-13 01:07] Majd223 opened #966 "NU5037 error when creating new Q# project."
**Describe the bug**

Using the Q# extension in VS code to create a new Q# project, a lot of errors appear making it unable to use QDK...
**To Reproduce**

Steps to reproduce the behavior:
1. Go to 'View'
2. Click on 'Command Palette...'
3. Click on 'Q#: Create new Project... '
4. Select where you want the project files to be and name the project.
5. Go to the Q# you just created and you will star

[2021-04-13 01:15] tcNickolas commented on #860
@samarsha @ricardo-espinoza
Any updates on this issue? This behavior makes writing code somewhat frustrating, since on one hand I have to remember not to use the tempting autocomplete, but on the other hand I keep forgetting and using it and having to re-type the incorrectly replaced characters.

I found another odd autocomplete behavior that might be part of the same issue: autocompleting `@Entr`

[2021-04-13 01:37] bettinaheim commented on #966
@Majd223 Thanks for letting us know!
I have not seen or been able to reproduce the issue locally; I believe this may be an issue with packages not having been properly restored. Could you please run `dotnet restore projectfile.csproj` replacing the project file name as needed? Depending on the download speed, the command may take a while - our apologies; the llvm libraries are somewhat big, and we

[2021-04-13 01:46] Majd223 commented on #966
Thank you for your reply @bettinaheim.
when I do as you said replacing projectfile.csproj with my project name I get the same NU5037 error.

[2021-04-13 02:02] bettinaheim commented on #964
This is a tricky one. I think the monomorphization itself is resolved with one of the latest PRs I did. However, I don't think that is actually what would prevent this from working; I believe that when building the callable value, we may actually need to make some special accommodations. I'll look into it with my next batch of fixing things.

[2021-04-13 02:11] bettinaheim commented on #966
@Majd223 I think that points to a corrupt package/state. Could you try first to delete both the bin and the obj folder for the project before running the restore again?
If that doesn't work, then could you either run `nuget locals -clear all` (this is the reliable, but somewhat invasive way, since it requires to re-download all packages that you are using), or delete all nuget packages that have l

[2021-04-13 02:41] Majd223 commented on #966
@bettinaheim  I tried deleting obj and bin then doing the restore command -> didn't work
Deleting all files with llvm in their name -> didn't work
after deleting both obj and bin the restore command runs into the error and the files don't get restored. I tried creating a new project and try again deleting the llvm files then doing the build with and without bin and obj but still no luck. Sorry thi

[2021-04-13 02:44] Majd223 commented on #966
Forgot to mention when I run `nuget locals -clear all` I get:
[code]

[2021-04-13 03:00] bettinaheim commented on #966
@Majd223 Sorry for the hassle! I am somewhat confused by this. If you type `dotnet nuget --version`, what version do you have? You can also use `dotnet nuget locals --clear all` instead to clear out the cache.

[2021-04-13 03:14] Majd223 commented on #966
@bettinaheim
my Nuget version:
[code]
dotnet nuget locals --clear all WORKED THANK YOU!!!

[2021-04-13 03:17] bettinaheim commented on #966
@Majd223 Great! Worked as in you can now build the project successfully?

[2021-04-13 03:19] Majd223 commented on #966
@bettinaheim Yes I can build with no errors. also tried it on my old projects that had the problem and created a new project to test it out. Looks like it solved my problem. Thank you again.

[2021-04-13 04:04] bettinaheim commented on #966
No problem - thanks for trying it out and giving us the feedback!

[2021-04-13 04:04] #966 closed

[2021-04-13 18:57] tcNickolas opened #967 "Some code actions are not offered in VS Code on Linux"
**Describe the bug**

VS Code extension on Linux doesn't offer at least some of the code actions that are offered in Visual Studio on Windows. (I haven't had a chance to check VS Code on Windows, sorry.)

**To Reproduce**

Steps to reproduce the behavior:

I tried the code action which opens namespace for a library operation. Typing in the operation name gives an error, with "No quick fixes availa

[2021-04-15 16:54] swernli opened #970 "[QIR] Array Concatenation is missing ref count increase"
When QIR emission handles array concatenation, a new array is created that includes the items from the two source arrays. However, this does not result in a ref count increase of the items in the newly combined array. As a result, one or both of the source arrays used in the concatenation goes out of scope while the combined array is still in use some of the items may be freed, resulting in a cras

[2021-04-15 18:42] swernli commented on #970
I was able to confirm that the above Q# does reproduce the issue.

[2021-04-15 19:10] swernli opened #973 "[QIR] Repeated invocation of partial application of operation using UDT fails"
I'm not exactly sure what is going on for this one, but I was at least able to isolate it to a relatively small example code:
[code]
The commented out line and the for-loop should be functionally equivalent, but the loop succeeds and the `ApplyToEach` version will crash. My best guess is that this is something to do with tuple passing when preparing the capture for the partial application, because

[2021-04-15 19:29] swernli opened #974 "[QIR] String interpolation with array results in use after free"
When displaying an array via string interpolation, the generated QIR includes a loop over string concatenation to assemble each of the items into a single string, such that `[1, 2]` becomes the string `"[1, 2]"`. However, the code incorrectly includes the addition of the opening `"["` inside the body of the loop instead of beforehand, and then tries to decrement the reference count on each iterati

[2021-04-15 19:35] swernli opened #975 "[QIR] Alias management on arrays can have major perf impact"
Whenever an array in QIR is set to a new variable, the alias counts on each item have to be incremented for the new alias and later decremented if the previous variable goes out of scope. This can also happen when returning an array from a callable, such that the return results in a loop over each element decrementing alias count and then the caller will have a loop over every element incrementing

[2021-04-15 19:38] swernli commented on #975
One idea I had for addressing this is that we could have a mechanism whereby an object registers a container, and then has a function that will calculate the alias/reference count on the object by summing the direct count with the count reported from the container. That way incrementing/decrementing the count on the container itself will automatically increment/decrement the count on all contained

[2021-04-15 21:40] swernli commented on #974
One of the side effects of this issue is that the generated QIR for the entrypoint variant that displays the results via `Message` will not work if the return value of the Q# entrypoint is an array. For example, if the Q# is:
[code]
Then running the resulting QIR function `void @Microsoft__Quantum__Qir__Emission__EntryPoint() #1` will crash.

[2021-04-16 01:18] bettinaheim commented on #975
A low risk improvement that won't require a spec update is to omit alias count increases when assigning to variables as long as there are no copy-and-update expressions in the callable. An improvement over that is to detect which variables the copy-and-update expressions involve. I think there are a lot of good improvements here we can do, and I think your idea above is good to explore further, bu

[2021-04-16 01:20] bettinaheim commented on #967
@ricardo-espinoza Could you make sure this issue gets triaged and processed as appropriate? Thanks!

[2021-04-16 15:21] VincentTam opened #977 "Support .NET 5"
I've .NET 5 installed on Ubuntu 20.04.

[code]

Then I installed the VS Code plugin for Q#.  When I open VS Code for the first Q# project, VS Code says I need .NET Core SDK 3.1.

![VS Code Q#](https://user-images.githubusercontent.com/5748535/115046535-dbef9180-9ed7-11eb-9bdb-267121427c90.png)

As .NET 5 is recommended, I make this feature request.

![.NET SDK downloads](https://user-images.github

[2021-04-16 17:16] bettinaheim commented on #948
@WormerKing Thanks for filing. Could you please post the full output that you are getting when building, and the output of `dotnet --info`?

[2021-04-19 02:22] ricardo-espinoza commented on #967
Investigating. @tcNickolas , did you notice this as a regression or have you never used that quick action in VS Code for Linux that you can recall?

[2021-04-19 03:17] tcNickolas commented on #967
I haven't used QDK on Linux for a couple of years, so I cannot really say - it's quite possible my first use was pre-code actions :-)

[2021-04-19 16:56] bettinaheim commented on #975
Thinking a bit more carefully: it is slightly more than just copy-and-update to watch out for; basically we'd need to look for anything where the runtime decides to copy or not copy an array (or other data structure) depending on the alias count, and if a variable is used in that context we need to update the count.

[2021-04-19 23:11] bettinaheim commented on #847
@esthercruz The issue as it is stated is obsolete with the changes we did to pull the QIR emission into main. Please feel free to reopen with an update or open a new issue if you still run into problems.

[2021-04-19 23:11] #847 closed

[2021-04-19 23:13] bettinaheim opened #981 "QIR interop wrapper for entry points with arguments of type String[] and Range[] is incorrect"
Arguments of String[] or Range[] in entry points are not processed properly. The issue could either be in the generated wrapper, or in the generated entry point driver, or in the runtime - to be investigated.

[2021-04-21 01:35] bettinaheim commented on #957
Regarding the
[code]
in the code: it really doesn't work - adding that line merely tricks the compile and the code fails to execute. Without that line, one of the sanity checks in the compiler is (correctly) failing, because for some reason we fail to process a pending ref count increase for `%updated`.

[2021-04-21 02:09] bettinaheim commented on #957
Assigning to myself since I know what the issue is, though it is perfectly possible I may introduce a bug when I fix it - it is in one of the trickier parts, since the issue is in the mechanism that ensures that ref count changes are applied "only" (at least that's the goal) when needed.

[2021-04-21 04:31] tcNickolas opened #986 ""Extra comma will be ignored" warning squiggled incorrectly in VS Code on Linux"
**Describe the bug**

VS Code extension on Linux draws the warning squiggles for extra comma in a list of parameters or in an array on the parameter/array element before the comma, not the extra comma itself.

**To Reproduce**

[code]

**Expected behavior**

Green squiggles under the extra comma itself.

**Screenshots**

VS Code on Linux:
![squiggles-VSCode](https://user-images.githubusercontent.c

[2021-04-21 06:06] bettinaheim commented on #964
Different manifestation of the same issue: https://github.com/microsoft/qsharp-compiler/issues/955

[2021-04-21 06:07] bettinaheim commented on #955
@cgranade @swernli With the changes that are currently on main I can no longer reproduce this issue as described - the QIR generation runs fine. What still fails is the linker, since it is expecting an implementation for message body instead of this getting redirected to call into the corresponding runtime library function. I.e. the remaining issue with this one is the same the issue in https://gi

[2021-04-21 06:40] bettinaheim commented on #973
The issue is one indirection too many: The partial application for some reason expects the argtuple to be a tuple with a single item where the single item is a tuple of four items. When it is invoked, however, it gets simply a tuple with four items, resulting in undefined behavior. I'm looking into it.

[2021-04-22 02:42] #662 closed

[2021-04-22 02:42] #857 closed

[2021-04-22 02:42] #573 closed

[2021-04-22 03:37] bettinaheim commented on #970
Reopening due to https://github.com/microsoft/qsharp-compiler/pull/989.

[2021-04-22 03:38] bettinaheim commented on #974
Reopening due to https://github.com/microsoft/qsharp-compiler/pull/989.

[2021-04-22 03:38] bettinaheim commented on #957
Reopening due to https://github.com/microsoft/qsharp-compiler/pull/989.

[2021-04-23 03:46] #970 closed

[2021-04-23 03:46] #973 closed

[2021-04-23 03:47] bettinaheim commented on #955
Fixed with #990.

[2021-04-23 03:47] #955 closed

[2021-04-23 03:47] bettinaheim commented on #957
Fixed with #990.

[2021-04-23 03:47] #957 closed

[2021-04-23 03:48] bettinaheim commented on #964
Fixed with #990.

[2021-04-23 03:48] #964 closed

[2021-04-23 03:48] bettinaheim commented on #974
Fixed with #990.

[2021-04-23 03:48] #974 closed

[2021-04-23 20:50] samarsha opened #997 "QSharpDocsOutputPath should not imply QSharpDocsGeneration"
The current behavior of the SDK is that if QSharpDocsOutputPath is set, QSharpDocsGeneration is true by default unless explicitly set to false. This leads to bugs like microsoft/qsharp-runtime#651 when the docs path is set on the command line.

It seems surprising to me that collecting all of the docs from a solution in one folder, e.g. with `dotnet build MySolution.sln /p:QSharpDocsOutputPath=doc

[2021-04-23 20:53] cgranade commented on #997
This behavior was designed for consistency with the other `*Generation` MSBuild properties, such that I'd suggest changing QIR and perf data generation properties at the same time if we decide to change the defaults for `QSharpDocsGeneration`.

[2021-04-23 21:31] cgranade opened #998 "Allow marking Q# functions and operations as unstable / experimental"
**Is your feature request related to a problem? Please describe.**
It would be helpful to be able to mark Q# functions or operations as experimental and/or unstable, raising a warning unless a user explicitly opts-in to unstable features. In particular, this would help accelerate libraries development by letting us get feedback on draft and prototype versions of new features, and would allow us to

[2021-04-24 02:40] #897 closed

[2021-04-24 03:10] bettinaheim commented on #998
Sounds reasonable to me.

[2021-04-24 04:00] #937 closed

[2021-04-28 07:20] cgranade commented on #998
Great, thank you! If it's alright, then, I'll get an API proposal for the attribute going so that that isn't blocking an implementation. ♥

[2021-04-28 21:03] cgranade opened #1005 "Filter intelliSense completion for `@` character to only show attributes"
**Is your feature request related to a problem? Please describe.**
When typing the `@` character before a declaration, intelliSense currently suggests a number of unrelated completions. For example, typing `@T` suggests `T`, `Tail`, and many other callables that cannot be used as attributes.

![image](https://user-images.githubusercontent.com/31516/116472268-8649ac00-a82a-11eb-963b-0204adc34909.pn

[2021-04-28 21:06] filipw commented on #1005
this looks like a duplicate of https://github.com/microsoft/qsharp-compiler/issues/659

[2021-04-28 21:16] cgranade commented on #1005
Ah, so it is! Not sure why that didn't show up in searching, but will go on and close this one, then. Thanks!

[2021-04-28 21:16] #1005 closed

[2021-05-01 01:56] bettinaheim opened #1010 "Printing array gives unexpected output"
The following ir code
[code]
where
[code]
leads to unexpected output; commas are sometimes omitted. The code stems from the Q# code
[code]

[2021-05-01 05:42] bettinaheim opened #1009 "Delayed is resulting in runtime failure"
The following code fails at runtime if executed via QIR:
[code]

[2021-05-03 06:39] tcNickolas opened #1012 "Add list of namespaces with summaries to API docs index page"
It would be really neat for this page to offer a list of namespaces offered by Q# libraries with their short summaries, similar to how pages dedicated to individual namespaces offer a list of callables and types in this namespace. I sometimes hear that users look for library functionality by browsing the API docs, since finding something without knowing its exact wording is hard, and browsing the

[2021-05-03 18:33] cgranade opened #1013 "Allow setting default values for command-line arguments in standalone Q# projects"
**Is your feature request related to a problem? Please describe.**
Currently, when running Q# entry points with inputs at the command line, those inputs are exposed as command-line parameters. It would be nice if we could give default values, however, so that users don't need to provide all of them to explore and get started with applications.

**Describe the solution you'd like**
It would be help

[2021-05-04 16:54] lszomoru opened #1015 "Support Workspace Trust"
Hello :wave: I'm from the VS Code team.

Recently, we have been exploring a security feature we refer to as _Workspace Trust_. This feature is intended to centralize and unify a security conscious decision required by a variety of VS Code features. With workspace trust, the user will be able to declare whether or not they trust the folder that is opened in VS Code before these features are execute

[2021-05-04 19:19] kevinhartman commented on #637
I would love to work on this one!

As a first step, it looks like we need to add the Metadata and DebugInfo portions of Ubiquity LLVM to the LlvmBindings project, and port them to LLVMSharp.

I've just started doing that, but before I go too far, is there any technical reason why they weren't ported originally? Just curious if perhaps LLVMSharp is missing functionality we need to support this. Hop

[2021-05-04 20:35] swernli commented on #637
Hi @kevinhartman! We would definitely appreciate the help here. This case is going to be at least a little bit tricky, because of exactly what you were already worried about: Ubiquity LLVM makes use of additional functionality supported by their custom native wrapper that isn't exposed via the regular LLVM-C API and therefore isn't present in LLVMSharp. I did start trying to port the debug code, b

[2021-05-05 23:21] tcNickolas opened #1017 "Improve listing of deprecated operations in namespace summary"
**Is your feature request related to a problem? Please describe.**
The current way deprecated operations are shown in the namespace summary is not informative: `[!WARNING]` it shows that something isn't right with this operation but doesn't provide more information.

**Describe the solution you'd like**
It would make sense to show deprecated operations as "[Deprecated]" followed by the summary of

[2021-05-05 23:37] swernli opened #1018 "QIR: Use of hard-coded strings in if-statement can result in variable use outside of scope"
When compiling a conditional that uses hard-coded strings in an if-statement, the resulting QIR can include use of the variable outside of the scope it was defined in, specifically for the reference counting to free the string. If this small program is compiled:
[code]
then it will result in this QIR:
[code]
where `@0` is the hard-coded "true" and `@1` is the hard-coded "false". Note that the `con

[2021-05-06 02:14] bettinaheim commented on #1013
If I interpret correctly you mean in the source code? Why not go with the same setup as for all other languages, which would be to define them in the launch configuration/project settings instead?

[2021-05-06 02:16] bettinaheim commented on #1017
@cgranade Could you make sure this issue gets tracked/processed? I believe this would be applicable to docs gen.

[2021-05-06 02:17] bettinaheim commented on #986
@ricardo-espinoza This seems to be IDE related; could you make sure this issue gets tracked on your end?

[2021-05-06 02:18] bettinaheim commented on #977
@efratshabtai Who is the right person to ping here to make sure this is tracked somewhere?

[2021-05-06 02:20] efratshabtai commented on #977
That would be Ricardo

Thanks,
Efrat

Please note: my work hours may not match your work hours. Please do not feel obligated to respond outside of your work hours.
________________________________
From: bettinaheim ***@***.***>
Sent: Wednesday, May 5, 2021 19:18
To: microsoft/qsharp-compiler ***@***.***>
Cc: Efrat Shabtai ***@***.***>; Mention ***@***.***>
Subject: Re: [microsoft/qsharp-compiler]

[2021-05-06 02:44] bettinaheim commented on #1018
Ow wow, I know exactly what the issue is (the branching is formally only started after the condition evaluation...), but I would not have been able to come up with that case without running into it!

[2021-05-06 03:52] cgranade commented on #1013
I'm fine with either way, though I personally lean more towards attributes in source code, paralleling how it tends to work for a lot of common libraries (examples below). In particular, I like that that keeps the declaration of an input near its default value, but again just my 2¢.

[code]

[code]

[code]

[2021-05-06 05:30] #1018 closed

[2021-05-06 11:59] #1009 closed

[2021-05-06 11:59] #1010 closed

[2021-05-06 22:07] kuzminrobin opened #1020 "Language server failed"
I have **qsharp-runtime** repo open in VS Code.
I open **QuantumLibraries** repo in another instance of VS Code (with command `code .`) and VS Code shows a notification in the bottom-right corner:

When I dismiss that notification, it sends me to here, to open this bug.
100% repro (4 of 4). See screenshot below.

![image](https://user-images.githubusercontent.com/9372582/117371372-9e4dab00-ae7c-11

[2021-05-07 11:54] lszomoru opened #1021 "Support virtual workspaces"
👋 Hi there, Martin here, from the VS Code team.

Recently we've announced the [Remote Repository feature](https://code.visualstudio.com/updates/v1_56#_remote-repositories-remotehub) that lets you browse and edit files and folders directly on GitHub.

`Open Remote Repository...` opens VSCode on a folder or workspace located on a virtual file system. We call this a **virtual workspace**. We observed

[2021-05-10 05:31] ChairmanPandaCN opened #1023 "Error cannot run the hello world template"
**Describe the bug**

1.Cannot run the hello world application due to dotnet run error
![image](https://user-images.githubusercontent.com/32951648/117609700-5ff40c80-b158-11eb-9364-9eb560182fd4.png)

Dotnet reinstallation doesn't fix this problem.

**How To Reproduce**

1. dotnet new console -lang Q# -o runSayHello
2. cd runSayHello
3. dotnet run

**More Info**
Laptop Info :
![image](https://user-

[2021-05-10 05:35] ChairmanPandaCN commented on #1023
![image](https://user-images.githubusercontent.com/32951648/117610439-ab5aea80-b159-11eb-82fc-23f2db5f2e98.png)
QDK for vscode was installed manually instead of using the command,ext install quantum.quantum-devkit-vscode, as it doesn't work.

[2021-05-10 17:07] samarsha opened #1024 "Allow treating warnings as errors"
The compiler should allow treating Q# warnings as errors (either specific warning codes, or all warnings) with a project setting or command-line option.

[2021-05-10 17:16] samarsha opened #1025 "Refactor compiler diagnostic data structures"
* Diagnostics need additional information to display a diagnostic message, but each diagnostic is an enum item, which doesn't allow additional data. The information is stored as a string sequence which is error-prone and causes confusion since each string is referred to by its index instead of a name.
* Diagnostic enums are grouped by severity, but severity should be a separate configurable proper

[2021-05-13 17:24] tcNickolas opened #1027 "Unused variable warning CS0219 is not given if the variables are defined using tuple deconstruction"
**Describe the bug**

"Unused variable" warning CS0219 is not given if the unused variables are defined using tuple deconstruction.

**To Reproduce**

In the following code snippet

[code]

I get the warning for variable `a` but not for `b` and `c`.

**Expected behavior**

The warning shows for all unused variables regardless of how they are defined.

**System information**

- 0.16.2104138035

[2021-05-13 20:36] cgranade commented on #1017
Sounds good, will look into supporting this enhancement as I have time to do so.

[2021-05-14 00:42] bettinaheim commented on #1027
Given that this is a C# error it should actually not show up at all (in VS Code I think it might since it would depend on the C# extension there). The Q# compiler at this time does not yet generate warnings for unused variables at all.

[2021-05-14 00:48] bettinaheim commented on #1023
This is an odd one. Could you check if you can create a file in the output location that the command lists, i.e. from that folder, can you run `touch obj/qsharp/config/qsc.config`, and do you see the created file in that location afterwards? What shell/terminal/command prompt are you using?

[2021-05-14 02:51] bettinaheim commented on #977
@ricardo-espinoza Could you please add a milestone to this when ready?

[2021-05-14 02:53] bettinaheim commented on #1023
@ChairmanPandaCN Could it be that you have only .NET 5 installed, and not 3.1? If so, I believe that may cause the issue.
Here is the issue for supporting .NET 5: https://github.com/microsoft/qsharp-compiler/issues/977.
Could you confirm if [installing .NET 3.1](https://dotnet.microsoft.com/download/dotnet/3.1) fixes the issue?

[2021-05-14 08:59] bettinaheim opened #1028 "Q# - Preview feature: Compilation to QIR (example 1)"
# Project Overview

We are working on adding support for compiling Q# to QIR and executing it. QIR is a convention for how to represent quantum programs in LLVM. We aim to ultimately move the Q# compiler to be fully LLVM-based.

While the support and integration is not yet complete, we have set up an example for how to compile a Q# project to QIR and execute it on our full state simulator for earl

[2021-05-14 09:07] bettinaheim opened #1029 "Missing support for BigInt"
Any program that uses the BigInt data type can not yet be executed via QIR; support for BigInt is still missing in the QIR runtime.

[2021-05-14 09:07] bettinaheim commented on #638
done/obsolete

[2021-05-14 09:07] #638 closed

[2021-05-14 09:37] bettinaheim opened #1030 "Q# - Preview feature: Compilation to QIR (issue 1)"
# Project Overview

We are working on adding support for compiling Q# to QIR and executing it. QIR is a convention for how to represent quantum programs in LLVM. We aim to ultimately move the Q# compiler to be fully LLVM-based.

While the support and integration is not yet complete, we have set up an example for how to compile a Q# project to QIR and execute it on our full state simulator for earl

[2021-05-14 10:22] bettinaheim opened #1031 "Q# - Preview feature: Compilation to QIR (example 2)"
# Project Overview

We are working on adding support for compiling Q# to QIR and executing it. QIR is a convention for how to represent quantum programs in LLVM. We aim to ultimately move the Q# compiler to be fully LLVM-based.

While the support and integration is not yet complete, we have set up an example for how to compile a Q# project to QIR and execute it on our full state simulator for earl

[2021-05-14 10:23] bettinaheim opened #1032 "Q# - Preview feature: Compilation to QIR (example 3)"
# Project Overview

We are working on adding support for compiling Q# to QIR and executing it. QIR is a convention for how to represent quantum programs in LLVM. We aim to ultimately move the Q# compiler to be fully LLVM-based.

While the support and integration is not yet complete, we have set up an example for how to compile a Q# project to QIR and execute it on our full state simulator for earl

[2021-05-14 10:25] bettinaheim opened #1033 "Q# - Preview feature: Compilation to QIR (issue 2)"
# Project Overview

We are working on adding support for compiling Q# to QIR and executing it. QIR is a convention for how to represent quantum programs in LLVM. We aim to ultimately move the Q# compiler to be fully LLVM-based.

While the support and integration is not yet complete, we have set up an example for how to compile a Q# project to QIR and execute it on our full state simulator for earl

[2021-05-14 10:26] bettinaheim opened #1034 "Q# - Preview feature: Compilation to QIR (issue 3)"
# Project Overview

We are working on adding support for compiling Q# to QIR and executing it. QIR is a convention for how to represent quantum programs in LLVM. We aim to ultimately move the Q# compiler to be fully LLVM-based.

While the support and integration is not yet complete, we have set up an example for how to compile a Q# project to QIR and execute it on our full state simulator for earl

[2021-05-14 16:56] samarsha opened #1035 "Compiler API should avoid use of public fields"
In C#, it's best practice to use properties instead of fields when the field is public. Properties are more flexible than fields because they allow changing their internal implementation, and fields cannot implement any interface member, while properties can. Changing a field to a property is a breaking binary change, however.

Since we are concerned with binary compatibility as part of the rewrit

[2021-05-14 18:29] bettinaheim commented on #1035
Just capturing what we discussed:
Overall, it seems less invasive to replace public fields by the corresponding properties rather than deprecating public fields and introduce new properties. That will mean a breaking change for all compiler extensions (old extensions work with old compilers but new compiler versions will not be able to load extension until they change the referenced compiler versi

[2021-05-14 18:45] filipw commented on #1035
I think this is a very good idea and I don't think it would be too invasive to just change them into properties.

On a somewhat related note, I also think that constructors should be free of side effects - e.g. It is a bit awkward that compilation happens in the constructor of `CompilationLoader` (not to mention constructors cannot be async).

[2021-05-14 22:28] samarsha commented on #1035
Seems reasonable, do you want to make a separate issue for that, @filipw?

[2021-05-17 17:11] #1035 closed

[2021-05-20 02:02] bettinaheim commented on #1027
Transferring to runtime, since we should suppress all C# warnings.

[2021-05-20 19:21] swernli commented on #932
With Bettina's help I think we have this narrowed down to a cause! At the very least, we have evidence now on how to repro locally and it fixes it locally. PR to be linked soon; hopefully this works better in the e2e builds as well. If not, I'll keep this open to track that specific issue.

[2021-05-20 20:35] samarsha opened #1042 "Simplify QsExpressionKind cases"
QsExpressionKind contains a separate case for each operator, which makes the type very large and difficult to write exhaustive matches for. It would be simpler if all of the operator cases were replaced with just 3 cases:

[code]

Or, even more compactly, every operator could simply be converted to a `CallLikeExpression`, but this relies on each operator having a valid type. Q#'s type system needs

[2021-05-20 21:44] swernli commented on #932
The change in #1041 seems to have had the desired affect and e2e build times are getting reduced :).

[2021-05-20 21:44] #932 closed

[2021-05-21 12:33] ChairmanPandaCN commented on #1023
Switch from dotnet 5 to dotnet 3.1 did fix the problem....

[2021-05-21 12:33] #1023 closed

[2021-05-23 02:27] swernli opened #1043 "Q# empty string becomes null in QIR, causing segmentation faults in runtime"
An empty string in Q# today seems to generate into an explicit null in QIR rather than remaining an empty string. For example, the code:
[code]
becomes:
[code]
This code will cause a segmentation fault in the runtime when the null goes through string creation, as it eventually gets passed into the constructor for `std::string`.

It seems to me that since Q# works hard to not have null in the langu

[2021-05-27 14:31] msoeken opened #1046 "QIR generation fails for BigInt literals with more than 64 bit"
**Describe the bug**

QIR generation fails when the Q# program contains a `BigInt` literal that is too large to fit an `Int`.

**To Reproduce**

[code]

[code]

**Expected behavior**

Program should generate QIR.

**Error message**
[code]

**Additional context**

Program does not fail, if value fits an `Int`, e.g., `12L`.

This bug is related to #1029, however, that issue remarks that run-time sup

[2021-05-27 22:40] cgranade opened #1047 "intelliSense completion for documentation sections"
**Is your feature request related to a problem? Please describe.**
When writing documentation comments, sections like `/// # Summary` and `/// # Description` occur nearly universally, leading to a lot of additional typing required, and introducing more possibility for typos to break documentation.

**Describe the solution you'd like**
It would be helpful if intelliSense could suggest documentation

[2021-05-29 02:03] cgranade opened #1048 "Transient failure in `dotnet restore` can cause spurious errors to appear in Q# code"
**Describe the bug**

Sometimes when there is a transient failure in restoring NuGet packages, if a VS Code user also has the C# extension installed, spurious red squiggles will occur in Q# code, at seemingly random parts of Q# programs. Hovering over these errors will result in C# messages that trace back to missing type information from NuGet packages that failed to restore, as shown in the scre

[2021-05-31 13:29] yjt98765 opened #1049 "Characteristic section is missing when using QsFmt"
**Describe the bug**

As the [README.md](https://github.com/microsoft/qsharp-compiler/tree/main/src/QsFmt#limitations) says, some types of syntax are not yet supported by the formatter. The following is an example.

[TestAliasCounts.qs](https://github.com/microsoft/qsharp-compiler/blob/main/src/QsCompiler/Tests.Compiler/TestCases/QirTests/TestAliasCounts.qs#L9) contains an operation:
[code]
The fo

[2021-06-01 09:31] QuXing9 opened #1051 "Some questions about Q# compilation"
## Description

Hello! I am very interested in the Q# quantum language, It's really an amazing work. And I am a beginner in the Q#, there are three questions that confuse me a lot. Can you help me answer them? Thanks very much!

- How can I execute a QIR file?

  I noticed that QIR can be emitted by adding the project property `<QirGeneration>true</QirGeneration>`. After building the project succe

[2021-06-01 10:47] dime10 opened #1052 "Add Q# with C# host program template"
**Is your feature request related to a problem? Please describe.**
Currently need to generate the Q# library and host program separately, from the command line, and then add the library to the host program. This is less convenient than selecting a single template from the command palette in VS Code.

**Describe the solution you'd like**
Adding a new template to the VS Code extension (and/or others

[2021-06-02 05:18] giobb opened #1053 "Looping n-qubits = loop X n-qubit = InsufficientResource: Is this by design?"
The routine below produces **InsufficientResource** error on the IonQ 11-qubit QPU. I found out that in the **translatedInputData.json** 24 qubits are allocated instead of just 3 at a time therefore exhausting all qubits (3-iteration obviously works) . What is the purpose of _**using...... ResetAll**_ here then? Is there a correct way of achieving this?

![Loop code](https://user-images.githubuser

[2021-06-02 06:02] swernli commented on #1053
This is actually expected behavior for the IonQ system. The IonQ hardware does not allow for qubit reuse, so once a qubit is measured it cannot be used again later in execution. As a result, the code sample you provided will need to allocate 3 fresh qubits through each iteration of the loop, adding up to the total of 24 qubits as you observed.

[2021-06-02 06:02] #1053 closed

[2021-06-03 05:10] giobb commented on #1053
Thanks @swernli  for clarifying. You just saved me hours of investigation.
![Honeywells output](https://user-images.githubusercontent.com/15137038/120590248-16ad7a80-c3ef-11eb-9eb2-4175ada4a0d4.png)

I notice that Honeywell doesn't have this issue. However, I found out something odd. The result for the job below is always **all zero's** for Honewell's  _**honeywell.hqs-lt-1.0-apival**_ but they co

[2021-06-03 16:00] swernli commented on #1053
Happy to help, @giobb! For the Honeywell apival target, this is similarly expected and a common point of confusion. Currently, Honeywell does not offer a simulator target, and the apival targets they expose only perform basic validation of the input program without any simulation. As a result, they will return all zeros for every qubit on a successful validation and a failure message if any incomp

[2021-06-03 18:39] giobb commented on #1053
Thanks @swernli. Is the apival a simulator? So essentially what HW just achieved for me is validate my input and not even attempt to run what's inside the iteration. How do I submit such logic then for HW?

[2021-06-03 19:09] swernli commented on #1053
Honeywell exposes two targets, honeywell.hqs-lt-1.0 and honeywell.hqs-lt-1.0-apival. The "-apival" suffix identifies that one as purely an API Validator, so it is neither hardware nor a simulator (basically the equivalent of a spell checker). If you want to actually submit for execution on hardware, use the honeywell.hqs-lt-1.0 target instead.

[2021-06-04 13:26] Avhijit-codeboy commented on #1034
This seems like so much fun! Will give this a try for sure!

[2021-06-04 16:48] giobb commented on #1053
Hi swernli, any idea why the block above actually took 15hrs to finish? I checked the spec again and it seems like I'm just hitting against a 6-Qbit machine.  I'm still trying to reach HW support. I don't want any surprise later in my bill
![Honeywell 15-hr run](https://user-images.githubusercontent.com/15137038/120836061-00e8a400-c51a-11eb-8129-6b88ffc523cc.jpg)

[2021-06-04 17:12] swernli commented on #1053
@giobb, that is definitely surprising and shouldn't have been that long. It's possible this is a bug in the reporting for queued time vs execution time. Could you try querying the JSON for the job using az CLI, ie: `az quantum job show -j <JOB_ID>` ? In particular, I'm interested in the fields `creationTime`, `beginExecutionTime`, and `endExecutionTime`.

[2021-06-04 17:56] giobb commented on #1053
@swernli times are so close so it must be a bug. The 500 though in the input scares me. What's that?  :)

![HW QC Job details](https://user-images.githubusercontent.com/15137038/120843619-2e861b00-c523-11eb-95df-8cf540262ab6.png)

[2021-06-04 18:25] bettinaheim commented on #1034
@Avhijit-codeboy Awesome! Let me know how it goes, and if you have any questions or issues with the setup; happy to help. :)

[2021-06-04 18:31] Avhijit-codeboy commented on #1034
Thanks @bettinaheim!

[2021-06-04 18:59] bettinaheim commented on #1051
@QuXing9 Thank you for the great questions! I'll do my best to answer:

- How can I execute a QIR file?

We are currently working on setting up convenient tooling to do that, and also fully integrating it into the QDK such that simply building a project will generate the bitcode, link it with the runtime libraries to build the executable and execute it. I am happy to give more updates as we go. :)

[2021-06-04 19:01] bettinaheim commented on #1052
@riccardo: We have a feature request for the extensions - could you please make sure this gets triaged?

[2021-06-04 19:46] swernli commented on #1053
@giobb This job ran against the API Validator, not hardware (`"target": "honeywell.hqs-lt-1.0-apival"`) which is why the turn around time was so fast. You'll need to use the job ID for the one that was submitted to `honeywell.hqs-lt-1.0` for us to double check hardware execution times.

The 500 in the input params under "count" is how Honeywell receives the number of shots, and 500 is the Azure Qu

[2021-06-04 19:50] giobb commented on #1053
Oops my bad.
![HW QC Job details real](https://user-images.githubusercontent.com/15137038/120855468-5da48880-c533-11eb-984e-f06c86312f03.png)

[2021-06-04 20:03] swernli commented on #1053
Fascinating... it does indeed appear that the job was in the queue for about 4.5 hours, and then "executing" for over 15 hours. I highly doubt that 500 shots of the algorithm you've shown above would take 15 hours to execute, so this definitely something that is worth following up with Honeywell about. I can start that conversation on my end, but it would good for you to send an email to Honeywell

[2021-06-04 20:04] swernli commented on #1053
Also, it would be worth removing or trimming the screenshots you provided, as the "inputDataUri" and "outputDataUri" fields include addresses with embedded access credentials. Apologies for not warning about that sooner!

[2021-06-04 20:05] giobb commented on #1053
Thanks again! Will reach out accordingly,

[2021-06-05 07:51] QuXing9 commented on #1051
@bettinaheim Thank you for your detailed answers! I will have a try as soon as possible!

[2021-06-09 02:41] #607 closed

[2021-06-10 06:48] anpaz opened #1055 "build\build.ps1 fails on clean environment"
**Describe the bug**

I'm trying to run build.ps1 and found a couple of blockers:
1. It requires to have Chocolatey installed.
  * Even worse, it then requires to run the build script as an admin to install llvm
2. It failed to compile `src\QsFmt\Parser\Parser.csproj`, apparently this requires java

**To Reproduce**

Steps to reproduce the behavior:
1. Clone the repo from `https://github.com/micro

[2021-06-11 00:59] tcNickolas opened #1056 "Using Controlled variant of a function throws "The compiler threw an exception""
**Describe the bug**

Using Controlled variant of a function crashes language server and throws compilation errors "QS7022 The compiler threw an exception." and "QS7106 Unable to serialize the built compilation."

**To Reproduce**

[code]

**Expected behavior**

I expect the language server not to crash, and the compiler to offer a more specific compilation error, something along the lines "Contro

[2021-06-11 02:00] #1049 closed

[2021-06-14 16:35] tcNickolas opened #1058 "Namespace summary pages treat vertical bar in ket notation as new table column"
**Describe the bug**

Namespace summary pages treat vertical bar in ket notation as a new table column, making for weird formatting.
The ket notation is done using Unicode (see example in [Reset](https://github.com/microsoft/qsharp-runtime/blob/main/src/Simulation/TargetDefinitions/Intrinsic/Reset.qs)).

**To Reproduce**

See https://docs.microsoft.com/en-us/qsharp/api/qsharp/microsoft.quantum.int

[2021-06-16 08:26] QuXing9 commented on #1051
Hi! @bettinaheim
Thanks for your detailed explanation, I successfully executed the QIR code on the Windows system using the Clang compiler. At the same time, I met two new problems, I want to ask you for advice.

- How to execute a `Q#` code that has multiple entry points?

  I noticed that there are some `Q#` programs containing more than one `@EntryPoint()` attributes in `qsharp`'s [regression t

[2021-06-19 02:27] kalzoo opened #1063 "QIR - Cannot compile Development example in Ubuntu (in Docker) or OSX"
**Describe the bug**

Looking to compile the example programs in this repo (under `/examples/QIR`) into QIR. Have been unable to do so either in docker (using a few MS-provided images) or on OSX. Is this intended for use on Windows only?

Is there a Dockerfile setup which would be expected to work out-of-the-box for those not familiar with the .NET ecosystem?

###  Docker w/IQ# image

Dockerfile:

[2021-06-20 01:18] kalzoo commented on #1063
FWIW, it runs right out-of-the-box in windows using vagrant. For those interested:

[code]

Note that `dotnet build` failed on the `Development` example due to missing clang++ dependency, but generated the needed `.ll` file. `Emission` build worked without issue.

[2021-06-25 22:21] guenp opened #1067 "Code actions not working in latest version of VS"
**Describe the bug**

"Code actions" do not work in current VS extension on latest version of Visual studio (
**To Reproduce**

Steps to reproduce the behavior:
1. Install the latest version of Visual Studio (16.10.2)
2. Download and install the QDK extension
3. Try editing a file and introduce typo's and deprecated syntax that would trigger a code action

**Expected behavior**

I would expect gre

[2021-06-29 01:12] bettinaheim commented on #1063
@kalzoo While it is expected that the docker images fail (I don't believe they would contain the necessary llvm libs), the Development project was meant to build on Mac and Linux as well. Looking at the corresponding error, it looks like it is not finding these as it should (libLLVM). Could you please check if in the obj/qsharp/config/qsc.rsp file, the --llvm-libs argument is specified, and whethe

[2021-06-29 01:14] bettinaheim commented on #1058
@cgranade, could you make sure this one is properly processed?

[2021-06-29 03:49] cesarzc opened #1069 "Compilation fails when specifying microsoft.simulator as ExecutionTarget and using some operations provided by libraries"
When a Q# application that uses some operations like `ApplyToEach`, `ForEach` or `MResetZ` provided by Q# libraries, compilation fails.

**To Reproduce**

Steps to reproduce the behavior:
1. Create a Q# application that has the following project file:
[code]
2. Implement a program that uses some library functions like ApplyToEach`, `ForEach` or `MResetZ`.
[code]
3. Compile the program (`dotnet bui

[2021-07-03 18:35] jasonNXP commented on #549
Any updates on this yeoman-environment update? I've managed to get my extension to build without errors, but now I'm struggling to get the extension to run in a debug environment. When attempting to load the extension with yeoman-environment included, I receive an error while activating, claiming it cannot find my extension's package.json.

[2021-07-06 03:40] bettinaheim commented on #1043
Digging a bit about whether we can avoid passing a null pointer for empty strings, the issue that I haven't found my way around yet is that LLVM.ConstStringInContext returns a zero-initializer when the string to construct is empty.
Possibly related: https://reviews.llvm.org/D24904

[2021-07-06 05:44] bettinaheim commented on #1043
Alright, here is the PR: https://github.com/microsoft/qsharp-compiler/pull/1073
It's not pretty but it's the best I can come up with to work around this.

[2021-07-07 18:17] #1028 closed

[2021-07-07 18:17] #1030 closed

[2021-07-07 18:17] #1031 closed

[2021-07-07 18:18] #1032 closed

[2021-07-07 18:18] #1033 closed

[2021-07-08 00:11] #1043 closed

[2021-07-08 00:59] ScottCarda-MS commented on #1069
The fix for this is merged into cesarzc/merge-feature-azure-quantum-simulator-to-main branch.

[2021-07-08 07:47] bettinaheim commented on #1063
I can reproduce it after launching it in a clean linux container without llvm installed (clang installed via apt install). The issue is that when the QirGeneration rewrite step is loaded via reflection (which is usually only the case if the rewrite step is loaded from within by a compiler version that is newer than the one against which the rewrite step has been built - but also is the case for th

[2021-07-08 14:34] cgranade commented on #1063
@bettinaheim: I've had good luck using [custom DLL resolvers](https://docs.microsoft.com/dotnet/standard/native-interop/cross-platform) in similar scenarios before, as that allows for intercepting native library loads and redirecting them to a path of your choosing.

[2021-07-08 17:04] cgranade commented on #1063
Ah, got it. If the native library is loaded in an assembly outside our control, that is a much harder problem to solve, agreed. The native DLL resolver is assembly-local such that setting a resolver won't work for native libraries loaded by LlvmSharp... let me think on that, then...

[2021-07-08 17:15] bettinaheim commented on #1063
What I know works is if you load it a separate context (which is done by default, unless the rewrite step was compiled against a different compiler version). In that case, preloading the llvm libs via context.LoadUnmanagedDllFromPath(pathtollvmlibs) works perfectly fine. I don't seem to have the means to do something similar for the current app context though...

[2021-07-08 21:19] ScottCarda-MS opened #1074 "Specification Document for Formatter"
The Q# Formatter should have a design specification document, written in Markdown like a README, that describes the functionality of the tool as we want it to be and details our goals for the tool. This document will be used for planning out the development of the formatter and creation of GitHub Issues and general tasks.

[2021-07-08 22:06] bettinaheim commented on #1069
This is now on main. @ScottCarda-MS I am keeping this open until we have the additional test for this on the runtime repo.

[2021-07-08 22:32] cgranade opened #1075 "Q# extension for VS Code fails in virtual workspaces"
**Describe the bug**

When using a virtual workspace in VS Code (e.g.: via the remote repository link at https://open.vscode.dev/Microsoft/quantum), the Quantum Development Kit extension attempts to start the language server, but fails with ENOENT.

To solve this, the QDK extension should either support full functionality in virtual workspaces (likely infeasible), reduced functionality, or disable

[2021-07-10 02:49] cesarzc commented on #1069
@bettinaheim, @ScottCarda-MS  Attempted to repro this bug using version `0.18.2107151063-beta` which contains the fix, and can't repro this issue  anymore so it seems like its fixed :)

[2021-07-13 08:55] WormerKing commented on #948
`dotnet --info` output:
.NET SDK (reflects global.json if available):
  Version: 5.0.301
  Commit: cc8c0abb32

Runtime Environment:
  OS Name: ubuntu
  OS Version: 20.04
  OS Platform: Linux
  RID: ubuntu.20.04-x64
  Base Path: /usr/share/dotnet/sdk/5.0.301/

Host (useful for support):
   Version: 5.0.7
   Commit: 556582d964

.NET SDKs installed:
   5.0.301 [/usr/share/dotnet/sdk]

.NET runtimes i

[2021-07-14 17:22] ScottCarda-MS commented on #1069
Merged in a test for this scenario with this PR: #1071. This issue should be wrapped up now.

[2021-07-14 17:22] #1069 closed

[2021-07-16 16:26] samarsha commented on #861
Fixed by #1050 and #1065.

[2021-07-16 16:26] #861 closed

[2021-07-16 17:32] samarsha commented on #867
Hi @yjt98765, you mentioned you were interested in working on this, so I can explain my idea some more.

The type of bug that this is trying to prevent is when there's a silent error in the translation from the parse tree to the syntax tree - so the syntax tree appears to have been constructed successfully, but data may have accidentally been lost or rearranged. For example, maybe the open and clo

[2021-07-18 01:23] yjt98765 commented on #867
Hi @samarsha, thank you for the hint. I have initiated a pull request. I think it generally meets the target, but maybe some details need to be further discussed, such as the line-ending matching. I can continue improving it based on your feedback.

[2021-07-21 00:58] bettinaheim opened #1086 "Bool to string causes crash when conditional expression evaluates to true"
Works:
[code]
Doesn't work (crashes):
[code]
Crash:
[code]

To reproduce:
Create a new folder, create a Test.csproj with the following content:
[code]
and a Program.qs file with the following content:
[code]
From within that folder, run `dotnet build` to get the .ll in qir/Test.ll that will cause the crash if using the current QIR runtime version:
[code]

[2021-07-21 01:14] ricardo-espinoza commented on #1067
Code Actions are broken in Visual Studio 16.10 and above because of a more strict implementation of the Language Server Protocol.

Per the LSP specification, `textNotification/didChange` events include a document version number that changes every time the document is updated in the editor. When applying a CodeAction, it is expected that the field `documentChanges/textDocument/version` in the works

[2021-07-21 01:23] bettinaheim opened #1087 "Type checking diagnostic is in the wrong location"
The diagnostic that should be on `carry` in the `Message` line below is instead show somewhere between `AddI` and `x`:

[code]

[2021-07-21 04:38] bettinaheim opened #1089 "Reference and/or alias counting bug"
The following example currently fails with either a "Attempting to resurrect a previously released object!" upon evaluation of _PrepareClassification(prep, model, _), or with a "Alias count cannot be negative" somewhere after a call to EstimateClassificationProbability but before finishing EstimateClassificationProbabilities:
https://github.com/microsoft/Quantum/tree/anpaz/training/samples/machine

[2021-07-21 18:26] ScottCarda-MS commented on #863
@samarsha should this issue be broken into separate issues for each deprecated syntax to be updated? For example updating the 'using' syntax can be separate from updating the array syntax.

[2021-07-21 18:32] ScottCarda-MS opened #1090 "Formatter Updates Deprecated 'using' and 'borrowing' Syntax"
The formatter should have a rule for updating the `using` and `borrowing` syntax to the supported `use` and `borrow` syntax.

For example:
[code]
should be updated to
[code]

[2021-07-21 18:32] ScottCarda-MS commented on #1090
Related to #863

[2021-07-21 23:16] ricardo-espinoza commented on #1067
Fixed in #1085 , targeting the next QDK version.

[2021-07-21 23:16] #1067 closed

[2021-07-23 16:18] samarsha commented on #863
Sure, I updated this issue to be specifically about deprecated array syntax.

[2021-07-26 12:32] troelsfr opened #1094 "Improve error message for implicitly ignored result"
**Describe the improvement**

The Q# compiler gives slightly unhelpful error messages when calling non-`Unit` without explicitly ignoring the result. Whenever a call is made without explicitly ignoring the result, the compiler should suggest to either use `Ignore( ... )` or change the return type of the function to `Unit`. At the moment, it only does the latter.

**To Reproduce**

To reproduce, co

[2021-07-26 13:13] bettinaheim commented on #1094
@samarsha This used to have a more descriptive error message ""Expecting expression of type Unit. Only expressions of type Unit can be used as expression statements." Could you please take a look and give a dedicated message again?

[2021-07-26 13:29] bettinaheim opened #1095 "Improve error message for how to give type annotations"
For an operation
[code]
calling it in another operation
[code]
results in an error "The type annotation 'a is ambiguous. More type annotations or usage context may be needed."

This error message is only actionable if it is clear to people where to put the type annotation and what the syntax it. I suggest making it more actionable. The error message used to have an example: "Please provide explici

[2021-07-26 13:49] bettinaheim opened #1096 "Generate less redundant string declarations"
The QIR generation currently adds a global constant for each used string, and in particular also the constants for empty string, command and parentheses repeatedly. It would be nicer to avoid this redundancy.

[2021-07-26 14:53] bettinaheim opened #1097 "Consider using phi nodes instead of pointers to represent mutable variables"
Right now, we use a pointer to store and load the current value for variables in QIR when they are declared as mutable in Q#. I believe we should be able to make this proper SSA by using phi nodes instead. We should properly consider that.

[2021-07-28 17:53] ScottCarda-MS opened #1101 "Formatter Updates Deprecated Unit Type Syntax"
The formatter should have a rule for updating the `()` syntax for describing the Unit type to the supported `Unit` syntax. This should not affect the use of the `()` for the Unit value literal, which is still valid.

For example:
[code]
should be updated to
[code]

[2021-07-28 22:00] samarsha commented on #1095
The problem is that different situations need different actions... sometimes adding type arguments to an identifier is the best option, but other times it is not ideal (when simply using a variable in context could cause the type to be inferred), or not possible. For example, when `[]` is ambiguous it needs to be replaced with `EmptyArray` before a type can be annotated. Having the error message t

[2021-07-29 00:02] #867 closed

[2021-08-03 05:06] zjyyyyy123 commented on #844
hello，Can you tell me why %0 will not be released？thanks

[2021-08-03 11:24] chemix-lunacy opened #1107 "LLVM QIR Target Example"
Hey.

This is just a quick question, so sorry if it's the wrong place! (I'll add the tag once created if I can)

I've been tinkering with getting LLVM to process QIR but it's been slow going. Do you have an example LLVM target (either whole or in part) that I could use as a reference? I had a look around but couldn't find anything readily to hand, though it might be lurking somewhere. My main issu

[2021-08-03 18:54] tcNickolas opened #1108 "Allocating qubits in repeat-until loop body changes visibility of other variables"
**Describe the bug**

I can run the following code

[code]
but I cannot run the same code if the qubit is allocated in the repeat loop body because variable `res` becomes undefined:
[code]
I suspect qubit allocation creates an implicit scope for all variables until the end of the block, which should not be the case for repeat-until loop.

**Expected behavior**

I expect to be able to allocate qubi

[2021-08-03 20:09] #1087 closed

[2021-08-03 23:51] bettinaheim commented on #1108
@samarsha This looks like a bug with the implicit qubit scopes. Could you please take a look?

[2021-08-04 00:06] samarsha commented on #1108
I don't think it's a bug with the implicit scope per se, but it is a bad interaction between the implicit scope and the scope rules for repeat-until.

The example indeed desugars to:

[code]

According to the scoping rules for repeat-until, the `until` condition uses the top-level scope of the `repeat` block, but `res` is not visible there. That's by design. You see the same behavior with:

[code]

[2021-08-04 00:24] samarsha commented on #1108
Another way to think about this from a design perspective is that we have two features that are not orthogonal, which led to an unexpected interaction between them.

Feature 1: Bindings are only visible within the scope `{ ... }` in which they are declared.

Feature 2: repeat-until can execute a block until a condition is true. However, for convenience, we wanted to be able to access bindings from

[2021-08-04 00:41] tcNickolas commented on #1108
I understand where this behavior comes from, and I can come up with a workaround.

I stumbled upon this example thinking of it from the point of view of a user who is not familiar with the compiler internals and the history of `using` statement (i.e., writing new code rather than migrating old code to the new syntax). From that point of view the behavior of repeat-until statement is nice and user-

[2021-08-04 00:55] samarsha commented on #1108
To clarify, requiring a mutable is not the only alternative. Just as a rough example made up on the fly:

[code]

There are probably other designs. So for option 2 I'm just suggesting exploring the alternative design space, not necessarily requiring a mutable variable.

[2021-08-04 01:03] samarsha commented on #1108
Another design idea that uses lambdas, and removes the need for a new keyword, is to make the type of the `until` condition `'a -> Bool` for some `'a` yielded by the `repeat` block:

[code]

[2021-08-04 15:59] chemix-lunacy commented on #1107
Gonna close this as not to clutter up the issues list and might not be the place to ask - also started making headway so I'll keep tinkering.

[2021-08-04 16:57] bettinaheim commented on #1107
@chemix-lunacy This is definitively a good place to ask - I just hadn't gotten to respond yesterday. :)
Could you give me a bit more context regarding what exactly you are looking into doing?
We would love to help engage with it, and realize that we haven't got all the documentation and examples ready for that just yet.

In the meantime:
For execution on a simulator, we just use the clang toolchai

[2021-08-04 18:32] chemix-lunacy commented on #1107
@bettinaheim Ah, was a bit pre-emptive on the close!

Thanks for the links, especially the last two - missed those or they got added since I last checked and might come in very handy. What I'm trying to do likely falls under your comment about LLVM code generators: taking in the QIR and spitting out HW-specific instructions using LLVM itself. I was wondering if you had (or planned to have) some ex

[2021-08-09 14:32] QuXing9 opened #1111 "How to run the QsCompiler regression testcases?"
Hello, I found that the QSharp compiler provides some regression test cases [here](https://github.com/microsoft/qsharp-compiler/tree/main/src/QsCompiler/Tests.Compiler). It seems an F# project. I opened the [F# project](https://github.com/microsoft/qsharp-compiler/blob/main/src/QsCompiler/Tests.Compiler/Tests.Compiler.fsproj) using the vs2019. When I run a qsharp file for example [Arithmetic_input

[2021-08-09 18:18] swernli opened #1112 "Classical condition lifting breaks with specific `not` condition"
When experimenting with conditional statements and the conditional lifting, I found that certain equivalent statements will have one version work while the other does not. For example, setting `<ExecutionTarget>honeywell.test</ExecutionTarget>` to force classically controlled rewrite step to execute, the following code does not compile:
[code]
But this equivalent code DOES compile:
[code]
The fail

[2021-08-09 18:23] k4rtik opened #1119 "Deprecated functions are not rendered properly in the summary column"
Name | Summary
-- | --
Zip | > [!WARNING]
Zip3 | > [!WARNING]
Zip4 | > [!WARNING]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 74478f59-fbc3-32b1-fbcd-52e360d6b101
* Version Independent ID: bd39a2a8-38e3-4824-35ac-bee76bb4498a
* Content: [Microsoft.Quantum.Arrays namespace - Q# reference - Microsoft Quantum](https://

[2021-08-09 18:24] samarsha opened #1113 "Lambda expressions"
This is a tracking issue for the implementation of lambda expressions. which uses branch [feature/lambda](https://github.com/microsoft/qsharp-compiler/tree/feature/lambda). A draft QEP is in progress but it hasn't been published yet.

- [x] #1109
- [x] #1198
- [x] #1215
- [x] #1220
- [x] #1231
- [x] #1261
- [x] #1332
- [x] #1302
- [x] #1307
- [x] #1316
- [x] #1317
- [x] #1358

[2021-08-09 18:43] ScottCarda-MS commented on #1112
Is this at all related to #768?

[2021-08-09 18:54] swernli commented on #1112
I could be related, the but the symptoms are different. In #768, the generated C# will compile and run but the behavior at runtime will be incorrect. For this one, the compiler produces invalid C# code such that compilation fails.

[2021-08-10 06:02] bettinaheim commented on #768
@ScottCarda-MS Could you please prioritize looking into this bug; since it leads to incorrect behavior, we should fix it swiftly.

[2021-08-10 06:05] bettinaheim commented on #1112
@ScottCarda-MS Could you please look into this bug?

[2021-08-10 06:17] bettinaheim commented on #1111
@QuXing9 Did you try to run the test either from within the Test Explorer in Visual Studio, or from the command prompt via dotnet test? This sounds like it might have been an issue with the IntelliSense information in Visual Studio rather than anything else - the namespaces are defined in the referenced projects. Did you try to build the Tests.Compiler.fsproj? In Visual Studio, in the Error List w

[2021-08-10 22:15] alan-geller commented on #1108
I think @tcNickolas's point is that using a mutable is the only solution without a language change. Adding a `yield` statement to Q# has its own issues.

While it might make sense to add `yield`, it seems a bigger change than option #1. Might it make sense to change the behavior of `use` to address this issue and then propose adding a `yield` statement (or some other solution) to Q#? I think the c

[2021-08-11 00:53] bettinaheim commented on #768
@ScottCarda-MS The chases to double check/fix are the following:
1) the case given in the description above is purely classical and should *not* be lifted
2) the following test case that is quantum, should behave correctly:

[code]

[2021-08-11 16:13] samarsha commented on #1108
The `yield` statement was mostly a workaround for not being expression-based... If Q# was expression based, then the value passed to the condition could simply be the value of the `repeat` block (i.e. the last expression evaluated in the block):

[code]

[2021-08-11 20:19] ScottCarda-MS opened #1115 "Nested Conditional Blocks are Lifted when they Shouldn't Be"
**Describe the bug**

When a conditional includes nested conditionals that are invalid for lifting, the outer conditional may incorrectly be lifted into a generated callable by the ConditionallyControlled rewrite step. See discussion with concrete examples in comments here #767 (comment).

**To Reproduce**

Remove the Skip condition from [this test](https://github.com/microsoft/qsharp-compiler/blo

[2021-08-12 20:25] ScottCarda-MS commented on #1112
Looks like the issue is that `KnownSymbols` is not getting properly propagated during the conditional restructuring phase of the
Classical Control rewrite step. I'll keep looking into it.

[2021-08-12 21:11] ScottCarda-MS commented on #1112
Okay I believe I've found the issue. When we process the NOT conditions for restructuring, a new blank `else` block is made with not statements in it. This new block is also created without any known symbols. When comparing this to empty `else` blocks from source code, I see that the correct behavior is for the new `else` block to have the same known symbols as the other blocks in the conditional.

[2021-08-13 23:32] ScottCarda-MS commented on #1112
This should be fixed now with #1117.

[2021-08-13 23:32] #1112 closed

[2021-08-16 17:11] samarsha commented on #1108
Also, to clarify some more... I predict that future language features (in particular, match expressions) will force Q# to choose one of (a) becoming expression-based (b) adding a way to get a value out of a statement block, like a `yield` statement. Because the alternative is needing to add two versions of match (expression and statement), which is undesirable.

So my thinking here is really just

[2021-08-16 21:07] tcNickolas commented on #1119
This looks like a duplicate of https://github.com/microsoft/qsharp-compiler/issues/1017.

[2021-08-16 21:08] cgranade commented on #1119
Agreed, let me close this one, then, and mark as a duplicate.

[2021-08-16 21:08] #1119 closed

[2021-08-27 23:15] #768 closed

[2021-08-30 16:55] ondrasek commented on #498
I have also run into the same issue. Installed latest VSCode and extension from the marketplace. This is what I get when I try to create new Q# project (debug log):

[Extension Host] [qsharp-lsp] Downloading https://msquantumpublic.blob.core.windows.net/qsharp-compiler/LanguageServer-osx-x64-0.18.2107153439.zip to /var/folders/0l/pddrzmgs41s8fx545ykv4hw40000gn/T/tmp-13121JAWNy89sMPrA.zip.
console.

[2021-08-30 17:01] ondrasek opened #1127 "Could not download Q# Language Server"
**Describe the bug**

When I try to create new Q# Project using the command palette, it always fails after a while with "Could not download Q# Language Server."

**To Reproduce**

Steps to reproduce the behavior:
1. Open VSCode (latest version, downloaded fresh from the web).
2. Install the Q# extension from the Marketplace (Extension ID: quantum.quantum-devkit-vscode)
3. Use command palette to ru

[2021-08-30 17:01] ondrasek commented on #1127
Seems to be the same as #498 .

[2021-08-30 17:43] cgranade commented on #1127
Thanks for reporting this, @ondrasek! It looks like the SHA sums aren't matching on the downloaded file and the file that is expected, but I get the same SHA256 sum as you when I download the file manually, such that I doubt it's a connection issue or similar. I get similar mismatches for the Linux and Win10 zip files as well; @ricardo-espinoza, do you have any thoughts on this one?

[2021-08-30 17:48] ondrasek commented on #1127
Well, this is a fully automated process... I am _not_ downloading the file manually (it is downloaded by the VSCode extension). May be a CDN issue? Some CNDs servers/replicas having wrong file?

[2021-08-30 17:56] ondrasek commented on #1127
I just tried to download the file manually (curl) and using `shasum -b -a 256` renders the same hash as reported in the log, i.e. not the expected one. Just out of curiosity, I tried different SHA algorithms, to see if someone by any chance used a wrong SHA algo and truncated the hash, but that does not seem to be the problem.

[2021-08-30 17:58] ondrasek commented on #1127
[code]

[2021-08-30 18:13] ricardo-espinoza commented on #1127
Thanks a lot for reporting this @ondrasek. We have now a good idea of what happened with the language server files. We're working on getting the ones with the right hash restored soon.

[2021-08-30 22:12] ScottCarda-MS commented on #1090
Completed with #1099.

[2021-08-30 22:12] #1090 closed

[2021-08-31 03:54] YourLocalDundee commented on #1127
i get the same issue as well and cant wait to get developing with Q# :)

[2021-09-01 01:28] bettinaheim commented on #1127
@ricardo-espinoza @cgranade I believe this should be resolved with the release in progress. Assigning to you - please close this once the issue is resolved.

[2021-09-01 01:32] bettinaheim commented on #1115
@ScottCarda-MS Based on the description, I thought this should be resolved with https://github.com/microsoft/qsharp-compiler/pull/1114 - is that not correct? The test case in the description is still commented out. If the issue is resolved with #1114, please enable the test case and close this issue.

[2021-09-01 03:01] bettinaheim opened #1128 "Potential memory leak in generated QIR"
The following code causes a potential memory leak:

[code]

[2021-09-01 03:04] bettinaheim commented on #1128
Possibly related: https://github.com/microsoft/qsharp-runtime/issues/757

[2021-09-01 03:17] bettinaheim commented on #1128
More infos:
[code]

[2021-09-01 12:07] ondrasek commented on #1127
Seems to work with the latest release. Requires VSCode extension to be updated. Can you elaborate on the solution though? Are we looking at a simple error by omission or a supply chain attack? ;-)

[2021-09-01 12:07] #1127 closed

[2021-09-01 15:39] bettinaheim commented on #1128
Fixed the type issue for udts consisting of a single Unit-valued item, and the issue with default values for string.
Looking into the memory leak now, which seems occur when invoking a callable value (opposed to directly the declaration) of a type parameterized callable that takes a tuple as argument.

This works fine:
[code]
This doesn't:
[code]

[2021-09-01 16:59] ScottCarda-MS commented on #1115
This is not resolved with #1114. This is the more fundamental issue with lifting that has yet to be addressed. #1114 just prevented this issue from surfacing to the level of mattering for hardware jobs.

[2021-09-01 21:41] ricardo-espinoza commented on #1127
@ondrasek , @YourLocalDundee , we had an issue with the language server files produced for version 0.18.2107.153439 because they were accidentally modified last week causing the hash validation error that was affecting you. While that particular version still has the described issue, this is no longer a problem with new versions.

For those users affected by this, we recommend upgrading to 0.18.21

[2021-09-02 00:04] YourLocalDundee commented on #1127
Upgrading worked for me and i have been able to get 2 of the test projects completed already. Thanks!

[2021-09-02 01:13] ricardo-espinoza opened #1130 "Deprecation warning during command line installation of VS Code Q# extension"
When the Visual Studio Code extension is installed using the command line, the following error is shown:

[code]

This error does not prevent the installation to succeed, and the extension can be used normally after that. It is also possible to install the extension using the UI in VS Code without seeing any warnings.

This is still present in version 0.18.2108.160999 of the QDK.

[2021-09-02 02:15] bettinaheim commented on #1089
Minimal repro:
[code]

[2021-09-02 02:58] bettinaheim commented on #1089
More concisely:
For
[code]
The Id_wrapper accidentally releases the array returned from the Id, despite that is is effectively a return value (which is returned by storing it in the output tuple of the wrapper)...

[2021-09-03 22:59] #1128 closed

[2021-09-04 03:01] bettinaheim commented on #1089
Narrowed it down further:
[code]

[2021-09-04 03:44] bettinaheim opened #1133 "Incorrect range information for diagnostics"
The range information for the error messages is inaccurate for the following snippet:
![image](https://user-images.githubusercontent.com/34236215/132081280-2a2d3ffa-044e-4a39-8785-7812d3360874.png)

Extension version: 0.18.2108.160310

[2021-09-08 20:08] ScottCarda-MS commented on #1101
Closed with #1103.

[2021-09-08 20:08] #1101 closed

[2021-09-09 21:51] warren-jones commented on #1130
The “DeprecationWarning: Buffer() is deprecated…” warning is also mentioned in these VS Code Issues:
https://github.com/microsoft/vscode/issues/123180
https://github.com/microsoft/vscode/issues/127182
https://github.com/microsoft/vscode/issues/74438
https://github.com/microsoft/vscode/issues/65088
https://github.com/Microsoft/vscode/issues/67534
https://github.com/Microsoft/vscode/issues/68044
htt

[2021-09-13 17:42] #863 closed

[2021-09-13 17:43] ScottCarda-MS commented on #863
Closed with #1135

[2021-09-13 19:20] ScottCarda-MS opened #1144 "Formatter Removes Deprecated Parenthesis Around For-Loop Initializer"
The formatter should have a rule for removing the parenthesis around for-loop initializers.

For example:
[code]
should be updated to
[code]

[2021-09-14 05:26] ricardo-espinoza commented on #1130
Agreed. Contacting the VS Code team for feedback.

[2021-09-14 10:56] munishgoyal1 commented on #1130
Tagging Isidor - PM on the VS Code team to take it forward. @isidorn

[2021-09-14 13:27] isidorn commented on #1130
I have commented on the vscode issue, let's continue the discussion there microsoft/vscode#133062
Thanks!

[2021-09-14 17:01] ricardo-espinoza opened #1146 "Provide additional user feedback during Language Server installation and initialization"
Currently, when the VS Code extension is updating the language server, it takes a while to startup and the only indicator to users of the status bar that can be missed. Adding notifications with more visibility into the initialization progress (by either notifications or a progress dialog) could make it more clear.

Details on phrasing to be added below.

[2021-09-16 00:11] samarsha commented on #1133
So there are some extra diagnostics that are caused because `idxNegative` is typed as `InvalidType`, which the type checker complains about when it tries to check if it's a valid index type. It seems like the `InvalidType` gets a `Generated` range instead of `Inferred`. That is possibly a bug, but it should never matter because the compiler isn't supposed to generate additional type errors for `In

[2021-09-16 01:43] bettinaheim opened #1151 "String arrays are not properly printed"
The array `["", "hello"]` is printed as `[hello]`.
The issue is likely caused by missing quotation marks around interpolation arguments if those arguments are of type string.

[2021-09-16 01:49] bettinaheim opened #1152 "QIR generation can fail when there are blocks with pending reference counts that terminate in being unreachable"
The following code causes a failure "cannot close scope that has pending calls to increase reference counts" upon QIR generation:

[code]

[2021-09-16 04:24] bettinaheim commented on #1086
The issue might be the boolean (i8 rather than i1) that
    bool __quantum__rt__result_equal(RESULT* r1, RESULT* r2) // NOLINT
returns.

[2021-09-16 05:34] bettinaheim commented on #1086
I fix this particular issue by removing the unnecessary use of __quantum__rt__bool_to_string, but we need to check the runtime functions carefully.

[2021-09-16 05:38] #1089 closed

[2021-09-16 20:40] ScottCarda-MS commented on #1144
Closed with #1136.

[2021-09-16 20:40] #1144 closed

[2021-09-16 20:43] ScottCarda-MS opened #1154 "Formatter Should Take Multiple Inputs"
The formatter should be able to process multiple file inputs with one use of the tool. The CLI should reflect this by allowing multiple files to be passed in as inputs.

[2021-09-16 20:47] ScottCarda-MS opened #1155 "Formatter Takes Directories as Inputs"
The formatter should be able to take directories as input paths and process all .qs files in the given directories. Directories should be able to be given along side files as inputs (see multiple inputs #1154). A flag should be added to the CLI that allows directories to be processed recursively, processing all .qs files in subdirectories.

[2021-09-20 20:15] bettinaheim opened #1157 "Find all references does not work in VS"
**Describe the bug**

Find all references does not seem to work in Visual Studio.

**Screenshots**

Even though the highlighting is correct (i.e. the language server accurately finds all occurrences), the find all references query does not show any results:
![image](https://user-images.githubusercontent.com/34236215/134068982-1a876143-7bce-4e2f-b100-325c484f2a11.png)

**System information**

Windo

[2021-09-20 20:16] bettinaheim commented on #1157
@ricardo-espinoza Could you please take a look and make sure this is properly tracked and processed?

[2021-09-20 21:09] #1133 closed

[2021-09-22 05:42] bettinaheim opened #1159 "Entry point function name can clash with the generated function tables"
The function tables are currently named simply by the full name of the callable with the dots replaced by underscores - same as the entry point. This can lead to the name of the entry point being adjusted with a postfix, which breaks code that looks for a function with a particular name.

[2021-09-22 05:51] bettinaheim opened #1160 "Generated QIR for copy-and-update expressions that update a range of items is incorrect"
The QIR for expressions of the form `arr w/ range <- items` incorrectly accesses indices in the items array according to the range value, causing an out of bounds access.

[2021-09-22 05:55] bettinaheim opened #1161 "Value caching behavior is incorrect for copy-and-update expressions that involve range updates"
The test case
[code]
results in the generated QIR failing the validity checks due to a value being released that may not be defined.

[2021-09-22 06:00] bettinaheim opened #1162 "Memory management for copy-and-update expressions is incorrect"
The generated reference counts are incorrect for copy-and-update expressions for which the copy is omitted. Similar to a previously fixed issue with copy-and-reassign statement, the original value may be queued for unreferencing at the end of the scope such that an in-place modification results in unreferencing of the updated items instead of the original items.

[2021-09-22 07:29] bettinaheim opened #1163 "Behavior for closing parenthesis in VS is incorrect"
The behavior for closing parenthesis in general does no work properly when closing parenthesis on the same line.
In particular, the example
[code]
results in the code being replaced by
[code]
Worse, the edit cannot even be undone without also removing the closing parenthesis.

[2021-09-22 07:59] bettinaheim opened #1164 "Copy-and-update expressions for arrays with range updates evaluate incorrectly"
The example
[code]
evaluates to
[0]
[[0], [0]] // this should be [[0,0], [0]] instead

[2021-09-22 19:10] kuzminrobin commented on #1086
See [here](https://github.com/microsoft/qsharp-runtime/pull/827#discussion_r713452949).

[2021-09-23 05:33] #1152 closed

[2021-09-23 05:33] #1151 closed

[2021-09-23 05:34] #1086 closed

[2021-09-23 05:34] #1159 closed

[2021-09-23 05:34] #1160 closed

[2021-09-23 05:35] #1096 closed

[2021-09-23 05:35] #1164 closed

[2021-09-23 05:35] #1162 closed

[2021-09-23 05:35] #1161 closed

[2021-09-27 16:40] dphansen opened #1170 "Warnings in API documentations"
**Describe the bug**

I noticed that in the PRs for the Quantum API docs there are some warnings. These articles are auto generated.

**To Reproduce**

See the past PRs in https://github.com/MicrosoftDocs/quantum-api/pulls?q=is%3Apr+reference+in%3Atitle

Example PR: https://github.com/MicrosoftDocs/quantum-api/pull/37

**Expected behavior**

No warnings or suggestions by the Doc Builds.

[2021-09-27 17:12] cgranade commented on #1170
Thanks for opening this, @dphansen!

Copying an example warning from the private repo used for API generation here:

I'm not sure the best approach for how the build pipeline should set `author` and `ms.author` given that these are automatically generated files and since we don't necessarily have access to the full git history from the docgen tool. For `description` and `ms.date`, though, the fix

[2021-09-27 18:53] dphansen commented on #1170
@cgranade Would you be able to select a person from your team as `author` and `ms.author`? It wouldn't nessesarily need to be the person who wrote the code.

[2021-09-27 22:21] bettinaheim opened #1172 "Incorrect syntax highlighting"
In this example,
[code]
clicking Foo in the editor highlights all occurrences of Foo, but also mapper, which has an inferred type that includes Foo. The OnType handler in IdentifierReferences should be changed to only look at annotated type ranges (not inferred type ranges).

[2021-09-27 22:22] bettinaheim commented on #1172
Fixed with https://github.com/microsoft/qsharp-compiler/pull/1148.

[2021-09-27 22:22] #1172 closed

[2021-09-29 23:21] #1155 closed

[2021-09-29 23:21] #1154 closed

[2021-09-30 07:15] leonardovenoso commented on #550
Change from Q-Test to QTest and be sure you have installed .net 3.x.

[2021-09-30 21:45] ricardo-espinoza opened #1178 "Add Q# with Python host program template"
**Is your feature request related to a problem? Please describe.**
Selecting a single template for Python+Q# would be a convenient addition to simplify the creation of both the host program and the Q# library for our users.

**Describe the solution you'd like**
Adding a new template to the VS Code extension that directly creates a Q# library together with the pre-configured Python host program via

[2021-09-30 21:54] cgranade commented on #1178
For command-line templates, could look at using cookiecutter; that project is pretty popular in the Python community. Alternatively, we could separate the yeoman templates from the VSCode extension a little more and allow people to use npm to template, but at the cost of requiring another dependency.

[2021-10-02 04:21] #1163 closed

[2021-10-05 23:42] tcNickolas opened #1188 "Incorrect syntax highlight for interpolated strings"
**Describe the bug**

Expressions in squiggly brackets inside interpolated strings are highlighted as a string, rather than as Q# code fragments.

**To Reproduce**

For example, the string
[code]
is highlighted as follows (on GitHub as well):
![image](https://user-images.githubusercontent.com/10113024/136117065-e6aebb71-5515-4784-ba2a-31043b09d639.png)

**Expected behavior**

I expect the highligh

[2021-10-18 18:31] ScottCarda-MS opened #1200 "Formatter Updates Deprecated Boolean Operator Syntax"
The formatter should have a rule for updating the Boolean operators to their supported keywords.
- `&&` should be replaced with `and`.
- `||` should be replaced with `or`.
- `!` should be replaced with `not`.

For example:
[code]
should be updated to
[code]

[2021-10-18 18:44] ScottCarda-MS opened #1202 "Formatter Updates Deprecated Specialization Declaration Parameters"
The formatter should have a rule for updating the specialization declaration syntax, replacing the deprecated syntax for parameters with the supported syntax.
- `body ()` should be replaced with `body (...)`.
- `adjoint ()` should be replaced with `adjoint (...)`.
- `controlled (cs)` should be replaced with `controlled (cs, ...)`
- `adjoint controlled (cs)` should be replaced with `adjoint control

[2021-10-21 08:02] bettinaheim opened #1208 "Language server is logging exceptions for editor commands"
Read-only editor commands are allowed to be executed out of order, to ensure that they are processed rapidly. This means that it is perfectly possible and reasonable to end up with inconsistencies in the process. Inconsistent information should be ignored, and used to be ignored, but somehow the latest version of the language server seems to be logging these as issues rather then ignoring them.
Lo

[2021-10-21 08:05] bettinaheim opened #1209 "Update rules are not processing declarations of mutable variables correctly"
A statement
[code]
is not updated by the update rules of the qsfmt but instead merely left as is.
The same assigned to an immutable variable works fine:
[code]

[2021-10-21 21:38] ScottCarda-MS opened #1211 "Fill out Support for Parsing Statement Kinds"
There are many kinds of statements that are not fully supported yet, such as mutable statements and expression statements. When these unsupported statements are encountered by the parser, they are treated as raw text, rather than getting parsed into a proper data structure in the concrete syntax tree. This can allow for some basic formatting rules to still apply, but more complex rules, such as th

[2021-10-23 00:05] yjt98765 commented on #1202
Then it should be easy to implement. I will create a pull request soon...

[2021-10-23 02:05] bettinaheim opened #1216 "NamespaceItem items are incomplete in formatter"
Since namespace items are incomplete, e.g. type declarations are not currently not processed by qsfmt.

Namespace kinds that need support are:
- [x] Open Directives
- [x] Type Declarations

[2021-10-26 01:35] ricardo-espinoza opened #1223 "Q# Code Action on adding documentation for operation is broken for @EntryPoint() decorated ones"
**Describe the bug**

In both Visual Studio and Visual Studio Code, there is a CodeAction that suggests adding documentation to Q# operations. This action becomes unavailable when the corresponding operation is decorated with `@EntryPoint()`.

**To Reproduce**

1. Start from a Q# project with a code file with contents as shown below.
2. Select the operation name.
3. Invoke Code Actions through the

[2021-10-27 01:34] ricardo-espinoza opened #1224 "Quantum Development Kit should be updated to .NET 6"
With the upcoming release of .NET6 on November 9th, 2021 we'll have a new LTS version which will be supported until the end 2024. See here the official [.NET support policy](https://dotnet.microsoft.com/platform/support/policy).

Currently, the QDK is built on, and requires .NET 3.1, which is the current LTS version. However, this version is already almost two years old and approaching the end of

[2021-10-27 21:25] #1200 closed, assigned to nobody

[2021-10-29 09:06] MamarezaAP opened #1229 "Add Q# support to Visual Studio 2022"
It's not long before the official release of Visual Studio 2022, and after all this time since the release of the preview versions, Q# is still not supported in this IDE.
Next point, please match Q# with the latest version of .NET 6. Q# is still stuck in .NET Core 3.1.

[2021-11-03 17:01] cgranade opened #1235 "Q# language server does not work in VS Code when .NET SDK is unavailable"
**Describe the bug**

When using the VS Code extension for Q#, language server functionality is not available unless the `dotnet` command is present. In particular, when working with Q# + Python workflows using the `qsharp` conda package, the .NET SDK is not typically installed.

**To Reproduce**

Steps to reproduce the behavior:
1. From a new Windows Sandbox instance, install VS Code.
2. Launch V

[2021-11-03 18:44] ScottCarda-MS commented on #1202
Resolved with #1226.

[2021-11-03 18:44] #1202 closed

[2021-11-05 10:27] yjt98765 commented on #1216
I have started to implement them. However, the ANTLR rule [`attribute`](https://github.com/microsoft/qsharp-compiler/blob/main/src/QsFmt/Parser/QSharpParser.g4#L35) confuses me:
[code]
I cannot find related information in the Q# [user guide](https://docs.microsoft.com/en-us/azure/quantum/user-guide/language/programstructure/typedeclarations) or code examples in test files. Maybe it is a deprecated

[2021-11-06 03:53] yjt98765 commented on #1216
I see... It refers to the `@Attribute()`

[2021-11-11 13:20] QuXing9 opened #1253 "Operation containing the qubit array cannot be called twice."
## TestCase

[code]

## Output
![image-20211111210300248](https://user-images.githubusercontent.com/40267809/141305011-349a6541-d013-4e5f-9052-112559dba58a.png)

## Environment

`dotnet version`: 3.1.414

`QDK version`: 0.20.2110171573

## Description

When I execute operation `StatePrep_DifferentBasis` the second time, it reports an error: `Unhandled exception:Released qubits are not in zero stat

[2021-11-11 18:57] ScottCarda-MS commented on #1211
Completed by #1212

[2021-11-11 18:57] #1211 closed

[2021-11-11 18:57] ScottCarda-MS commented on #1209
Fixed with #1212

[2021-11-11 18:57] #1209 closed

[2021-11-11 23:57] tcNickolas commented on #1253
Yes, this is expected behavior when running programs on QDK simulators. You should get the same behavior even without the second array of qubits, by just allocating a qubit array, preparing a non-zero state on it, and releasing the qubits without returning them to the 0 state.

Resetting the qubits to 0 state or measuring them before release is required by the Q# specification - not doing so may l

[2021-11-12 06:54] ScottCarda-MS commented on #1216
Completed with #1239

[2021-11-12 06:54] #1216 closed

[2021-11-12 19:56] tcNickolas opened #1256 "IntelliSense marks all callables in VS 2019 as "already exists""
**Describe the bug**

When I open a project in VS 2019, IntelliSense often errorneously underlines all callables with red squiggles, claiming "QS6001 A function or operation already exists". The build passes (correctly), since these callables are defined only once.

**To Reproduce**

I cannot pinpoint what exactly causes this; it often happens if I've worked with this project before, and deleting

[2021-11-16 07:49] QuXing9 commented on #1253
Got it! Thank you!

[2021-11-16 07:49] #1253 closed

[2021-11-19 02:18] bettinaheim commented on #1256
This is tricky without repro steps - I haven't seen this, but something similar is a known issue when target packages are used. You are not using target packages, are you?

[2021-11-19 03:52] tcNickolas commented on #1256
I'm using regular kata projects, and I get this behavior on multiple ones -
just opened the TruthTables kata from a fresh repository clone (so no old
builds of mismatched versions hanging around) and I'm getting this again.

On Thu, Nov 18, 2021 at 6:18 PM bettinaheim ***@***.***>
wrote:

[2021-11-22 20:10] guenp commented on #1223
It looks like code actions are also not working for operations without the `@EntryPoint()` decorator.

[2021-11-23 18:04] guenp opened #1268 "Q# Code Actions in Visual Studio Code fails with"
**Describe the bug**

Code actions do not work. When hovering over a code warning, the pop up says "no fixes available".

<img width="215" alt="Screenshot 2021-11-23 100314" src="https://user-images.githubusercontent.com/4041805/143079651-55a57966-ec68-4941-a2b0-eb20e32dbcdc.png">

The following error is displayed in the logs:
[code]

**To Reproduce**

Create a new file with the following contents

[2021-11-24 18:22] guenp commented on #1223
Opened a new issue here for the issue I mentioned above: https://github.com/microsoft/qsharp-compiler/issues/1268

[2021-11-25 14:32] QuXing9 opened #1271 "It takes too long to execute the empty operation on Ubuntu18.04."
### Testcase

[code]

### Enviroment

`Operating system`: Ubuntu18.04

`dotnet version`: 3.1.410

`QDK`: 0.18.2106148911

### Command：

`dotnet run`

### Description

As shown above, the testcase has an empty operation `MinusState`. When executing the testcase on Windows, it takes about 8 seconds. But it takes  about 87 seconds on Ubuntu18.04. After I fill the operation with the Hadamard transform

[2021-11-29 19:28] filipw opened #1273 "QDK is broken when ARM64 .NET 6 SDK is installed"
**Describe the bug**

Since .NET 6 introduced the split into how the ARM64 and x64 SDKs are installed, the experience with Q# is broken on ARM (where things used to work OK through emulation). I can only speak about MacOS here, but it could be that other platforms experience the same.

If you have .NET 6 ARM SDK installed, and x64 versions of SDK 5.x.x and 3.1.x, the "dotnet" command from the CLI

[2021-12-01 22:17] ricardo-espinoza commented on #1273
Thanks for the report, @filipw! We're currently working on adding support for .NET6 in the QDK, and we'll consider this issue as part of the work we're doing.

[2021-12-02 23:47] ricardo-espinoza commented on #1268
After some investigation and debugging our different setups, we concluded that the issue is not that code actions are not available (they are, as light bulb suggestions when clicking on them or when using ctrl+.), however, there are two problems:

- The Language Server requires the user to have installed .NET Core SDK 3.1 for it to work properly. This dependency is not intentional, and is being tr

[2021-12-03 00:24] ricardo-espinoza commented on #967
This isn't a Linux specific problem. The issue here is that code actions are not specified with Kind = QuickFix, so they are available but are not shown as quick fix options in the UI referenced in the UI above.

This is tracked by bug #1268

[2021-12-03 00:24] #967 closed

[2021-12-11 00:02] sebastiantramontana opened #1282 "Add Q# support to Visual Studio 2022"
t's not long before the official release of Visual Studio 2022, and after all this time since the release of the preview versions, Q# is still not supported in this IDE.
Next point, please match Q# with the latest version of .NET 6. Q# is still stuck in .NET Core 3.1.

[2021-12-13 16:28] vxfield opened #1281 "Visual Studio Extension requires .NET Core 2.1 Runtime"
**Describe the bug**

When installing the Visual Studio Quantum Development Kit Extension, it shows a pre-requisite of:
`.NET Core 2.1 Runtime (out of support)`
but the extension and QDK tools actually depends on .NET Core 3.1.

The expected behavior is to show the following pre-requisite:
`.NET Core 3.1 Runtime`

Or if we move to `.NET 6`, the `.NET 6 runtime`.

**To Reproduce**

Steps to reprodu

[2021-12-14 02:17] tcNickolas opened #1283 "Q# Formatter fails on valid Q# code"
**Describe the bug**

I used the Q# Formatter to update the deprecated code in the Katas, and on several of the projects it failed to parse the code. The same code builds successfully with Q# compiler, so it is not the case of invalid Q# code.

**To Reproduce**

Steps to reproduce the behavior:
1. Clone the [katas repo](https://github.com/microsoft/QuantumKatas/) and go to the KeyDistribution_BB84

[2021-12-14 18:30] tcNickolas commented on #1283
For MagicSquaresGame, the problematic code snippets are

    let rows = [[+1, +1, +1],
                [+1, -1, -1],
                [-1, +1, -1]];

    return [[(+1, [PauliX, PauliX]), (+1, [PauliX, PauliI]), (+1, [PauliI, PauliX])],
            [(+1, [PauliY, PauliY]), (-1, [PauliX, PauliZ]), (-1, [PauliZ, PauliX])],
            [(+1, [PauliZ, PauliZ]), (+1, [PauliI, PauliZ]), (+1, [PauliZ, Paul

[2021-12-14 19:33] ScottCarda-MS commented on #1283
Thanks @yjt98765! I appreciate you taking the time to look into this! I look forward to reviewing your PR. I will go ahead and assign the issue to you. Let me know if you have any questions.

[2021-12-15 09:24] yjt98765 commented on #1283
@tcNickolas Yes, it is the unary plus. I have added it to the grammar. With my pull request, all the test cases in QuantumKatas can be processes without errors. I did not check the result, though.

@ScottCarda-MS Thank you for assigning me!

[2021-12-15 13:11] bettinaheim commented on #1271
That is an interesting one. No idea why that would be.

[2021-12-15 13:32] QuXing9 opened #1286 "An error about the Binom function"
## Description

As described in the qsharp [document](https://docs.microsoft.com/zh-cn/qsharp/api/qsharp/microsoft.quantum.math.binom)，the function `Binom` computes the binomial coefficient of `n` and `k`. As shown in the below testcase, when the value of the second argument `k` is `zero` or equal to the first argument `n`， the qsharp compiler reports an OverflowException instead of outputting the

[2021-12-15 13:40] bettinaheim commented on #1286
@cgranade I believe this is a library bug.

[2021-12-15 18:57] ScottCarda-MS commented on #1115
Resolved with #1277

[2021-12-15 18:57] #1115 closed

[2021-12-16 01:17] tcNickolas opened #1289 "Improve usability of the Q# formatter"
**Describe the solution you'd like**

* [x] Avoid overwriting files if there are no changes done to them.
You can see this effect when the tool runs on files in format "UTF-8 with signature": the files get overwritten (in format without a signature) even if the tool doesn't update them otherwise.
* [x] Offer a summary of the tool run upon its completion.
The tool quits without a summary, unless it

[2021-12-16 02:17] #1283 closed

[2021-12-31 12:13] ltalirz opened #1293 "QIR generation support for Ubuntu 18.04"
**Describe the bug**

It seems to me that on Ubuntu 18.04 the QDK installs a broken `libllvm.runtime.ubuntu.20.04-x64` nuget package.

While `dotnet run` using the local simulator works fine, I get an error from `Microsoft.Quantum.QirGeneration.dll` when trying to submit to the fullstate cloud simulator.

**To Reproduce**

I'm new to Q#, so the following `Dockerfile` can probably be simplified fur

[2021-12-31 12:16] ltalirz commented on #1293
I have to admit that it is not entirely clear to me which versions of Ubuntu QDK officially supports.
Looking through the code [1] it seems to be 18.04 and 20.04 (?) but e.g. the azure cli [officially supports ubuntu down to 14.04](https://docs.microsoft.com/en-us/cli/azure/install-azure-cli-linux?pivots=apt#overview).

If the supported Ubuntu versions differ from those of the azure cli, perhaps i

[2022-01-01 02:57] #1051 closed

[2022-01-01 02:57] #1111 closed

[2022-01-01 02:58] QuXing9 commented on #1111
Problem solved, thank you

[2022-01-01 02:59] QuXing9 commented on #1051
Problem solved, thanks!

[2022-01-04 19:05] ScottCarda-MS opened #1294 "Implement Lambda Lifter for Abstracting Lambda Expression in the AST"
We need to implement a content lifter transformation for lifting the bodies of lambda expressions into generated callables and replacing the lambda expression with a call to that generated callable.

- [X] Rework the base lifter to prepare for adding additional functionality.
- [X] Add functionality to base lifter to work with functions.
- [X] Update base lifter to generate callables with minimal

[2022-01-06 03:01] bettinaheim commented on #1293
@ltalirz Thank you for filing the issue and pointing out that the documentation is not clear here!
The support for 18.04 is indeed limited currently. However, you should be able to submit to the cloud simulator from Ubuntu 18.04 by adding the Ubuntu version to your project file:

Please edit the project file of the project that you would like to submit to the cloud simulator to look something like

[2022-01-06 03:55] bettinaheim opened #1297 "Updating the ExecutionTarget in the project file is not correctly registered by the language server"
**Describe the bug**

Opening the project in an IDE, and editing the project file to set the ExecutionTarget to e.g. ionq.qpu instead does not correctly update the generated IntelliSense information.

**Expected behavior**

After saving the project file with the updated execution target, squiggly underlining should appear for the measurement comparisons.

**System information**

Applies to VS and

[2022-01-06 16:17] ltalirz commented on #1293
Thanks a lot for your help, with your suggestions I'm now able to submit from Ubuntu 18.04!

Feel free to close the issue, or to keep it open as a reminder about the local simulator/docs.

[2022-01-07 04:20] bettinaheim commented on #1293
I'll close this since I opened a separate issue for the docs.

[2022-01-07 04:20] #1293 closed

[2022-01-11 00:30] ScottCarda-MS opened #1300 "Adjointable Operation Returns Non-Unit Causes Hard Crash Instead of Error Message"
**Describe the bug**

If an operation is incorrectly defined to be adjointable while also returning a non-unit type, the compiler gives a proper error message: "Adjoint specializations can only be defined for operations returning Unit." However, if that operation is defined and a call to that operation is used somewhere in the code. The type-checking logic seems to crash.

**To Reproduce**

Try to

[2022-01-11 01:24] samarsha commented on #1300
Does the compiler crash include an exception stack trace or some other output?

[2022-01-11 01:32] ScottCarda-MS commented on #1300
Here is a stack trace for the crashing error:
[code]